<template lang="html">
  <div class="container catalog">
    <div class="breadcrumbs">
      <router-link :to="{name: 'index'}">Главная</router-link>
      <span class="br_has_prev">Каталог</span>
    </div>
    <div class="single-page-header">
      <h1>Каталог</h1>
      <div class="filter_stores" v-click-outside="hide_filter">
        <p>Где будете покупать:
          <a href="#"
             id="show_filter"
             @click="show_filter"
          >Где дешевле</a>
        </p>
        <form action="" method="get" class="fade_anim" id="filter_stores" style="">
          <span class="close" @click="hide_filter">&#215;</span>
          <div class="radio_button">
            <input type="radio" id="shop_metro" name="store">
            <label for="shop_metro">METRO</label>
          </div>
          <div class="radio_button">
            <input type="radio" id="shop_ashan" name="store">
            <label for="shop_ashan">Ашан</label>
          </div>
          <div class="radio_button">
            <input type="radio" id="shop_cheap" name="store">
            <label for="shop_cheap">Где дешевле</label>
          </div>
        </form>
      </div>
    </div>
    <category-overview/>
    <category-overview/>
  </div>
</template>

<script>
import CategoryOverview from '@/components/catalog/includes/CategoryOverview'
export default {
  name: 'catalogIndex',
  components: {
    CategoryOverview
  },
  mounted () {
    document.title = 'Как оформить заказ'
  },
  methods: {
    show_filter (e) {
      e.preventDefault()
      document.getElementsByClassName('filter_stores')[0].classList.add('active')
      document.getElementById('filter_stores').classList.add('animated')
    },
    hide_filter () {
      document.getElementsByClassName('filter_stores')[0].classList.remove('active')
      document.getElementById('filter_stores').classList.remove('animated')
    }
  }
}
</script>

<style scoped lang="scss">
  .filter_stores {
    position: relative;
    form#filter_stores {
      top: 20px;
      right: 0;
      background: var(--inversion);
      box-shadow: var(--box-shadow);
      padding: 29px 29px 14px;
      border-radius: 5px;
      .close {
        color: var(--magical_red);
        position: absolute;
        top: 0;
        right: 0;
        font-size: 33px;
        line-height: 1;
        width: 33px;
        text-align: center;
        cursor: pointer;
      }
    }
    form#filter_stores.animated {
      top: 30px;
    }
  }
  .filter_stores.active {
    #show_filter::after {
      transform: rotate(180deg);
    }
  }

</style>
