<template lang="html">
  <div class="container">
    <section-list :active_category="category_id"/>
  </div>
</template>

<script>
import sectionList from '@/components/catalog/includes/CatalogSectionList'
export default {
  name: 'CatalogSection',
  props: ['slug', 'pk'],
  components: {
    sectionList
  },
  data () {
    return {
      category_id: this.pk
    }
  }
}
</script>

<style scoped lang="scss">

</style>
