<div class="cart_item card">
    <p class="cart_item-name">Лимоны в сетке 500г</p>
    <a href="" class="js-delete-item"></a>
    <div class="cart_item-descr">
        <img src="images/cat_icons/big_bread.jpg" alt="">
        <div class="cart_item-prices">
            <p class="price-per-item"><span>111,6</span> ₽</p>
            <p class="price-per-kg"><span>111,6</span> ₽</p>
            <img src="images/shop-metro.png" alt="">
        </div>
        <div class="cart_item-qty">
            <button class="eq-minus btn btn-solid">-</button>
            <input type="text" readonly value="1" name="item-1-qty">
            <button class="eq-plus btn btn-solid">+</button>
        </div>
    </div>
</div>
<div class="cart_item card">
    <p class="cart_item-name">Хлеб "Восход" Бородинский Ржаной со свежими жареными...</p>
    <a href="" class="js-delete-item"></a>
    <div class="cart_item-descr">
        <img src="images/cat_icons/big_bread.jpg" alt="">
        <div class="cart_item-prices">
            <p class="price-per-item"><span>59,6</span> ₽</p>
            <p class="price-per-kg"><span>59,6</span> ₽</p>
            <img src="images/shop-ashan.png" alt="">
        </div>
        <div class="cart_item-qty">
            <button class="eq-minus btn btn-solid">-</button>
            <input type="text" readonly value="1" name="item-1-qty">
            <button class="eq-plus btn btn-solid">+</button>
        </div>
    </div>
</div>