<div class="load-layer">
    <div class="preloader"><img src="images/25.gif" alt=""></div>
</div>
<header>
    <div class="header_fixed">
        <div class="container">
            <nav class="header_navigation">
                <a class="nav_item" href="https://ufa.gipervdom.ru/intro/" target="_blank">О Гипер в дом</a>
                <a class="nav_item" href="howto.html">Как оформить заказ</a>
                <a class="nav_item" href="delivery_and_payments.html">Условия доставки</a>
                <a class="nav_item" href="reviews.html">Отзывы и предложения</a>
                <a class="nav_item" href="contacts.html">Контакты</a>
            </nav>
            <div class="header_rightblock">
                <a href="#" class="select_location">
                    <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.2435 1.74387C9.1102 0.619373 7.60328 0 6.00061 0C4.39762 0 2.89102 0.619373 1.75769 1.74387C-0.339669 3.82459 -0.600313 7.73952 1.19322 10.1115L6.00061 17L10.8008 10.1211C12.6015 7.73952 12.3409 3.82459 10.2435 1.74387ZM6.05599 8.07203C4.84851 8.07203 3.8657 7.09686 3.8657 5.89879C3.8657 4.70071 4.84851 3.72555 6.05599 3.72555C7.26347 3.72555 8.24628 4.70071 8.24628 5.89879C8.24628 7.09686 7.26347 8.07203 6.05599 8.07203Z" fill="url(#paint0_linear)"/>
                        <defs>
                            <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(14.4739 7.87766) scale(12 17) rotate(132.032)">
                                <stop stop-color="#F14109"/>
                                <stop offset="0.898705" stop-color="#E30413"/>
                            </linearGradient>
                        </defs>
                    </svg>
                    <span>Стерлитамак</span>
                </a>
                <form action="" method="get" class="pop-filter fade_anim" id="cities_select" style="">
                    <span class="close">&#215;</span>
                    <div class="radio_button">
                        <input type="radio" id="city1" name="city">
                        <label for="city1">Уфа</label>
                    </div>
                    <div class="radio_button">
                        <input type="radio" id="city2" name="city">
                        <label for="city2">Стерлитамак</label>
                    </div>
                    <div class="radio_button">
                        <input type="radio" id="city3" name="city">
                        <label for="city3">Салават</label>
                    </div>
                </form>
                <a href="tel: 88007006357" class="header_phone">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.9247 9.6137C12.3692 9.06538 11.6759 9.06538 11.124 9.6137C10.703 10.0311 10.282 10.4486 9.86815 10.8731C9.75494 10.9898 9.65943 11.0146 9.52146 10.9367C9.24906 10.7882 8.95898 10.6679 8.69719 10.5052C7.47671 9.73752 6.45434 8.75054 5.54871 7.63976C5.09943 7.0879 4.69967 6.49713 4.4202 5.83207C4.3636 5.69765 4.37421 5.60921 4.48388 5.49955C4.90486 5.09273 5.31522 4.6753 5.72912 4.25787C6.30576 3.67771 6.30576 2.99851 5.72559 2.41481C5.39659 2.08228 5.06759 1.75683 4.73859 1.4243C4.39898 1.0847 4.0629 0.741557 3.71975 0.405491C3.16435 -0.135752 2.47097 -0.135752 1.9191 0.409029C1.49459 0.826458 1.08776 1.2545 0.656168 1.66485C0.256416 2.04337 0.0547717 2.50679 0.0123202 3.04803C-0.0548947 3.92888 0.160901 4.7602 0.465136 5.5703C1.08776 7.24709 2.03584 8.73639 3.18557 10.1019C4.73859 11.9485 6.5923 13.4095 8.76087 14.4637C9.73725 14.9377 10.749 15.3021 11.8492 15.3622C12.6063 15.4046 13.2643 15.2136 13.7914 14.6229C14.1522 14.2196 14.559 13.8517 14.9411 13.4661C15.5071 12.893 15.5107 12.1996 14.9482 11.6336C14.276 10.958 13.6003 10.2858 12.9247 9.6137Z" transform="translate(0 1.63213)" fill="url(#paint0_linear)"/>
                        <path d="M3.83479 5.03038L5.14017 4.80751C4.93499 3.60829 4.36897 2.52226 3.50932 1.6591C2.60015 0.749958 1.45043 0.176877 0.183957 0L1.38189e-07 1.31243C0.979923 1.45039 1.8714 1.89258 2.57539 2.59655C3.24047 3.26161 3.67559 4.10354 3.83479 5.03038Z" transform="translate(8.41418 3.39604)" fill="url(#paint1_linear)"/>
                        <path d="M5.70265 2.7522C4.19562 1.24521 2.28884 0.293616 0.183956 0L-7.7731e-08 1.31243C1.81834 1.56713 3.46687 2.39138 4.76872 3.68965C6.00335 4.92425 6.81347 6.48431 7.10709 8.20001L8.41247 7.97715C8.06932 5.98905 7.13185 4.18491 5.70265 2.7522Z" transform="translate(8.58752)" fill="url(#paint2_linear)"/>
                        <defs>
                            <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(18.536 7.12134) scale(15.3678) rotate(132.032)">
                                <stop stop-color="#F14109"/>
                                <stop offset="0.898705" stop-color="#E30413"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6.19986 2.33104) scale(5.14017 5.03038) rotate(132.032)">
                                <stop stop-color="#F14109"/>
                                <stop offset="0.898705" stop-color="#E30413"/>
                            </linearGradient>
                            <linearGradient id="paint2_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.1468 3.79982) scale(8.41247 8.20001) rotate(132.032)">
                                <stop stop-color="#F14109"/>
                                <stop offset="0.898705" stop-color="#E30413"/>
                            </linearGradient>
                        </defs>
                    </svg>
                    <span>8-800-700-63-57</span>
                </a>
            </div>
        </div>
    </div>
    <div class="header_static">
        <div class="container">
            <!-- в этом меню активная ссылка получает class="active" -->
            <div class="header_logo">
                <a href="index.html"><img src="images/logo_gipervdom.svg" alt=""></a>
            </div>
            <div class="header_catalog">
                <a href="catalog.html">
                    <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="11" height="1.5" rx="0.75" fill="#888888"/>
                        <rect width="11" height="1.5" rx="0.75" transform="translate(0 5.14282)" fill="#888888"/>
                        <rect width="11" height="1.5" rx="0.75" transform="translate(0 10.2856)" fill="#888888"/>
                    </svg>
                    <span>Каталог</span>
                </a>
            </div>
            <div class="header_search">
                <form action="search_results.html" method="get">
                    <input type="text" name="q" placeholder="Умный поиск" autocomplete="off">
                    <div class="input-autocomplete">
                        <ul class="scrollable">
                            <li>
                                <a href="detail.html">
                                    <span class="autocomplete-item">Лимон, 500г</span>
                                    <span class="autocomplete-note">Фрукты</span>
                                </a>
                            </li>
                            <li>
                                <a href="detail.html">
                                    <span class="autocomplete-item">Сок добрый</span>
                                    <span class="autocomplete-note">Соки, воды</span>
                                </a>
                            </li>
                            <li>
                                <a href="detail.html">
                                    <span class="autocomplete-item">Пирог, 500г</span>
                                    <span class="autocomplete-note">Хлебобулочные изделия</span>
                                </a>
                            </li>
                            <li>
                                <a href="detail.html">
                                    <span class="autocomplete-item">Лимон, 500г</span>
                                    <span class="autocomplete-note">Фрукты</span>
                                </a>
                            </li>
                            <li>
                                <a href="detail.html">
                                    <span class="autocomplete-item">Сок добрый</span>
                                    <span class="autocomplete-note">Соки, воды</span>
                                </a>
                            </li>
                            <li>
                                <a href="detail.html">
                                    <span class="autocomplete-item">Пирог, 500г</span>
                                    <span class="autocomplete-note">Хлебобулочные изделия</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="header_personal">
                <a href="#" id="show_personal_menu">
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 10.5012C21 4.71488 16.2851 0 10.4988 0C4.71241 0 0 4.71488 0 10.5012C0 13.6883 1.44598 16.5554 3.69552 18.4826C3.7228 18.5099 3.75008 18.5371 3.80217 18.5619C5.62265 20.0898 7.95406 21 10.526 21C13.0435 21 15.3749 20.0898 17.1954 18.6165C17.302 18.5892 17.3838 18.5099 17.4359 18.428C19.6086 16.4736 21 13.661 21 10.5012ZM0.964799 10.5012C0.964799 5.25062 5.25062 0.964799 10.5012 0.964799C15.7519 0.964799 20.0377 5.25062 20.0377 10.5012C20.0377 13.0732 19.0208 15.4021 17.359 17.1185C17.0912 15.8585 16.2876 13.7156 13.8223 12.3242C14.3853 11.6273 14.7052 10.717 14.7052 9.75224C14.7052 7.4481 12.8302 5.57306 10.526 5.57306C8.22191 5.57306 6.34687 7.4481 6.34687 9.75224C6.34687 10.717 6.69409 11.6 7.22983 12.3242C4.74219 13.7156 3.9386 15.8585 3.69799 17.1185C2.00897 15.4294 0.964799 13.0732 0.964799 10.5012ZM7.28686 9.77701C7.28686 8.00862 8.73284 6.56264 10.5012 6.56264C12.2696 6.56264 13.7156 8.00862 13.7156 9.77701C13.7156 11.5454 12.2696 12.9914 10.5012 12.9914C8.73284 12.9914 7.28686 11.5454 7.28686 9.77701ZM4.55367 17.9469C4.60823 17.1706 5.03482 14.544 7.92925 13.0708C8.65348 13.6338 9.53644 13.9537 10.5012 13.9537C11.466 13.9537 12.3763 13.6065 13.1005 13.0435C15.9676 14.5167 16.4215 17.0887 16.5034 17.9196C14.8689 19.2316 12.7806 20.0352 10.531 20.0352C8.2517 20.0377 6.18814 19.2614 4.55367 17.9469Z" transform="translate(1 1)" fill="#474747" stroke="#474747" stroke-width="0.25"/>
                    </svg>
                    <span>Личный кабинет</span>
                </a>
                <div id="personal_menu" class="login-popup fade_anim">
                    <span class="close">&#215;</span>
                    <form action="personal_history.html" class="login-form">
                        <span class="form__error-message"></span>
                        <p class="form-title">Вход</p>
                        <div class="form-block">
                            <label for="login_phone">Номер телефона</label>
                            <input type="tel" name="login_phone" class="required" id="login_phone" placeholder="+7 (___) ___-__-__">
                        </div>
                        <div class="form-block">
                            <label for="login_password">Пароль <a href="forgot-password.html">Забыли пароль?</a></label>
                            <input type="password" class="required" name="login_password" id="login_password">
                        </div>
                        <div class="form-buttons">
                            <a href="registration.html">Регистрация</a>
                            <input type="submit" class="btn btn-solid" value="Войти">
                        </div>
                    </form>
                </div>
            </div>
            <div class="header_basket">
                <a href="" class="js-show-cart">
                    <span class="header__basket_icon">
                        <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9083 3.05451C21.8167 2.95908 21.725 2.86359 21.5417 2.86359H4.125L3.66671 0.381798C3.66671 0.190877 3.39161 7.49881e-09 3.20829 7.49881e-09H0.458294C0.183318 -4.36881e-05 0 0.190877 0 0.477243C0 0.76361 0.183318 0.95453 0.458294 0.95453H2.84166L5.04171 12.6C5.31668 14.1273 6.69168 15.2727 8.15834 15.2727H18.7C18.975 15.2727 19.1583 15.0818 19.1583 14.7954C19.1583 14.5091 18.975 14.3181 18.7 14.3181H8.25C7.51661 14.3181 6.78334 13.9363 6.41671 13.2681L19.8 11.3591C19.9834 11.3591 20.1667 11.1681 20.1667 10.9773L22 3.34088C22 3.34088 22 3.14996 21.9083 3.05451ZM19.3417 10.5L5.95829 12.3136L4.30832 3.72269H20.9L19.3417 10.5Z" transform="translate(1 1)" fill="#474747"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.13043 16.2273C6.79128 16.2273 5.73913 17.2773 5.73913 18.6136C5.73913 19.95 6.79128 21 8.13043 21C9.46959 21 10.5217 19.95 10.5217 18.6136C10.5217 17.2773 9.46959 16.2273 8.13043 16.2273ZM8.13043 20.0455C7.36517 20.0455 6.69565 19.3772 6.69565 18.6136C6.69565 17.85 7.36517 17.1818 8.13043 17.1818C8.8957 17.1818 9.56522 17.85 9.56522 18.6136C9.56522 19.3772 8.8957 20.0455 8.13043 20.0455Z" transform="translate(1 1)" fill="#474747"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.3043 18.6136C15.3043 17.2773 16.3565 16.2273 17.6957 16.2273C19.0347 16.2273 20.087 17.2773 20.087 18.6136C20.087 19.95 19.0348 21 17.6957 21C16.3565 21 15.3043 19.95 15.3043 18.6136ZM16.2609 18.6136C16.2609 19.3772 16.9304 20.0455 17.6957 20.0455C18.4608 20.0455 19.1304 19.3772 19.1304 18.6136C19.1304 17.85 18.4609 17.1818 17.6957 17.1818C16.9304 17.1818 16.2609 17.85 16.2609 18.6136Z" transform="translate(1 1)" fill="#474747"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9083 3.05451C21.8167 2.95908 21.725 2.86359 21.5417 2.86359H4.125L3.66671 0.381798C3.66671 0.190877 3.39161 7.49881e-09 3.20829 7.49881e-09H0.458294C0.183318 -4.36881e-05 0 0.190877 0 0.477243C0 0.76361 0.183318 0.95453 0.458294 0.95453H2.84166L5.04171 12.6C5.31668 14.1273 6.69168 15.2727 8.15834 15.2727H18.7C18.975 15.2727 19.1583 15.0818 19.1583 14.7954C19.1583 14.5091 18.975 14.3181 18.7 14.3181H8.25C7.51661 14.3181 6.78334 13.9363 6.41671 13.2681L19.8 11.3591C19.9834 11.3591 20.1667 11.1681 20.1667 10.9773L22 3.34088C22 3.34088 22 3.14996 21.9083 3.05451ZM19.3417 10.5L5.95829 12.3136L4.30832 3.72269H20.9L19.3417 10.5Z" transform="translate(1 1)" stroke="#474747" stroke-width="0.25"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.13043 16.2273C6.79128 16.2273 5.73913 17.2773 5.73913 18.6136C5.73913 19.95 6.79128 21 8.13043 21C9.46959 21 10.5217 19.95 10.5217 18.6136C10.5217 17.2773 9.46959 16.2273 8.13043 16.2273ZM8.13043 20.0455C7.36517 20.0455 6.69565 19.3772 6.69565 18.6136C6.69565 17.85 7.36517 17.1818 8.13043 17.1818C8.8957 17.1818 9.56522 17.85 9.56522 18.6136C9.56522 19.3772 8.8957 20.0455 8.13043 20.0455Z" transform="translate(1 1)" stroke="#474747" stroke-width="0.25"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.3043 18.6136C15.3043 17.2773 16.3565 16.2273 17.6957 16.2273C19.0347 16.2273 20.087 17.2773 20.087 18.6136C20.087 19.95 19.0348 21 17.6957 21C16.3565 21 15.3043 19.95 15.3043 18.6136ZM16.2609 18.6136C16.2609 19.3772 16.9304 20.0455 17.6957 20.0455C18.4608 20.0455 19.1304 19.3772 19.1304 18.6136C19.1304 17.85 18.4609 17.1818 17.6957 17.1818C16.9304 17.1818 16.2609 17.85 16.2609 18.6136Z" transform="translate(1 1)" stroke="#474747" stroke-width="0.25"/>
                        </svg>
                        <i>0</i>
                    </span>
                    <span>Корзина</span>
                </a>
                <div class="cart__preview fade_anim">
                    <p>Недавно добавленные</p>
                </div>
            </div>
        </div>
    </div>
</header>