<footer class="m_personal_form">
    <div class="container">
        <div class="footer-contacts">
            <a href="tel: 88007006357" class="m_phone">8-800-700-63-57</a>
            <a href="https://wa.me/+79373000011" target="_blank" class="m_whatsapp">Написать в WhatsApp</a>
        </div>
        <div class="footer-menu">
            <a href="m_delivery.html">Условия доставки</a>
            <a href="m_how_to.html">Как оформить заказ</a>
            <a href="m_reviews.html">Отзывы и предложения</a>
            <a href="m_contacts.html">Контакты</a>
        </div>
        <div class="dev-contacts">
            <a href="http://artmax-studio.ru/" target="_blank">
                <span>design by</span>
                <svg width="85" height="17" viewBox="0 0 85 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.42849 13.9842H5.85417L11 6.03266L16.1458 13.9842H12.5797L12.5916 17H22L11 0L0 17H9.40785L9.42849 13.9842Z" fill="#888888"/>
                    <path d="M6.2559 3.54357C6.61217 3.15037 6.7926 2.67375 6.7926 2.13124C6.7926 1.4745 6.55604 0.946334 6.08865 0.560042C5.63558 0.188629 5.02099 0 4.26435 0H0V7H1.72292V4.29862H3.59534L5.25869 6.99947H7.20213L5.43625 4.11637C5.753 3.98565 6.02679 3.79437 6.2559 3.54357ZM1.72235 1.54038H4.25117C4.52553 1.54038 4.7283 1.59511 4.85947 1.70563C4.90185 1.7407 5.03302 1.84963 5.03302 2.15197C5.03302 2.45802 4.9093 2.55579 4.86462 2.59033C4.73746 2.69182 4.51121 2.74655 4.21051 2.74655H1.72235V1.54038Z" transform="translate(35.3223 6)" fill="#888888"/>
                    <path d="M3.69787 0L0 7H1.88387L2.76366 5.3406H5.88245L6.78458 7H8.6822L4.94195 0H3.69787ZM3.58503 3.78746L4.32277 2.40542L5.06681 3.78746H3.58503Z" transform="translate(24 6)" fill="#888888"/>
                    <path d="M3.69787 0L0 7H1.8833L2.76252 5.3406H5.88245L6.78458 7H8.68163L4.94195 0H3.69787ZM3.5856 3.78746L4.3222 2.40542L5.06624 3.78746H3.5856Z" transform="translate(66.5996 6)" fill="#888888"/>
                    <path d="M5.24093 3.45058L8.28927 0H6.13103L4.16812 2.22848L2.20062 0H0.0389451L3.07354 3.48193L0 7H2.12444L4.14349 4.70138L6.14135 7H8.36087L5.24093 3.45058Z" transform="translate(76.6387 6)" fill="#888888"/>
                    <path d="M3.90292 3.43889L1.45372 0H0V7H1.70918V3.13284L3.90178 6.16259L6.09496 3.13284V7H7.80413V0H6.36187L3.90292 3.43889Z" transform="translate(56.1777 6)" fill="#888888"/>
                    <path d="M0 1.54038H2.80089V7H4.52325V1.54038H7.32414V0H0V1.54038Z" transform="translate(44.3613 6)" fill="#888888"/>
                </svg>
            </a>
        </div>
    </div>
</footer>