<div class="load-layer">
    <div class="preloader"><img src="images/25.gif" alt=""></div>
</div>
<header>
    <div class="m_header">
        <div id="js-show-menu">
            <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="0.840027" width="20" height="1.76" rx="0.88" fill="#E30413"/>
                <rect y="6.11998" width="20" height="1.76" rx="0.88" fill="#E30413"/>
                <rect y="11.4" width="20" height="1.76" rx="0.88" fill="#E30413"/>
            </svg>
        </div>
        <a class="m_logo" href="m_index.html"><img src="images/logo_gipervdom.svg" alt=""></a>
        <a href="" class="m_personal" id="show_m_personal_menu">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23 12.0013C23 5.9394 18.0606 1 11.9987 1C5.93681 1 1 5.9394 1 12.0013C1 15.3402 2.51484 18.3438 4.8715 20.3627C4.90008 20.3913 4.92865 20.4199 4.98322 20.4458C6.89039 22.0464 9.33282 23 12.0273 23C14.6646 23 17.107 22.0464 19.0142 20.503C19.1259 20.4744 19.2117 20.3913 19.2662 20.3055C21.5424 18.2581 23 15.3116 23 12.0013ZM2.01074 12.0013C2.01074 6.50065 6.50065 2.01074 12.0013 2.01074C17.5019 2.01074 21.9918 6.50065 21.9918 12.0013C21.9918 14.6958 20.9265 17.1356 19.1857 18.9336C18.9051 17.6137 18.0632 15.3687 15.4805 13.9111C16.0703 13.181 16.4055 12.2274 16.4055 11.2166C16.4055 8.80277 14.4411 6.83845 12.0273 6.83845C9.61343 6.83845 7.6491 8.80277 7.6491 11.2166C7.6491 12.2274 8.01286 13.1524 8.57411 13.9111C5.96801 15.3687 5.12615 17.6137 4.87408 18.9336C3.10463 17.1642 2.01074 14.6958 2.01074 12.0013ZM8.63386 11.2426C8.63386 9.38998 10.1487 7.87514 12.0013 7.87514C13.8539 7.87514 15.3687 9.38998 15.3687 11.2426C15.3687 13.0952 13.8539 14.61 12.0013 14.61C10.1487 14.61 8.63386 13.0952 8.63386 11.2426ZM5.77051 19.8015C5.82767 18.9882 6.27457 16.2366 9.30683 14.6932C10.0655 15.283 10.9906 15.6182 12.0013 15.6182C13.012 15.6182 13.9656 15.2544 14.7243 14.6646C17.728 16.208 18.2035 18.9025 18.2892 19.7729C16.5769 21.1474 14.3892 21.9893 12.0325 21.9893C9.64463 21.9918 7.48281 21.1786 5.77051 19.8015Z" fill="#888888" stroke="#888888" stroke-width="0.25"/>
            </svg>
        </a>
        <div class="personal_popup fade_anim">
            <a href="m_login.html">Вход</a>
            <a href="m_signin.html">Регистрация</a>
        </div>
        <a href="m_cart.html" class="m_basket">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.9042 4.19997C23.8083 4.09999 23.7125 3.99995 23.5209 3.99995H5.3125L4.83337 1.39998C4.83337 1.19997 4.54578 1 4.35413 1H1.47913C1.19165 0.999954 1 1.19997 1 1.49997C1 1.79997 1.19165 1.99998 1.47913 1.99998H3.97083L6.27087 14.2C6.55835 15.8 7.99585 17 9.52917 17H20.55C20.8375 17 21.0292 16.8 21.0292 16.5C21.0292 16.2 20.8375 16 20.55 16H9.625C8.85828 16 8.09167 15.6 7.70837 14.8999L21.7 12.9C21.8917 12.9 22.0834 12.7 22.0834 12.5L24 4.49997C24 4.49997 24 4.29996 23.9042 4.19997ZM21.2208 12L7.22913 13.9L5.50415 4.89996H22.85L21.2208 12Z" fill="#888888"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 18C8.09998 18 7 19.1001 7 20.5C7 21.9 8.09998 23 9.5 23C10.9 23 12 21.9 12 20.5C12 19.1001 10.9 18 9.5 18ZM9.5 22C8.69995 22 8 21.3 8 20.5C8 19.7001 8.69995 19 9.5 19C10.3 19 11 19.7001 11 20.5C11 21.3 10.3 22 9.5 22Z" fill="#888888"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 20.5C17 19.1001 18.1 18 19.5 18C20.8999 18 22 19.1001 22 20.5C22 21.9 20.9 23 19.5 23C18.1 23 17 21.9 17 20.5ZM18 20.5C18 21.3 18.7 22 19.5 22C20.2999 22 21 21.3 21 20.5C21 19.7001 20.3 19 19.5 19C18.7 19 18 19.7001 18 20.5Z" fill="#888888"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.9042 4.19997C23.8083 4.09999 23.7125 3.99995 23.5209 3.99995H5.3125L4.83337 1.39998C4.83337 1.19997 4.54578 1 4.35413 1H1.47913C1.19165 0.999954 1 1.19997 1 1.49997C1 1.79997 1.19165 1.99998 1.47913 1.99998H3.97083L6.27087 14.2C6.55835 15.8 7.99585 17 9.52917 17H20.55C20.8375 17 21.0292 16.8 21.0292 16.5C21.0292 16.2 20.8375 16 20.55 16H9.625C8.85828 16 8.09167 15.6 7.70837 14.8999L21.7 12.9C21.8917 12.9 22.0834 12.7 22.0834 12.5L24 4.49997C24 4.49997 24 4.29996 23.9042 4.19997ZM21.2208 12L7.22913 13.9L5.50415 4.89996H22.85L21.2208 12Z" stroke="#888888" stroke-width="0.25"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 18C8.09998 18 7 19.1001 7 20.5C7 21.9 8.09998 23 9.5 23C10.9 23 12 21.9 12 20.5C12 19.1001 10.9 18 9.5 18ZM9.5 22C8.69995 22 8 21.3 8 20.5C8 19.7001 8.69995 19 9.5 19C10.3 19 11 19.7001 11 20.5C11 21.3 10.3 22 9.5 22Z" stroke="#888888" stroke-width="0.25"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 20.5C17 19.1001 18.1 18 19.5 18C20.8999 18 22 19.1001 22 20.5C22 21.9 20.9 23 19.5 23C18.1 23 17 21.9 17 20.5ZM18 20.5C18 21.3 18.7 22 19.5 22C20.2999 22 21 21.3 21 20.5C21 19.7001 20.3 19 19.5 19C18.7 19 18 19.7001 18 20.5Z" stroke="#888888" stroke-width="0.25"/>
            </svg>
            <span class="m_basket_qty">123</span>
        </a>
    </div>
    <form action="m_search_results.html" id="m_search">
        <input type="text" name="q" title="Введите запрос для поиска" placeholder="Умный поиск">
        <input type="submit" value="">
    </form>
    <div class="m_head-menu">
        <div class="container">
            <span id="js-close-menu">&#215;</span>
            <a href="m_index.html"><img src="images/logo.png" alt="Гипервдом"></a>
            <div class="m_main-menu">
                <a href="m_index.html">Главная</a>
                <a href="m_catalog.html">Каталог</a>
                <a href="https://ufa.gipervdom.ru/intro/">О Гипервдом</a>
            </div>
            <div class="m_sub-menu">
                <a href="m_delivery.html">Условия доставки</a>
                <a href="m_how_to.html">Как оформить заказ</a>
                <a href="m_reviews.html">Отзывы и предложения</a>
                <a href="m_contacts.html">Контакты</a>
            </div>
            <div class="m_contactme">
                <a href="tel:88007006357" class="m_phone">8-800-700-63-57</a>
                <a href="" class="m_whatsapp">Написать в Whatsapp</a>
            </div>
        </div>
    </div>
</header>