<template>
  <div id="app">
    <headerPage />
    <router-view/>
    <footer-page/>
  </div>
</template>

<script>
import headerPage from './components/Header'
import footerPage from './components/Footer'

export default {
  components: {
    headerPage,
    footerPage
  },
  name: 'App'
}
</script>

<style lang="scss">
  @import "assets/css/_variables.css";
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');
  html, body {
    height: 100%;
  }
  #app {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
  }
  body.inversion {
    background-color: var(--inversion);
  }
  input {
    font-family: "Roboto", sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  .container {
    width: 1270px;
    padding: 0 12px;
    margin: 0 auto;
    flex: 1 0 auto;
  }
  p {
    margin: 0;
  }
  .VueCarousel {
    border-radius: 5px;
    overflow: hidden;
    button:active,
    button:focus {
      outline: none !important;
    }
  }
  .section-slider .VueCarousel-pagination {
    position: absolute;
    bottom: 5px;
    left: 35px;
    display: flex;
    justify-content: flex-start;
    height: 30px;
    .VueCarousel-dot-container {
      position: absolute;
      li {
        margin: 0 !important;
      }
      .VueCarousel-dot {
        button {
          background: rgba(255,255,255,.3) !important;
        }
      }
      .VueCarousel-dot--active {
        button {
          background: var(--inversion) !important;
        }
      }
    }
  }
  .slide_positions {
    .VueCarousel-wrapper {
      padding: 5px;
      .VueCarousel-inner {
        justify-content: space-around;
      }
    }
    .VueCarousel-pagination {
      position: absolute;
      left: 0;
      bottom: 0;
      padding-left: 5px;
      padding-bottom: 12px;
      text-align: left !important;
    }
  }
  .radio_button {
    position: relative;
    margin-bottom: 15px;
    padding-left: 28px;
    label {
      cursor: pointer;
    }
    label::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid var(--secondary_gray);
      border-radius: 50%;
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"]:checked + label::after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--magical_red);
        position: absolute;
        top: 6px;
        left: 6px;
      }
    }
  .block-title {
    color: var(--almost_black);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .title-area {
    .block-title {
      margin-bottom: 8px;
    }
  }
  .block-title-descr {
    font-size: 14px;
    color: var(--almost_black);
  }
  .section-title {
    color: var(--almost_black);
    font-weight: 600;
    font-size: 36px;
    margin: 40px 0;
    text-align: center;
  }
  .btn {
    height: 45px;
    border-radius: 23px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
  }
  .btn-solid {
    border: 0;
    background: var(--sunrise);
    color: var(--inversion);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
  }
  .btn-inversion {
    background-color: var(--inversion);
    border: 1px solid var(--magical_red);
    color: var(--magical_red);
  }
  .breadcrumbs {
    height: 58px;
    display: flex;
    align-items: center;
    a, span {
      font-size: 12px;
      color: var(--secondary_gray);
      text-decoration: none;
      position: relative;
      margin-right: 9px;
    }
    .br_has_prev {
      padding-left: 19px;
    }
    .br_has_prev::before {
      background: url(assets/images/br_arrow-right.svg) no-repeat left center;
      content: '';
      display: inline-block;
      width: 19px;
      height: 14px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .page_block {
    display: flex;
    max-width: 970px;
    .page_content {
      width: 100%;
      h1 {
        font-size: 36px;
        color: var(--almost_black);
        margin-top: 0;
      }
    }
  }
  .single-page-header {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    h1 {
      margin: 0;
    }
    .filter_stores {
      margin-left: 60px;
      font-size: 16px;
      p {
        display: flex;
        #show_filter {
          color: var(--magical_red);
          font-weight: 600;
          text-decoration: none;
          display: flex;
          align-items: center;
          margin-left: 12px;
        }
        #show_filter::after {
          background: url(assets/images/polygon.svg);
          content: '';
          width: 8px;
          height: 6px;
          margin-left: 6px;
        }
      }
    }
  }
  .fade_anim {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in .1s;
  }
  .fade_anim.animated {
    visibility: visible;
    opacity: 1;
  }
</style>
