<template lang="html">
  <div class="section-list">
    <ul>
      <li>1 {{active_category}}</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'sectionList',
  props: ['active_category'],
  data () {
    return {
      category_id: 0
    }
  },
  methods: {
    // get_category () {
    //   this.category_id = this.pk
    // }
  },
  mounted () {
    // this.get_category()
    // console.log(this)
  }
}
</script>

<style scoped lang="scss">
  li.active {
    background: var(--magical_red);
  }
</style>
