<template lang="html">
    <div :class="template" class="catalog__element">
      <img src="../../../assets/images/cat_icons/big_bread.jpg" alt="">
      <a href="#" class="element__name">Хлеб "Восход" Бородинский ржаной 500г</a>
      <p class="element_price-per-item">26.94 ₽</p>
      <p class="element_price-per-kg">53.88 ₽/кг</p>
      <div class="element__buttons">
        <a href="#" class="element_info">
          <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.5 0C5.15908 0 0 5.15872 0 11.5C0 17.8413 5.15908 23 11.5 23C17.8409 23 23 17.8413 23 11.5C23 5.15872 17.8409 0 11.5 0ZM11.5 21.5846C5.93931 21.5846 1.41538 17.0607 1.41538 11.5C1.41538 5.93931 5.93931 1.41538 11.5 1.41538C17.0607 1.41538 21.5846 5.93931 21.5846 11.5C21.5846 17.0607 17.0607 21.5846 11.5 21.5846Z" fill="#888888"/>
            <path d="M11.5 8.05C12.1351 8.05 12.65 7.53513 12.65 6.9C12.65 6.26487 12.1351 5.75 11.5 5.75C10.8649 5.75 10.35 6.26487 10.35 6.9C10.35 7.53513 10.8649 8.05 11.5 8.05Z" fill="#888888"/>
            <path d="M11.5 9.775C11.1826 9.775 10.5 10.0768 10.5 10.5V17.0167C10.5 17.4399 11.1826 17.825 11.5 17.825C11.8174 17.825 12.5 17.4399 12.5 17.0167V10.5C12.5 10.0764 11.8174 9.775 11.5 9.775Z" fill="#888888"/>
          </svg>
        </a>
        <a href="#" class="add_to_cart btn btn-solid">
          <svg width="36" height="22" viewBox="0 0 36 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.9125 2.90908C20.825 2.81819 20.7375 2.72725 20.5625 2.72725H3.9375L3.49999 0.363625C3.49999 0.181791 3.23749 7.48859e-09 3.06247 7.48859e-09H0.437473C0.175014 -4.26064e-05 0 0.181791 0 0.45452C0 0.727249 0.175014 0.909082 0.437514 0.909082H2.71253L4.81253 12.0001C5.07503 13.4546 6.38753 14.5455 7.78751 14.5455H17.85C18.1125 14.5455 18.2875 14.3637 18.2875 14.091C18.2875 13.8182 18.1125 13.6364 17.85 13.6364H7.875C7.17499 13.6364 6.47501 13.2728 6.12499 12.6364L18.9 10.8182C19.075 10.8182 19.25 10.6364 19.25 10.4546L21 3.18181C21 3.18181 21 2.99998 20.9125 2.90908ZM18.4625 10L5.68747 11.7273L4.11247 3.54543H19.95L18.4625 10Z" transform="translate(14 1)" fill="white"/>
            <path d="M7.76091 15.4545C6.48268 15.4545 5.47832 16.4546 5.47832 17.7273C5.47832 19 6.48268 20 7.76091 20C9.03919 20 10.0435 19 10.0435 17.7273C10.0436 16.4546 9.03919 15.4545 7.76091 15.4545ZM7.76091 19.0909C7.03047 19.0909 6.39135 18.4545 6.39135 17.7273C6.39135 17 7.03047 16.3636 7.76091 16.3636C8.49136 16.3636 9.13048 17 9.13048 17.7273C9.13048 18.4545 8.49136 19.0909 7.76091 19.0909Z" transform="translate(14 1)" fill="white"/>
            <path d="M16.8913 15.4545C15.6131 15.4545 14.6087 16.4546 14.6087 17.7273C14.6087 19 15.6131 20 16.8913 20C18.1696 20 19.1739 19 19.1739 17.7273C19.1739 16.4546 18.1696 15.4545 16.8913 15.4545ZM16.8913 19.0909C16.1609 19.0909 15.5218 18.4545 15.5218 17.7273C15.5218 17 16.1609 16.3636 16.8913 16.3636C17.6218 16.3636 18.2609 17 18.2609 17.7273C18.2609 18.4545 17.6217 19.0909 16.8913 19.0909Z" transform="translate(14 1)" fill="white"/>
            <path d="M20.9125 2.90908L20.7324 3.08245L20.7324 3.08245L20.9125 2.90908ZM3.9375 2.72725L3.69168 2.77275L3.72953 2.97725H3.9375V2.72725ZM3.49999 0.363625H3.24999V0.386568L3.25416 0.409127L3.49999 0.363625ZM0.437473 7.48859e-09L0.437432 0.25H0.437473V7.48859e-09ZM2.71253 0.909082L2.95816 0.862573L2.91963 0.659082H2.71253V0.909082ZM4.81253 12.0001L5.05856 11.9557L5.05816 11.9536L4.81253 12.0001ZM6.12499 12.6364L6.08976 12.3889L5.73157 12.4399L5.90593 12.7569L6.12499 12.6364ZM18.9 10.8182V10.5682H18.8823L18.8648 10.5707L18.9 10.8182ZM19.25 10.4546L19.0069 10.3961L19 10.4249V10.4546H19.25ZM21 3.18181L21.2431 3.2403L21.25 3.21147V3.18181H21ZM18.4625 10L18.496 10.2478L18.6673 10.2246L18.7061 10.0562L18.4625 10ZM5.68747 11.7273L5.44198 11.7746L5.48667 12.0067L5.72097 11.975L5.68747 11.7273ZM4.11247 3.54543V3.29543H3.80976L3.86698 3.59269L4.11247 3.54543ZM19.95 3.54543L20.1936 3.60158L20.2642 3.29543H19.95V3.54543ZM10.0435 17.7273L9.79351 17.7273V17.7273H10.0435ZM21.0926 2.73572C21.004 2.64358 20.8512 2.47725 20.5625 2.47725V2.97725C20.6017 2.97725 20.6217 2.98605 20.6381 2.99622C20.6622 3.01125 20.6853 3.03347 20.7324 3.08245L21.0926 2.73572ZM20.5625 2.47725H3.9375V2.97725H20.5625V2.47725ZM4.18332 2.68174L3.74581 0.318122L3.25416 0.409127L3.69168 2.77275L4.18332 2.68174ZM3.74999 0.363625C3.74999 0.157785 3.6109 0.00242296 3.50051 -0.0835822C3.38496 -0.173616 3.22287 -0.25 3.06247 -0.25V0.25C3.06559 0.25 3.08245 0.251502 3.11103 0.263046C3.13819 0.27402 3.16729 0.290638 3.19321 0.310832C3.21955 0.33136 3.23678 0.351002 3.24583 0.365111C3.25512 0.379591 3.24999 0.378673 3.24999 0.363625H3.74999ZM3.06247 -0.25H0.437473V0.25H3.06247V-0.25ZM0.437513 -0.25C0.246504 -0.250031 0.0692878 -0.182522 -0.059808 -0.0483959C-0.188074 0.0848678 -0.25 0.264144 -0.25 0.45452H0.25C0.25 0.372167 0.27558 0.324162 0.300436 0.298337C0.324462 0.273375 0.365982 0.249988 0.437432 0.25L0.437513 -0.25ZM-0.25 0.45452C-0.25 0.644899 -0.188072 0.824174 -0.0598029 0.957441C0.0692932 1.09157 0.246506 1.15908 0.437514 1.15908V0.659082C0.366021 0.659082 0.324477 0.63568 0.300442 0.610708C0.275579 0.584877 0.25 0.53687 0.25 0.45452H-0.25ZM0.437514 1.15908H2.71253V0.659082H0.437514V1.15908ZM2.46689 0.955592L4.56689 12.0466L5.05816 11.9536L2.95816 0.862573L2.46689 0.955592ZM4.5665 12.0445C4.84992 13.6149 6.26343 14.7955 7.78751 14.7955V14.2955C6.51162 14.2955 5.30014 13.2943 5.05855 11.9557L4.5665 12.0445ZM7.78751 14.7955H17.85V14.2955H7.78751V14.7955ZM17.85 14.7955C18.041 14.7955 18.2182 14.728 18.3473 14.5939C18.4756 14.4606 18.5375 14.2813 18.5375 14.091H18.0375C18.0375 14.1733 18.0119 14.2213 17.9871 14.2472C17.963 14.2721 17.9215 14.2955 17.85 14.2955V14.7955ZM18.5375 14.091C18.5375 13.9006 18.4756 13.7213 18.3473 13.588C18.2182 13.4539 18.041 13.3864 17.85 13.3864V13.8864C17.9215 13.8864 17.963 13.9098 17.9871 13.9348C18.0119 13.9606 18.0375 14.0086 18.0375 14.091H18.5375ZM17.85 13.3864H7.875V13.8864H17.85V13.3864ZM7.875 13.3864C7.25584 13.3864 6.64537 13.0638 6.34404 12.5159L5.90593 12.7569C6.30466 13.4818 7.09414 13.8864 7.875 13.8864V13.3864ZM6.16021 12.8839L18.9352 11.0657L18.8648 10.5707L6.08976 12.3889L6.16021 12.8839ZM18.9 11.0682C19.0723 11.0682 19.2211 10.9815 19.3208 10.8779C19.421 10.7738 19.5 10.6235 19.5 10.4546H19C19 10.4675 18.9915 10.499 18.9605 10.5312C18.9289 10.564 18.9028 10.5682 18.9 10.5682V11.0682ZM19.493 10.5131L21.2431 3.2403L20.7569 3.12332L19.0069 10.3961L19.493 10.5131ZM21 3.18181C21.25 3.18181 21.25 3.18175 21.25 3.18169C21.25 3.18167 21.25 3.18161 21.25 3.18157C21.25 3.18148 21.25 3.18139 21.25 3.1813C21.25 3.18112 21.25 3.18093 21.25 3.18073C21.25 3.18032 21.25 3.17986 21.25 3.17936C21.25 3.17836 21.25 3.17717 21.2499 3.1758C21.2499 3.17307 21.2498 3.16962 21.2497 3.16553C21.2494 3.15736 21.2489 3.14649 21.248 3.13352C21.2461 3.10792 21.2423 3.07241 21.2346 3.03228C21.221 2.96202 21.1878 2.83457 21.0926 2.73571L20.7324 3.08245C20.7247 3.07449 20.7352 3.0834 20.7436 3.12678C20.7468 3.14347 20.7485 3.1591 20.7493 3.17043C20.7497 3.17593 20.7499 3.17998 20.75 3.18211C20.75 3.18316 20.75 3.18371 20.75 3.18369C20.75 3.18368 20.75 3.18352 20.75 3.18321C20.75 3.18306 20.75 3.18286 20.75 3.18263C20.75 3.18251 20.75 3.18239 20.75 3.18225C20.75 3.18218 20.75 3.18211 20.75 3.18204C20.75 3.182 20.75 3.18194 20.75 3.18193C20.75 3.18187 20.75 3.18181 21 3.18181ZM18.429 9.75229L5.65398 11.4796L5.72097 11.975L18.496 10.2478L18.429 9.75229ZM5.93297 11.68L4.35797 3.49818L3.86698 3.59269L5.44198 11.7746L5.93297 11.68ZM4.11247 3.79543H19.95V3.29543H4.11247V3.79543ZM19.7064 3.48929L18.2189 9.94389L18.7061 10.0562L20.1936 3.60158L19.7064 3.48929ZM7.76091 15.2045C6.34563 15.2045 5.22832 16.3155 5.22832 17.7273H5.72832C5.72832 16.5937 6.61973 15.7045 7.76091 15.7045V15.2045ZM5.22832 17.7273C5.22832 19.1391 6.34564 20.25 7.76091 20.25V19.75C6.61973 19.75 5.72832 18.8609 5.72832 17.7273H5.22832ZM7.76091 20.25C9.17624 20.25 10.2935 19.1391 10.2935 17.7273H9.79351C9.79351 18.8609 8.90214 19.75 7.76091 19.75V20.25ZM10.2935 17.7273C10.2936 16.3155 9.17623 15.2045 7.76091 15.2045V15.7045C8.90214 15.7045 9.79355 16.5937 9.79351 17.7273L10.2935 17.7273ZM7.76091 18.8409C7.16752 18.8409 6.64135 18.3154 6.64135 17.7273H6.14135C6.14135 18.5936 6.89341 19.3409 7.76091 19.3409V18.8409ZM6.64135 17.7273C6.64135 17.1391 7.16752 16.6136 7.76091 16.6136V16.1136C6.89341 16.1136 6.14135 16.8609 6.14135 17.7273H6.64135ZM7.76091 16.6136C8.35431 16.6136 8.88048 17.1391 8.88048 17.7273H9.38048C9.38048 16.8609 8.62842 16.1136 7.76091 16.1136V16.6136ZM8.88048 17.7273C8.88048 18.3154 8.35431 18.8409 7.76091 18.8409V19.3409C8.62842 19.3409 9.38048 18.5936 9.38048 17.7273H8.88048ZM16.8913 15.2045C15.476 15.2045 14.3587 16.3155 14.3587 17.7273H14.8587C14.8587 16.5936 15.7501 15.7045 16.8913 15.7045V15.2045ZM14.3587 17.7273C14.3587 19.1391 15.4761 20.25 16.8913 20.25V19.75C15.7501 19.75 14.8587 18.8609 14.8587 17.7273H14.3587ZM16.8913 20.25C18.3067 20.25 19.4239 19.1391 19.4239 17.7273H18.9239C18.9239 18.8609 18.0326 19.75 16.8913 19.75V20.25ZM19.4239 17.7273C19.4239 16.3155 18.3066 15.2045 16.8913 15.2045V15.7045C18.0325 15.7045 18.9239 16.5937 18.9239 17.7273H19.4239ZM16.8913 18.8409C16.2979 18.8409 15.7718 18.3154 15.7718 17.7273H15.2718C15.2718 18.5936 16.0238 19.3409 16.8913 19.3409V18.8409ZM15.7718 17.7273C15.7718 17.1391 16.2979 16.6136 16.8913 16.6136V16.1136C16.0238 16.1136 15.2718 16.8609 15.2718 17.7273H15.7718ZM16.8913 16.6136C17.4847 16.6136 18.0109 17.1391 18.0109 17.7273H18.5109C18.5109 16.8609 17.7588 16.1136 16.8913 16.1136V16.6136ZM18.0109 17.7273C18.0109 18.3154 17.4847 18.8409 16.8913 18.8409V19.3409C17.7588 19.3409 18.5109 18.5936 18.5109 17.7273H18.0109Z" transform="translate(14 1)" fill="white"/>
            <path d="M5.67559 4.25673C5.67559 4.25673 8.07503 4.25673 9.0469 4.25673C10.0188 4.25673 10.0828 5.6136 9.0469 5.64324C8.52835 5.65808 5.67559 5.64324 5.67559 5.64324C5.67559 5.64324 5.67559 7.71324 5.67559 9.28789C5.67559 10.2527 4.1311 10.2221 4.1311 9.28789C4.1311 7.86457 4.1311 5.64324 4.1311 5.64324C4.1311 5.64324 1.79573 5.61363 0.759792 5.64324C-0.163727 5.66964 -0.339017 4.25673 0.759792 4.25673C1.85861 4.25673 4.1311 4.25673 4.1311 4.25673C4.1311 4.25673 4.1311 2.09818 4.1311 0.88943C4.1311 -0.319323 5.67559 -0.273408 5.67559 0.88943C5.67559 1.66979 5.67559 4.25673 5.67559 4.25673Z" transform="translate(0 6.71436)" fill="white"/>
          </svg>
        </a>
      </div>
    </div>
</template>

<script>
export default {
  name: 'CatalogElement',
  props: ['template']
}
</script>

<style scoped lang="scss">
  .catalog__element {
    min-width: 200px;
    min-height: 344px;
    margin: 0 auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    img {
      margin-bottom: 15px;
    }
    .element__name {
      color: var(--secondary_gray);
      font-size: 14px;
      text-decoration: none;
      height: 53px;
      margin-bottom: 15px;
    }
    .element_price-per-item {
      color: var(--almost_black);
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    .element_price-per-kg {
      color: var(--orange_box);
      font-size: 16px;
      margin-bottom: 15px;
    }
    .element__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn {
        padding: 0 24px;
      }
    }
  }
  .category__overview-element {
    max-width: 200px;
    max-height: 344px;
    padding: 12px;
  }
</style>
