<template>
  <div class="category__overview">
    <div class="category__overview-title">
      <p class="category__title">
        <img src="../../../assets/images/cat_icons/hb.svg" alt=""> Хлебобулочные изделия
      </p>
      <router-link
        :to="{
          name: 'catalogSection',
          params: {
            pk: 1,
            slug: 'hlebobulochnyie_izdeliya'
          }
        }"
        class="category__title--link">Перейти в раздел</router-link>
    </div>
    <div class="category__overview-container">
      <div class="category__overview--subcategories">
        <a href="javascript:void(0)" class="co__subcategory active" @click="get_subcat_positions">
          <span class="co__subcategory-img">
            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.76941 2.49194C8.85509 2.28738 9.14491 2.28738 9.23059 2.49194L10.4647 5.43842C10.717 6.04083 11.2838 6.4526 11.9346 6.50641L15.1183 6.76959C15.3393 6.78787 15.4289 7.06351 15.2608 7.2082L12.8399 9.29241C12.3449 9.71853 12.1284 10.3848 12.2784 11.0205L13.0119 14.1296C13.0628 14.3454 12.8283 14.5158 12.6388 14.4007L9.90849 12.7423C9.35028 12.4032 8.64972 12.4032 8.09151 12.7423L5.36121 14.4007C5.17166 14.5158 4.93718 14.3454 4.98811 14.1296L5.7216 11.0205C5.87156 10.3848 5.65508 9.71853 5.16012 9.29241L2.73921 7.2082C2.57114 7.06351 2.6607 6.78787 2.88172 6.76959L6.06535 6.50641C6.71624 6.4526 7.283 6.04083 7.53531 5.43842L8.76941 2.49194Z" transform="translate(-1 -1)" stroke="#888888" stroke-width="1.5"/>
            </svg>
          </span>
          Популярные товары
        </a>
        <a href=""
           class="co__subcategory"
           @click="get_subcat_positions"
           v-for="el in subcats"
           :key="el.index"
        >
          <span :data-s="el.item" class="co__subcategory-img"><img src="../../../assets/images/cat_icons/bread.jpg" alt=""></span>Название категории
        </a>
      </div>
      <div class="category__overview--positions">
        <carousel
          :per-page="4"
          :paginationPadding="5"
          :paginationSize="8"
          :scrollPerPage=true
          class="slide_positions"
        >
          <slide class="catalog_item">
            <catalog-element :template="'category__overview-element'"/>
          </slide>
          <slide class="catalog_item">
            <catalog-element :template="'category__overview-element'"/>
          </slide>
          <slide class="catalog_item">
            <catalog-element :template="'category__overview-element'"/>
          </slide>
          <slide class="catalog_item">
            <catalog-element :template="'category__overview-element'"/>
          </slide>
          <slide class="catalog_item">
            <catalog-element :template="'category__overview-element'"/>
          </slide>
          <slide class="catalog_item">
            <catalog-element :template="'category__overview-element'"/>
          </slide>
          <slide class="catalog_item">
            <catalog-element :template="'category__overview-element'"/>
          </slide>
          <slide class="catalog_item">
            <catalog-element :template="'category__overview-element'"/>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</template>
<script>
import CatalogElement from './CatalogElement'
import { Carousel, Slide } from 'vue-carousel'
export default {
  name: 'CategoryOverview',
  props: ['cat_id'],
  components: {
    CatalogElement,
    Carousel,
    Slide
  },
  data () {
    return {
      isActive: false,
      subcats: [
        {item: 0},
        {item: 1},
        {item: 2},
        {item: 3},
        {item: 4},
        {item: 5},
        {item: 6},
        {item: 7},
        {item: 8},
        {item: 9}
      ]
    }
  },
  methods: {
    get_subcat_positions (e) {
      e.preventDefault()
    }
  }
}
</script>

<style scoped lang="scss">
  .category__overview {
    margin-bottom: 36px;
    background: var(--inversion);
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    height: 528px;
    .category__overview-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 95px;
      padding: 0 36px 0 24px;
      border-bottom: 1px solid var(--just_gray);
      .category__title {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        color: var(--almost_black);
        margin: 0;
        img {
          margin-right: 15px;
        }
      }
      .category__title--link {
        color: var(--magical_red);
        font-size: 16px;
        text-decoration: none;
        border-bottom: 1px solid var(--magical_red);
      }
    }
    .category__overview-container {
      display: flex;
      height: 433px;
      .category__overview--subcategories {
        width: 100%;
        max-width: 316px;
        min-width: 316px;
        height: 100%;
        border-right: 1px solid var(--just_gray);
        padding-top: 18px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        .co__subcategory {
          min-height: 50px;
          display: flex;
          align-items: center;
          border-left: 5px solid var(--inversion);
          text-decoration: none;
          color: var(--almost_black);
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 74px;
          }
        }
        .co__subcategory.active {
          color: var(--magical_red);
          font-weight: bold;
          border-color: var(--magical_red);
          svg path {
            fill: var(--magical_red);
            stroke: var(--magical_red);
          }
        }
      }
      .category__overview--positions {
        width: calc(100% - 316px);
        padding: 0 32px;
      }
      .slide_positions {
        padding-top: 30px;
        height: 100%;
      }
    }
  }
</style>
