<template lang="html">
  <footer>
    <div class="container">
      <div class="footer-contacts">
        <a href="tel: 88007006357" class="footer_phone">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.9247 9.6137C12.3692 9.06538 11.6759 9.06538 11.124 9.6137C10.703 10.0311 10.282 10.4486 9.86815 10.8731C9.75494 10.9898 9.65943 11.0146 9.52146 10.9367C9.24906 10.7882 8.95898 10.6679 8.69719 10.5052C7.47671 9.73752 6.45434 8.75054 5.54871 7.63976C5.09943 7.0879 4.69967 6.49713 4.4202 5.83207C4.3636 5.69765 4.37421 5.60921 4.48388 5.49955C4.90486 5.09273 5.31522 4.6753 5.72912 4.25787C6.30576 3.67771 6.30576 2.99851 5.72559 2.41481C5.39659 2.08228 5.06759 1.75683 4.73859 1.4243C4.39898 1.0847 4.0629 0.741557 3.71975 0.405491C3.16435 -0.135752 2.47097 -0.135752 1.9191 0.409029C1.49459 0.826458 1.08776 1.2545 0.656168 1.66485C0.256416 2.04337 0.0547717 2.50679 0.0123202 3.04803C-0.0548947 3.92888 0.160901 4.7602 0.465136 5.5703C1.08776 7.24709 2.03584 8.73639 3.18557 10.1019C4.73859 11.9485 6.5923 13.4095 8.76087 14.4637C9.73725 14.9377 10.749 15.3021 11.8492 15.3622C12.6063 15.4046 13.2643 15.2136 13.7914 14.6229C14.1522 14.2196 14.559 13.8517 14.9411 13.4661C15.5071 12.893 15.5107 12.1996 14.9482 11.6336C14.276 10.958 13.6003 10.2858 12.9247 9.6137Z" transform="translate(0 1.63213)" fill="url(#paint0_linear)"/>
            <path d="M3.83479 5.03038L5.14017 4.80751C4.93499 3.60829 4.36897 2.52226 3.50932 1.6591C2.60015 0.749958 1.45043 0.176877 0.183957 0L1.38189e-07 1.31243C0.979923 1.45039 1.8714 1.89258 2.57539 2.59655C3.24047 3.26161 3.67559 4.10354 3.83479 5.03038Z" transform="translate(8.41418 3.39604)" fill="url(#paint1_linear)"/>
            <path d="M5.70265 2.7522C4.19562 1.24521 2.28884 0.293616 0.183956 0L-7.7731e-08 1.31243C1.81834 1.56713 3.46687 2.39138 4.76872 3.68965C6.00335 4.92425 6.81347 6.48431 7.10709 8.20001L8.41247 7.97715C8.06932 5.98905 7.13185 4.18491 5.70265 2.7522Z" transform="translate(8.58752)" fill="url(#paint2_linear)"/>
            <defs>
              <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(18.536 7.12134) scale(15.3678) rotate(132.032)">
                <stop stop-color="#F14109"/>
                <stop offset="0.898705" stop-color="#E30413"/>
              </linearGradient>
              <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6.19986 2.33104) scale(5.14017 5.03038) rotate(132.032)">
                <stop stop-color="#F14109"/>
                <stop offset="0.898705" stop-color="#E30413"/>
              </linearGradient>
              <linearGradient id="paint2_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.1468 3.79982) scale(8.41247 8.20001) rotate(132.032)">
                <stop stop-color="#F14109"/>
                <stop offset="0.898705" stop-color="#E30413"/>
              </linearGradient>
            </defs>
          </svg>
          <span>8-800-700-63-57</span>
        </a>
        <a href="#">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.5111 0.0115662C4.18608 0.263064 -0.0161077 4.66193 4.64175e-05 9.94988C0.00496498 11.5605 0.396955 13.0806 1.08845 14.4238L0.026761 19.5357C-0.0306705 19.8122 0.220755 20.0544 0.497689 19.9893L5.54756 18.8026C6.84495 19.4436 8.30219 19.8139 9.84445 19.8372C15.2871 19.9197 19.8254 15.633 19.995 10.2363C20.1769 4.45142 15.3635 -0.264899 9.5111 0.0115662ZM15.5367 15.4111C14.0578 16.8781 12.0915 17.6859 10 17.6859C8.77539 17.6859 7.60294 17.4134 6.51511 16.8759L5.81186 16.5284L2.71577 17.256L3.36748 14.118L3.02101 13.445C2.45629 12.348 2.16995 11.1617 2.16995 9.91918C2.16995 7.84458 2.98441 5.89421 4.4633 4.42722C5.92899 2.97338 7.92737 2.15236 10.0002 2.15236C12.0916 2.15241 14.0578 2.96028 15.5367 4.42717C17.0156 5.89411 17.8301 7.84449 17.8301 9.91903C17.8301 11.9751 17.0024 13.9573 15.5367 15.4111Z" fill="#7AD06D"/>
            <path d="M9.89169 6.93239L7.95469 6.38071C7.70004 6.30819 7.4258 6.37985 7.24025 6.56739L6.76657 7.04609C6.56684 7.24794 6.26377 7.3128 5.99942 7.20671C5.08312 6.83888 3.15562 5.13895 2.66338 4.28866C2.52137 4.04338 2.54485 3.73673 2.71922 3.51292L3.13277 2.98224C3.29479 2.77431 3.32898 2.49507 3.22183 2.25472L2.40689 0.426459C2.21169 -0.0114373 1.64755 -0.138908 1.279 0.170274C0.738392 0.623812 0.0969535 1.31301 0.0189799 2.07655C-0.118499 3.42271 0.463531 5.11968 2.66449 7.1573C5.20719 9.51132 7.24338 9.82232 8.56913 9.50376C9.32109 9.3231 9.92202 8.59884 10.3013 8.00583C10.5598 7.60151 10.3557 7.06455 9.89169 6.93239Z" transform="translate(4.96094 5.13794)" fill="#7AD06D"/>
          </svg>
          <span>Написать в WhatsApp</span>
        </a>
      </div>
      <div class="dev-contacts">
        <a href="" target="_blank">
          <span>design by</span>
          <svg width="85" height="17" viewBox="0 0 85 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.42849 13.9842H5.85417L11 6.03266L16.1458 13.9842H12.5797L12.5916 17H22L11 0L0 17H9.40785L9.42849 13.9842Z" fill="#888888"/>
            <path d="M6.2559 3.54357C6.61217 3.15037 6.7926 2.67375 6.7926 2.13124C6.7926 1.4745 6.55604 0.946334 6.08865 0.560042C5.63558 0.188629 5.02099 0 4.26435 0H0V7H1.72292V4.29862H3.59534L5.25869 6.99947H7.20213L5.43625 4.11637C5.753 3.98565 6.02679 3.79437 6.2559 3.54357ZM1.72235 1.54038H4.25117C4.52553 1.54038 4.7283 1.59511 4.85947 1.70563C4.90185 1.7407 5.03302 1.84963 5.03302 2.15197C5.03302 2.45802 4.9093 2.55579 4.86462 2.59033C4.73746 2.69182 4.51121 2.74655 4.21051 2.74655H1.72235V1.54038Z" transform="translate(35.3223 6)" fill="#888888"/>
            <path d="M3.69787 0L0 7H1.88387L2.76366 5.3406H5.88245L6.78458 7H8.6822L4.94195 0H3.69787ZM3.58503 3.78746L4.32277 2.40542L5.06681 3.78746H3.58503Z" transform="translate(24 6)" fill="#888888"/>
            <path d="M3.69787 0L0 7H1.8833L2.76252 5.3406H5.88245L6.78458 7H8.68163L4.94195 0H3.69787ZM3.5856 3.78746L4.3222 2.40542L5.06624 3.78746H3.5856Z" transform="translate(66.5996 6)" fill="#888888"/>
            <path d="M5.24093 3.45058L8.28927 0H6.13103L4.16812 2.22848L2.20062 0H0.0389451L3.07354 3.48193L0 7H2.12444L4.14349 4.70138L6.14135 7H8.36087L5.24093 3.45058Z" transform="translate(76.6387 6)" fill="#888888"/>
            <path d="M3.90292 3.43889L1.45372 0H0V7H1.70918V3.13284L3.90178 6.16259L6.09496 3.13284V7H7.80413V0H6.36187L3.90292 3.43889Z" transform="translate(56.1777 6)" fill="#888888"/>
            <path d="M0 1.54038H2.80089V7H4.52325V1.54038H7.32414V0H0V1.54038Z" transform="translate(44.3613 6)" fill="#888888"/>
          </svg>
        </a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'footerPage'
}
</script>

<style scoped lang="scss">
  footer {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      .footer-contacts {
        display: flex;
        a {
          display: flex;
          text-decoration: none;
          align-items: center;
          margin-right: 32px;
          color: var(--almost_black);
          span {
            margin-left: 12px;
          }
        }
      }
      .dev-contacts {
        display: flex;
        a {
          display: flex;
          text-decoration: none;
          align-items: center;
          color: var(--almost_black);
          span {
            margin-right: 12px;
          }
        }
      }
    }
  }
</style>
