<template lang="html">
    <header>
      <div class="header_fixed">
        <div class="container">
          <nav class="header_navigation">
            <router-link class="nav_item" :to="{name: 'about'}">О Гипер в дом</router-link>
            <router-link class="nav_item" :to="{name: 'how-to'}">Как оформить заказ</router-link>
            <router-link class="nav_item" :to="{name: 'delivery'}">Условия доставки</router-link>
            <router-link class="nav_item" :to="{name: 'reviews'}">Отзывы и предложения</router-link>
            <router-link class="nav_item" :to="{name: 'contacts'}">Контакты</router-link>
          </nav>
          <div class="header_rightblock">
            <a href="#" class="select_location">
              <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.2435 1.74387C9.1102 0.619373 7.60328 0 6.00061 0C4.39762 0 2.89102 0.619373 1.75769 1.74387C-0.339669 3.82459 -0.600313 7.73952 1.19322 10.1115L6.00061 17L10.8008 10.1211C12.6015 7.73952 12.3409 3.82459 10.2435 1.74387ZM6.05599 8.07203C4.84851 8.07203 3.8657 7.09686 3.8657 5.89879C3.8657 4.70071 4.84851 3.72555 6.05599 3.72555C7.26347 3.72555 8.24628 4.70071 8.24628 5.89879C8.24628 7.09686 7.26347 8.07203 6.05599 8.07203Z" fill="url(#paint0_linear)"/>
                <defs>
                  <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(14.4739 7.87766) scale(12 17) rotate(132.032)">
                    <stop stop-color="#F14109"/>
                    <stop offset="0.898705" stop-color="#E30413"/>
                  </linearGradient>
                </defs>
              </svg>
              <span>Стерлитамак</span>
            </a>
            <a href="tel: 88007006357" class="header_phone">
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.9247 9.6137C12.3692 9.06538 11.6759 9.06538 11.124 9.6137C10.703 10.0311 10.282 10.4486 9.86815 10.8731C9.75494 10.9898 9.65943 11.0146 9.52146 10.9367C9.24906 10.7882 8.95898 10.6679 8.69719 10.5052C7.47671 9.73752 6.45434 8.75054 5.54871 7.63976C5.09943 7.0879 4.69967 6.49713 4.4202 5.83207C4.3636 5.69765 4.37421 5.60921 4.48388 5.49955C4.90486 5.09273 5.31522 4.6753 5.72912 4.25787C6.30576 3.67771 6.30576 2.99851 5.72559 2.41481C5.39659 2.08228 5.06759 1.75683 4.73859 1.4243C4.39898 1.0847 4.0629 0.741557 3.71975 0.405491C3.16435 -0.135752 2.47097 -0.135752 1.9191 0.409029C1.49459 0.826458 1.08776 1.2545 0.656168 1.66485C0.256416 2.04337 0.0547717 2.50679 0.0123202 3.04803C-0.0548947 3.92888 0.160901 4.7602 0.465136 5.5703C1.08776 7.24709 2.03584 8.73639 3.18557 10.1019C4.73859 11.9485 6.5923 13.4095 8.76087 14.4637C9.73725 14.9377 10.749 15.3021 11.8492 15.3622C12.6063 15.4046 13.2643 15.2136 13.7914 14.6229C14.1522 14.2196 14.559 13.8517 14.9411 13.4661C15.5071 12.893 15.5107 12.1996 14.9482 11.6336C14.276 10.958 13.6003 10.2858 12.9247 9.6137Z" transform="translate(0 1.63213)" fill="url(#paint0_linear)"/>
                <path d="M3.83479 5.03038L5.14017 4.80751C4.93499 3.60829 4.36897 2.52226 3.50932 1.6591C2.60015 0.749958 1.45043 0.176877 0.183957 0L1.38189e-07 1.31243C0.979923 1.45039 1.8714 1.89258 2.57539 2.59655C3.24047 3.26161 3.67559 4.10354 3.83479 5.03038Z" transform="translate(8.41418 3.39604)" fill="url(#paint1_linear)"/>
                <path d="M5.70265 2.7522C4.19562 1.24521 2.28884 0.293616 0.183956 0L-7.7731e-08 1.31243C1.81834 1.56713 3.46687 2.39138 4.76872 3.68965C6.00335 4.92425 6.81347 6.48431 7.10709 8.20001L8.41247 7.97715C8.06932 5.98905 7.13185 4.18491 5.70265 2.7522Z" transform="translate(8.58752)" fill="url(#paint2_linear)"/>
                <defs>
                  <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(18.536 7.12134) scale(15.3678) rotate(132.032)">
                    <stop stop-color="#F14109"/>
                    <stop offset="0.898705" stop-color="#E30413"/>
                  </linearGradient>
                  <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6.19986 2.33104) scale(5.14017 5.03038) rotate(132.032)">
                    <stop stop-color="#F14109"/>
                    <stop offset="0.898705" stop-color="#E30413"/>
                  </linearGradient>
                  <linearGradient id="paint2_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.1468 3.79982) scale(8.41247 8.20001) rotate(132.032)">
                    <stop stop-color="#F14109"/>
                    <stop offset="0.898705" stop-color="#E30413"/>
                  </linearGradient>
                </defs>
              </svg>
              <span>8-800-700-63-57</span>
            </a>
          </div>
        </div>
      </div>
      <div class="header_static">
        <div class="container">
          <div class="header_logo">
            <router-link :to="{name: 'index'}"><img src="../assets/images/logo.png" alt=""></router-link>
          </div>
          <div class="header_catalog">
            <router-link :to="{name: 'catalog'}">
              <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="11" height="1.5" rx="0.75" fill="#888888"/>
                <rect width="11" height="1.5" rx="0.75" transform="translate(0 5.14282)" fill="#888888"/>
                <rect width="11" height="1.5" rx="0.75" transform="translate(0 10.2856)" fill="#888888"/>
              </svg>
              <span>Каталог</span>
            </router-link>
          </div>
          <div class="header_search">
            <form action="javascript:void(0)" method="get">
              <input type="text" name="q" placeholder="Умный поиск">
              <a href="" class="send_search"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.77435 0C8.58386 0 10.285 0.704651 11.5646 1.98419C12.8441 3.2637 13.5487 4.96487 13.5488 6.77438C13.5488 8.3667 13.0031 9.87506 12.0003 11.0861L15.8109 14.8966C16.0632 15.149 16.0632 15.5583 15.8109 15.8107C15.6846 15.9369 15.5192 16 15.3538 16C15.1884 16 15.0229 15.9369 14.8968 15.8107L11.0863 12.0002C9.87524 13.0031 8.3667 13.5488 6.77435 13.5488C4.9649 13.5488 3.26367 12.8441 1.98419 11.5646C0.704651 10.2851 0 8.58392 0 6.77438C0 4.96487 0.704651 3.2637 1.98419 1.98419C3.26367 0.704651 4.96484 0 6.77435 0ZM10.6743 10.623C10.6654 10.631 10.6566 10.6393 10.648 10.6479C10.6394 10.6565 10.6311 10.6652 10.6231 10.6742C9.63263 11.6518 8.27277 12.2561 6.77435 12.2561C3.75171 12.2561 1.2926 9.79706 1.2926 6.77438C1.2926 3.75174 3.75171 1.29263 6.77435 1.29263C9.797 1.29263 12.256 3.75174 12.256 6.77438C12.256 8.27267 11.6519 9.63251 10.6743 10.623Z" transform="translate(1 1)" fill="#888888" stroke="#888888" stroke-width="0.5"/>
              </svg></a>
            </form>
          </div>
          <div class="header_personal" v-click-outside="hide_menu">
            <a href="#" id="show_personal_menu" @click="show_menu" class="active">
              <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 10.5012C21 4.71488 16.2851 0 10.4988 0C4.71241 0 0 4.71488 0 10.5012C0 13.6883 1.44598 16.5554 3.69552 18.4826C3.7228 18.5099 3.75008 18.5371 3.80217 18.5619C5.62265 20.0898 7.95406 21 10.526 21C13.0435 21 15.3749 20.0898 17.1954 18.6165C17.302 18.5892 17.3838 18.5099 17.4359 18.428C19.6086 16.4736 21 13.661 21 10.5012ZM0.964799 10.5012C0.964799 5.25062 5.25062 0.964799 10.5012 0.964799C15.7519 0.964799 20.0377 5.25062 20.0377 10.5012C20.0377 13.0732 19.0208 15.4021 17.359 17.1185C17.0912 15.8585 16.2876 13.7156 13.8223 12.3242C14.3853 11.6273 14.7052 10.717 14.7052 9.75224C14.7052 7.4481 12.8302 5.57306 10.526 5.57306C8.22191 5.57306 6.34687 7.4481 6.34687 9.75224C6.34687 10.717 6.69409 11.6 7.22983 12.3242C4.74219 13.7156 3.9386 15.8585 3.69799 17.1185C2.00897 15.4294 0.964799 13.0732 0.964799 10.5012ZM7.28686 9.77701C7.28686 8.00862 8.73284 6.56264 10.5012 6.56264C12.2696 6.56264 13.7156 8.00862 13.7156 9.77701C13.7156 11.5454 12.2696 12.9914 10.5012 12.9914C8.73284 12.9914 7.28686 11.5454 7.28686 9.77701ZM4.55367 17.9469C4.60823 17.1706 5.03482 14.544 7.92925 13.0708C8.65348 13.6338 9.53644 13.9537 10.5012 13.9537C11.466 13.9537 12.3763 13.6065 13.1005 13.0435C15.9676 14.5167 16.4215 17.0887 16.5034 17.9196C14.8689 19.2316 12.7806 20.0352 10.531 20.0352C8.2517 20.0377 6.18814 19.2614 4.55367 17.9469Z" transform="translate(1 1)" fill="#474747" stroke="#474747" stroke-width="0.25"/>
              </svg>
              <span>Личный кабинет</span>
            </a>
            <div id="personal_menu" class="personal_menu fade_anim">
              <p class="personal_menu-title">Личный кабинет</p>
              <router-link :to="{name: 'index'}">Лицевой счёт <i>89.6 ₽</i></router-link>
              <router-link :to="{name: 'index'}">Личные данные</router-link>
              <router-link :to="{name: 'index'}">Заказанные ранее товары</router-link>
              <router-link :to="{name: 'index'}">История заказов</router-link>
              <router-link :to="{name: 'index'}">Сохранённые списки</router-link>
              <router-link :to="{name: 'index'}">Отзывы и предложения</router-link>
              <a href="#" class="personal_menu-logout">Выход</a>
            </div>
          </div>
          <div class="header_basket">
            <router-link :to="{name: 'basket'} ">
              <span class="header__basket_icon">
                <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9083 3.05451C21.8167 2.95908 21.725 2.86359 21.5417 2.86359H4.125L3.66671 0.381798C3.66671 0.190877 3.39161 7.49881e-09 3.20829 7.49881e-09H0.458294C0.183318 -4.36881e-05 0 0.190877 0 0.477243C0 0.76361 0.183318 0.95453 0.458294 0.95453H2.84166L5.04171 12.6C5.31668 14.1273 6.69168 15.2727 8.15834 15.2727H18.7C18.975 15.2727 19.1583 15.0818 19.1583 14.7954C19.1583 14.5091 18.975 14.3181 18.7 14.3181H8.25C7.51661 14.3181 6.78334 13.9363 6.41671 13.2681L19.8 11.3591C19.9834 11.3591 20.1667 11.1681 20.1667 10.9773L22 3.34088C22 3.34088 22 3.14996 21.9083 3.05451ZM19.3417 10.5L5.95829 12.3136L4.30832 3.72269H20.9L19.3417 10.5Z" transform="translate(1 1)" fill="#474747"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.13043 16.2273C6.79128 16.2273 5.73913 17.2773 5.73913 18.6136C5.73913 19.95 6.79128 21 8.13043 21C9.46959 21 10.5217 19.95 10.5217 18.6136C10.5217 17.2773 9.46959 16.2273 8.13043 16.2273ZM8.13043 20.0455C7.36517 20.0455 6.69565 19.3772 6.69565 18.6136C6.69565 17.85 7.36517 17.1818 8.13043 17.1818C8.8957 17.1818 9.56522 17.85 9.56522 18.6136C9.56522 19.3772 8.8957 20.0455 8.13043 20.0455Z" transform="translate(1 1)" fill="#474747"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.3043 18.6136C15.3043 17.2773 16.3565 16.2273 17.6957 16.2273C19.0347 16.2273 20.087 17.2773 20.087 18.6136C20.087 19.95 19.0348 21 17.6957 21C16.3565 21 15.3043 19.95 15.3043 18.6136ZM16.2609 18.6136C16.2609 19.3772 16.9304 20.0455 17.6957 20.0455C18.4608 20.0455 19.1304 19.3772 19.1304 18.6136C19.1304 17.85 18.4609 17.1818 17.6957 17.1818C16.9304 17.1818 16.2609 17.85 16.2609 18.6136Z" transform="translate(1 1)" fill="#474747"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9083 3.05451C21.8167 2.95908 21.725 2.86359 21.5417 2.86359H4.125L3.66671 0.381798C3.66671 0.190877 3.39161 7.49881e-09 3.20829 7.49881e-09H0.458294C0.183318 -4.36881e-05 0 0.190877 0 0.477243C0 0.76361 0.183318 0.95453 0.458294 0.95453H2.84166L5.04171 12.6C5.31668 14.1273 6.69168 15.2727 8.15834 15.2727H18.7C18.975 15.2727 19.1583 15.0818 19.1583 14.7954C19.1583 14.5091 18.975 14.3181 18.7 14.3181H8.25C7.51661 14.3181 6.78334 13.9363 6.41671 13.2681L19.8 11.3591C19.9834 11.3591 20.1667 11.1681 20.1667 10.9773L22 3.34088C22 3.34088 22 3.14996 21.9083 3.05451ZM19.3417 10.5L5.95829 12.3136L4.30832 3.72269H20.9L19.3417 10.5Z" transform="translate(1 1)" stroke="#474747" stroke-width="0.25"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.13043 16.2273C6.79128 16.2273 5.73913 17.2773 5.73913 18.6136C5.73913 19.95 6.79128 21 8.13043 21C9.46959 21 10.5217 19.95 10.5217 18.6136C10.5217 17.2773 9.46959 16.2273 8.13043 16.2273ZM8.13043 20.0455C7.36517 20.0455 6.69565 19.3772 6.69565 18.6136C6.69565 17.85 7.36517 17.1818 8.13043 17.1818C8.8957 17.1818 9.56522 17.85 9.56522 18.6136C9.56522 19.3772 8.8957 20.0455 8.13043 20.0455Z" transform="translate(1 1)" stroke="#474747" stroke-width="0.25"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.3043 18.6136C15.3043 17.2773 16.3565 16.2273 17.6957 16.2273C19.0347 16.2273 20.087 17.2773 20.087 18.6136C20.087 19.95 19.0348 21 17.6957 21C16.3565 21 15.3043 19.95 15.3043 18.6136ZM16.2609 18.6136C16.2609 19.3772 16.9304 20.0455 17.6957 20.0455C18.4608 20.0455 19.1304 19.3772 19.1304 18.6136C19.1304 17.85 18.4609 17.1818 17.6957 17.1818C16.9304 17.1818 16.2609 17.85 16.2609 18.6136Z" transform="translate(1 1)" stroke="#474747" stroke-width="0.25"/>
                </svg>
                <i>0</i>
              </span>
              <span>Корзина</span>
            </router-link>
          </div>
        </div>
      </div>
    </header>
</template>

<script>
export default {
  name: 'headerPage',
  methods: {
    show_menu (e) {
      e.preventDefault()
      document.getElementById('personal_menu').classList.add('animated')
    },
    hide_menu () {
      document.getElementById('personal_menu').classList.remove('animated')
    }
  }
}
</script>

<style scoped lang="scss">
  header {
    background-color: var(--inversion);
    .header_fixed {
      background-color: inherit;
      /*position: fixed;*/
      top: 0;
      left: 0;
      border-bottom: 1px solid var(--just_gray);
      width: 100%;
      .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 43px;
        nav {
          a {
            color: var(--secondary_gray);
            text-decoration: none;
            font-size: 14px;
            margin-right: 32px;
          }
        }
        .header_rightblock {
          display: flex;
        }
        .select_location {
          display: flex;
          align-items: center;
          text-decoration: none;
          font-size: 14px;
          margin-right: 32px;
          span {
            color: var(--orange_box);
            border-bottom: 1px dashed;
            margin-left: 6px;
            font-weight: 600;
          }
        }
      }
      .header_phone {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: var(--almost_black);
        text-decoration: none;
        span {
          margin-left: 12px;
        }
      }
    }
    .header_static {
      border-bottom: 1px solid var(--just_gray);
      /*margin-top: 44px;*/
      .header_logo a.router-link-exact-active {border:0}
      .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        > div {
          margin-right: 30px;
          > a {
            height: 70px;
            border-bottom: 2px solid transparent;
            padding-top: 2px;
          }
          .router-link-exact-active {
            border-color: var(--magical_red);
            font-weight: 600;
            span {
              color: var(--magical_red);
            }
            svg {
              rect, path {
                fill: var(--magical_red)
              }
            }
          }
        }
      }
      .header_catalog {
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--almost_black);
          span {
            margin-left: 9px;
          }
        }
      }
      .header_search {
        position: relative;
        input[type="text"] {
          width: 636px;
          height: 45px;
          border: 2px solid var(--magical_red);
          border-radius: 23px;
          font-size: 16px;
          padding: 14px 24px;
        }
        .send_search {
          position: absolute;
          right: 0;
          top: 0;
          width: 45px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .header_personal {
        position: relative;
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--almost_black);
          width: 160px;
          span {
            margin-left: 9px;
          }
        }
        .personal_menu {
          transition: all ease-in .1s;
          top: 60px;
          right: 0;
          background-image: url(../assets/images/polygon_menu.svg);
          padding: 50px 46px 28px;
          z-index: 2;
          display: flex;
          flex-direction: column;
          width: 324px;
          height: 398px;
          .personal_menu-title {
            font-size: 20px;
            font-weight: 600;
            width: 250px;
            margin-top: 10px;
            margin-bottom: 28px;
            color: var(--almost_black);
          }
          a {
            color: var(--almost_black);
            font-size: 14px;
            margin-bottom: 22px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            i {
              font-style: normal;
              font-weight: 600;
              color: var(--magical_red);
            }
          }
          .personal_menu-logout {
            color: var(--secondary_gray)
          }
        }
        .personal_menu.animated {
          top: 70px;
        }
      }

      .header_basket {
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--almost_black);
          width: 110px;
          .header__basket_icon {
            position: relative;
            margin-right: 30px;
            i {
              position: absolute;
              font-size: 14px;
              font-style: normal;
              background-color: var(--magical_red);
              color: var(--inversion);
              padding: 3px 5px;
              border-radius: 12px;
              left: 21px;
              min-width: 24px;
              text-align: center;
              top: 0;
            }
          }
        }
      }
    }
    a:hover {
      color: var(--magical_red);
    }
  }
</style>
