<template>
    <div class="page_index">
      <banners/>
      <div class="container section-shop">
        <div class="row">
          <div class="shopSelect">
            <div class="shopFilter">
              <form action="javascript:void(0)" method="get">
                <p class="block-title">Где будете покупать?</p>
                <div class="radio_button">
                  <input type="radio" id="shop_metro" name="store">
                  <label for="shop_metro">METRO</label>
                </div>
                <div class="radio_button">
                  <input type="radio" id="shop_ashan" name="store">
                  <label for="shop_ashan">Ашан</label>
                </div>
                <div class="radio_button">
                  <input type="radio" id="shop_cheap" name="store">
                  <label for="shop_cheap">Где дешевле</label>
                </div>
                <button class="btn btn-solid" type="submit">
                  <span>Перейти к покупкам</span>
                  <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.7071 7.24898C16.0976 6.83533 16.0976 6.16467 15.7071 5.75102L10.6159 0.310233C10.2254 -0.103411 9.5922 -0.103411 9.20167 0.310233C8.81115 0.723887 8.81115 1.39454 9.20167 1.80819L13.5858 6.5L9.20167 11.1918C8.81115 11.6055 8.81115 12.2761 9.20167 12.6898C9.5922 13.1034 10.2254 13.1034 10.6159 12.6898L15.7071 7.24898ZM0 7.55921H15V5.44079H0V7.55921Z" fill="white"/>
                  </svg>
                </button>
              </form>
            </div>
          </div>
          <div class="deliverySelect">
            <div class="deliveryInfoBlock">
              <p class="block-title">Ближайшая доставка</p>
              <p class="deliveryTime">сегодня с 19:00</p>
              <p class="deliveryAddress">
                Ваш адрес: <br>
                ул. Интернациональная, 1111
              </p>
              <button class="btn btn-inversion">Изменить адрес доставки</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container section-catalog">
        <p class="section-title">Каталог</p>
        <category-overview :cat_id="1"/>
        <category-overview :cat_id="2"/>
        <category-overview :cat_id="3"/>
      </div>
    </div>
</template>

<script>
import banners from '../components/index_page/Banners'
import CategoryOverview from './catalog/includes/CategoryOverview'
export default {
  name: 'indexPage',
  components: {
    banners,
    CategoryOverview
  }
}
</script>

<style scoped lang="scss">
  .section-shop .row {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
    > div {
      margin: 0 10px;
    }
  }
  .shopSelect {
    background: var(--inversion) url(../assets/images/shop-select.jpg) no-repeat;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    width: 820px;
    height: 273px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .shopFilter {
      width: 417px;
      display: flex;
      justify-content: center;
      .btn-solid {
        width: 230px;
        margin-top: 20px;
        span {
          margin-right: 14px;
        }
      }
    }
  }
  .deliverySelect {
    background: var(--inversion) url(../assets/images/color-basket.svg) no-repeat 95% bottom;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 405px;
    height: 273px;
    .deliveryInfoBlock {
      width: 285px;
      .deliveryTime,
      .deliveryAddress {
        font-size: 16px;
        margin: 15px 0;
      }
      .btn-inversion {
        font-size: 14px;
        width: 100%;
        margin-top: 22px;
        background: transparent;
      }
    }
  }
</style>
