<template lang="html">
  <div class="container">
    <div class="breadcrumbs">
      <router-link :to="{name: 'index'}">Главная</router-link>
      <span class="br_has_prev">Контакты</span>
    </div>
    <div class="page_block">
      <side-menu/>
      <div class="page_content">
        <h1>Контакты</h1>
        <div class="contacts_description">
          <div class="block_contacts">
            <div class="contacts_item">
              <a href="tel: 88007006357" class="general_phone">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.9247 9.6137C12.3692 9.06538 11.6759 9.06538 11.124 9.6137C10.703 10.0311 10.282 10.4486 9.86815 10.8731C9.75494 10.9898 9.65943 11.0146 9.52146 10.9367C9.24906 10.7882 8.95898 10.6679 8.69719 10.5052C7.47671 9.73752 6.45434 8.75054 5.54871 7.63976C5.09943 7.0879 4.69967 6.49713 4.4202 5.83207C4.3636 5.69765 4.37421 5.60921 4.48388 5.49955C4.90486 5.09273 5.31522 4.6753 5.72912 4.25787C6.30576 3.67771 6.30576 2.99851 5.72559 2.41481C5.39659 2.08228 5.06759 1.75683 4.73859 1.4243C4.39898 1.0847 4.0629 0.741557 3.71975 0.405491C3.16435 -0.135752 2.47097 -0.135752 1.9191 0.409029C1.49459 0.826458 1.08776 1.2545 0.656168 1.66485C0.256416 2.04337 0.0547717 2.50679 0.0123202 3.04803C-0.0548947 3.92888 0.160901 4.7602 0.465136 5.5703C1.08776 7.24709 2.03584 8.73639 3.18557 10.1019C4.73859 11.9485 6.5923 13.4095 8.76087 14.4637C9.73725 14.9377 10.749 15.3021 11.8492 15.3622C12.6063 15.4046 13.2643 15.2136 13.7914 14.6229C14.1522 14.2196 14.559 13.8517 14.9411 13.4661C15.5071 12.893 15.5107 12.1996 14.9482 11.6336C14.276 10.958 13.6003 10.2858 12.9247 9.6137Z" transform="translate(0 1.63213)" fill="url(#paint0_linear)"/>
                  <path d="M3.83479 5.03038L5.14017 4.80751C4.93499 3.60829 4.36897 2.52226 3.50932 1.6591C2.60015 0.749958 1.45043 0.176877 0.183957 0L1.38189e-07 1.31243C0.979923 1.45039 1.8714 1.89258 2.57539 2.59655C3.24047 3.26161 3.67559 4.10354 3.83479 5.03038Z" transform="translate(8.41418 3.39604)" fill="url(#paint1_linear)"/>
                  <path d="M5.70265 2.7522C4.19562 1.24521 2.28884 0.293616 0.183956 0L-7.7731e-08 1.31243C1.81834 1.56713 3.46687 2.39138 4.76872 3.68965C6.00335 4.92425 6.81347 6.48431 7.10709 8.20001L8.41247 7.97715C8.06932 5.98905 7.13185 4.18491 5.70265 2.7522Z" transform="translate(8.58752)" fill="url(#paint2_linear)"/>
                  <defs>
                    <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(18.536 7.12134) scale(15.3678) rotate(132.032)">
                      <stop stop-color="#F14109"/>
                      <stop offset="0.898705" stop-color="#E30413"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6.19986 2.33104) scale(5.14017 5.03038) rotate(132.032)">
                      <stop stop-color="#F14109"/>
                      <stop offset="0.898705" stop-color="#E30413"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.1468 3.79982) scale(8.41247 8.20001) rotate(132.032)">
                      <stop stop-color="#F14109"/>
                      <stop offset="0.898705" stop-color="#E30413"/>
                    </linearGradient>
                  </defs>
                </svg>
                <span>8-800-700-63-57</span>
                <span class="phone_descr">бесплатный номер для клиентов</span>
              </a>
              <p class="uptime">
                Режим работы оператора:<br>
                Пн-Пт с 10:00 до 22:00
              </p>
            </div>
            <div class="contacts_item">
              <a href="tel: +79373000011" class="topman_phone">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.9247 9.6137C12.3692 9.06538 11.6759 9.06538 11.124 9.6137C10.703 10.0311 10.282 10.4486 9.86815 10.8731C9.75494 10.9898 9.65943 11.0146 9.52146 10.9367C9.24906 10.7882 8.95898 10.6679 8.69719 10.5052C7.47671 9.73752 6.45434 8.75054 5.54871 7.63976C5.09943 7.0879 4.69967 6.49713 4.4202 5.83207C4.3636 5.69765 4.37421 5.60921 4.48388 5.49955C4.90486 5.09273 5.31522 4.6753 5.72912 4.25787C6.30576 3.67771 6.30576 2.99851 5.72559 2.41481C5.39659 2.08228 5.06759 1.75683 4.73859 1.4243C4.39898 1.0847 4.0629 0.741557 3.71975 0.405491C3.16435 -0.135752 2.47097 -0.135752 1.9191 0.409029C1.49459 0.826458 1.08776 1.2545 0.656168 1.66485C0.256416 2.04337 0.0547717 2.50679 0.0123202 3.04803C-0.0548947 3.92888 0.160901 4.7602 0.465136 5.5703C1.08776 7.24709 2.03584 8.73639 3.18557 10.1019C4.73859 11.9485 6.5923 13.4095 8.76087 14.4637C9.73725 14.9377 10.749 15.3021 11.8492 15.3622C12.6063 15.4046 13.2643 15.2136 13.7914 14.6229C14.1522 14.2196 14.559 13.8517 14.9411 13.4661C15.5071 12.893 15.5107 12.1996 14.9482 11.6336C14.276 10.958 13.6003 10.2858 12.9247 9.6137Z" transform="translate(0 1.63213)" fill="url(#paint0_linear)"/>
                  <path d="M3.83479 5.03038L5.14017 4.80751C4.93499 3.60829 4.36897 2.52226 3.50932 1.6591C2.60015 0.749958 1.45043 0.176877 0.183957 0L1.38189e-07 1.31243C0.979923 1.45039 1.8714 1.89258 2.57539 2.59655C3.24047 3.26161 3.67559 4.10354 3.83479 5.03038Z" transform="translate(8.41418 3.39604)" fill="url(#paint1_linear)"/>
                  <path d="M5.70265 2.7522C4.19562 1.24521 2.28884 0.293616 0.183956 0L-7.7731e-08 1.31243C1.81834 1.56713 3.46687 2.39138 4.76872 3.68965C6.00335 4.92425 6.81347 6.48431 7.10709 8.20001L8.41247 7.97715C8.06932 5.98905 7.13185 4.18491 5.70265 2.7522Z" transform="translate(8.58752)" fill="url(#paint2_linear)"/>
                  <defs>
                    <linearGradient id="paint0_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(18.536 7.12134) scale(15.3678) rotate(132.032)">
                      <stop stop-color="#F14109"/>
                      <stop offset="0.898705" stop-color="#E30413"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6.19986 2.33104) scale(5.14017 5.03038) rotate(132.032)">
                      <stop stop-color="#F14109"/>
                      <stop offset="0.898705" stop-color="#E30413"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.1468 3.79982) scale(8.41247 8.20001) rotate(132.032)">
                      <stop stop-color="#F14109"/>
                      <stop offset="0.898705" stop-color="#E30413"/>
                    </linearGradient>
                  </defs>
                </svg>
                <span>+7 (937) 300-00-11 </span>
                <span class="phone_descr">руководитель Арсений Васильев</span>
              </a>
              <a class="cont_email" href="mailto: welcome@gipervdom.ru">welcome@gipervdom.ru</a>
            </div>
          </div>
          <div class="block_map">
            <p>
              Мы находимся по адресу:<br>
              Россия, 450029, Уфа,<br>
              ул. Октябрьской революции, 78/2
            </p>
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import sideMenu from '../content/includes/sideMenu'
export default {
  name: 'content-page',
  components: {
    sideMenu
  },
  mounted () {
    document.getElementsByTagName('body')[0].classList.add('inversion')
    document.title = 'Контакты'
  },
  destroyed () {
    document.getElementsByTagName('body')[0].classList.remove('inversion')
  }
}
</script>

<style scoped lang="scss">
  .block_contacts {
    display: flex;
    margin-bottom: 32px;
    .contacts_item {
      width: 300px;
      margin-right: 80px;
      .general_phone {
        font-size: 16px;
        color: var(--magical_red);
        font-weight: 600;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        span {
          margin-left: 12px;
        }
      }
      .topman_phone {
        font-size: 16px;
        color: var(--almost_black);
        font-weight: 600;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        span {
          margin-left: 12px;
        }
        svg {
          path {
            fill: var(--almost_black);
          }
        }
      }
      span.phone_descr {
        width: 100%;
        margin-left: 0;
        font-weight: 400;
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .uptime {
        color: var(--secondary_gray);
        font-size: 14px;
      }
      .cont_email {
        text-decoration: none;
        color: var(--almost_black);
        font-size: 14px;
      }
    }
  }
  .block_map {
    p {
      color: var(--almost_black);
      font-size: 14px;
      margin-bottom: 20px;
    }
    #map {
      width: 100%;
      height: 338px;
      background: var(--secondary_gray);
    }
  }
</style>
