<template lang="html">
  <div class="container">
    <div class="breadcrumbs">
      <router-link :to="{name: 'index'}">Главная</router-link>
      <span class="br_has_prev">Условия доставки</span>
    </div>
    <div class="page_block">
      <side-menu/>
      <div class="page_content">
        <h1>Условия доставки</h1>
        <div class="delivery__block block__geography">
          <p class="block-title">География доставки</p>
          <p class="block_description">
            Компания ГИПЕР В ДОМ осуществляет доставку по всей территории города Уфы, а также в населенные пункты, отдаленные не более чем на 50 км от ЦЕНТРА города.<br>
            Микрорайоны "Затон" и "Дема" доставляются по городскому тарифу. "Максимовка" и "Шакша" оцениваются как отдаленные районы.
          </p>
        </div>
        <div class="delivery__block block__timing">
          <div class="title-area">
            <p class="block-title w-descr">Сроки доставки</p>
            <p class="block-title-descr">Мы не работаем по воскресным и праздничным дням</p>
          </div>
          <div class="timing__item">
            <div class="timing__item-descr">
              <p class="block-title w-descr">Заказ до 11:00</p>
              <p class="block-title-descr">Для заказов, оформленных до 11:00, есть возможность выбрать время доставки в период с 15:00 до 19:00 в день заказа, или более позднее время или дату</p>
            </div>
            <div class="timing__item-image">
              <img src="../../assets/images/timing1100.png" alt="">
              <img src="../../assets/images/timing-arrow.svg" alt="">
              <img src="../../assets/images/timing1100delivery.png" alt="">
            </div>
          </div>
          <div class="timing__item">
            <div class="timing__item-descr">
              <p class="block-title w-descr">Заказ до 16:00</p>
              <p class="block-title-descr">Заказы, оформленные до 16:00, доставляются в период с 19:00 до 23:00 в день заказа, если клиент не выбрал другую дату</p>
            </div>
            <div class="timing__item-image">
              <img src="../../assets/images/timing1600.png" alt="">
              <img src="../../assets/images/timing-arrow.svg" alt="">
              <img src="../../assets/images/timing1600delivery.png" alt="">
            </div>
          </div>
        </div>
        <div class="delivery__block block__cost">
          <div class="title-area">
            <p class="block-title w-descr">Стоимость доставки</p>
            <p class="block-title-descr">Мы предлагаем Вам различные варианты доставки в зависимости от Ваших предпочтений. Стоимость услуги фиксирована и не зависит от суммы заказа.</p>
          </div>
          <div class="cost__description">
            <div class="cost__item">
              <div class="cost__item-image"><img src="../../assets/images/delivery_cost_1.png" alt=""></div>
              <p class="cost__item-name">Один на выбор</p>
              <p class="cost__item-price">150 ₽</p>
              <p class="cost__item-description">Любой гипермаркет на выбор по специальному тарифу</p>
            </div>
            <div class="cost__item">
              <div class="cost__item-image"><img src="../../assets/images/delivery_cost_2.png" alt=""></div>
              <p class="cost__item-name">Берем где дешевле</p>
              <p class="cost__item-price">250 ₽</p>
              <p class="cost__item-description">Выбирая доставку из нескольких гипермаркетов вы получаете доступ к самому широкому ассортименту и возможность сэкономить за счет подобора минимальных цен.</p>
            </div>
            <div class="cost__item">
              <div class="cost__item-image"><img src="../../assets/images/delivery_cost_3.png" alt=""></div>
              <p class="cost__item-name">Везем далеко</p>
              <p class="cost__item-price">500 ₽</p>
              <p class="cost__item-description">Доставка в населенные пункты, отдаленные не более чем на 50 км от города</p>
            </div>
            <div class="cost__item">
              <div class="cost__item-image"><img src="../../assets/images/delivery_cost_4.png" alt=""></div>
              <p class="cost__item-name">Доплата за перевес</p>
              <p class="cost__item-price">150 ₽</p>
              <p class="cost__item-description">Доплата за перевес осуществляется при весе вашего заказа свыше 30кг</p>
            </div>
          </div>
        </div>
        <div class="delivery__block block__confirm">
          <div class="title-area">
            <p class="block-title w-descr">Согласование заказа</p>
            <p class="block-title-descr">Как только Ваш заказ будет обработан, Вы получите смс содержащее ссылку для согласования заказа. Окончательная стоимость товаров и другие характеристики заказа утверждаются клиентом при согласовании заказа. Для согласования заказа можно использовать электронную форму согласования, либо согласовать по телефону</p>
          </div>
          <a href="tel:880070063" class="phone_number">8-800-700-63-57</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import sideMenu from '../content/includes/sideMenu'
export default {
  name: 'delivery',
  components: {
    sideMenu
  },
  mounted () {
    document.getElementsByTagName('body')[0].classList.add('inversion')
    document.title = 'Условия доставки'
  },
  destroyed () {
    document.getElementsByTagName('body')[0].classList.remove('inversion')
  }
}
</script>

<style scoped lang="scss">
  .delivery__block {
    border: 1px solid var(--just_gray);
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 30px;
  }
  .block__geography {
    height: 388px;
    background: url(../../assets/images/geography.jpg) no-repeat right 30px;
    .block_description {
      width: 360px;
      font-size: 14px;
      color: var(--almost_black);
    }
  }
  .block__timing {
    padding: 0;
    > * {
      padding: 30px;
    }
    .timing__item {
      border-top: 1px solid var(--just_gray);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .timing__item-descr {
        width: 362px;
      }
      .timing__item-image {
        width: 420px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .block__cost {
    padding: 0;
    > * {
      padding: 30px;
    }
    .block-title-descr {
      width: 362px;
    }
    .cost__description {
      display: flex;
      justify-content: space-between;
      .cost__item {
        max-width: 220px;
        min-width: 220px;
        padding: 0 10px;
        font-size: 16px;
        color: var(--almost_black);
        font-weight: 600;
        .cost__item-image {
          display: flex;
          height: 120px;
          justify-content: center;
          align-items: center;
        }
        .cost__item-name {
          margin-bottom: 8px;
        }
        .cost__item-price {
          color: var(--magical_red);
          margin-bottom: 8px;
        }
        .cost__item-description {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
  .block__confirm {
    .block-title-descr {
      width: 584px;
      margin-bottom: 23px;
    }
    .phone_number {
      text-decoration: none;
      color: var(--magical_red);
      font-weight: 600;
      font-size: 20px;
    }
  }
</style>
