<template lang="html">
  <div class="container">
    <div class="breadcrumbs">
      <router-link :to="{name: 'index'}">Главная</router-link>
      <span class="br_has_prev">Отзывы и предложения</span>
    </div>
    <div class="page_block">
      <side-menu/>
      <div class="page_content">
        <h1>Отзывы и предложения</h1>
      </div>
    </div>
  </div>
</template>

<script>
import sideMenu from '../content/includes/sideMenu'
export default {
  name: 'reviews',
  components: {
    sideMenu
  },
  mounted () {
    document.getElementsByTagName('body')[0].classList.add('inversion')
    document.title = 'Отзывы и предложения'
  },
  destroyed () {
    document.getElementsByTagName('body')[0].classList.remove('inversion')
  }
}
</script>

<style scoped>

</style>
