<template>
  <div class="side_content_menu">
    <router-link :to="{name: 'delivery'}">Условия доставки</router-link>
    <router-link :to="{name: 'how-to'}">Как оформить заказ</router-link>
    <router-link :to="{name: 'reviews'}">Отзывы и предложения</router-link>
    <router-link :to="{name: 'contacts'}">Контакты</router-link>
  </div>
</template>

<script>
export default {
  name: 'side-menu'
}
</script>

<style scoped lang="scss">
  .side_content_menu {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    a {
      color: var(--almost_black);
      height: 41px;
      display: flex;
      align-items: center;
      border-left: 5px solid transparent;
      padding-left: 18px;
      text-decoration: none;
      font-size: 16px;
      transition: all ease-out .3s;
    }
    a.router-link-exact-active {
      border-color: var(--magical_red);
      color: var(--magical_red);
      font-weight: 600;
    }
  }
</style>
