.section-cart {
  .cart-header {
    display: flex;
    align-items: center;
    position: relative;
    h1 {
      margin-bottom: 5px;
    }
    .cart-action {
      display: flex;
      align-items: center;
      margin-left: 60px;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      svg {
        margin-right: 6px;
      }
    }
    #js-save_cart {
      color: $magical_red;
    }
    #js-clean_cart {
      color: $almost_black;
    }
  }
  .cart-description {
    font-size: 14px;
    color: $secondary_gray;
    margin-top: 32px;
    margin-bottom: 36px;
  }
  .cart-block {
    display: flex;
    .cart__table {
      display: flex;
      flex-direction: column;
      .cart__table-header {
        font-size: 12px;
        color: $secondary_gray;
        margin-bottom: 10px;
      }
      .cart__table-row {
        border-radius: 5px;
        box-shadow: $material-shadow;
        background: $inversion;
        margin-bottom: 12px;
        .cart__table-td {
          align-items: center;
          color: $almost_black;
          display: flex;
        }
        .td-item-name {
          img {
            margin: 12px 18px 12px 12px;
          }
        }
        .td-item-qty {
          button, input {
            height: 30px;
          }
          button.eq-minus {
            border-radius: 5px 0 0 5px;
            width: 30px;
          }
          button.eq-plus {
            border-radius: 0 5px 5px 0;
            width: 30px;
          }
          input {
            width: 40px;
            border: 0;
            border-top: 1px solid #F0F0F0;
            border-bottom: 1px solid #F0F0F0;
            background: #fff;
            overflow: hidden;
            text-align: center;
          }
        }
      }
      .cart__table-header,
      .cart__table-row {
        display: flex;
        .td-item-name {
          width: 100%;
          max-width: 366px;
        }
        .td-item-shop {
          width: 119px;
        }
        .td-item-price {
          width: 109px;
          span {
            margin-right: 4px;
          }
        }
        .td-item-qty {
          width: 152px;
        }
        .td-item-sum {
          width: 107px;
          .js-item-summ {
            margin-right: 8px;
          }
        }
        .td-item-delete {
          width: 78px;
          justify-content: center;
          text-align: center;
        }
      }
      .cart__table-row {
        .td-item-sum {
          font-weight: 600;
          color: $orange_box;
          font-size: 16px;
        }
      }
    }
    .cart__confirm {
      min-width: 298px;
      max-width: 298px;
      height: 379px;
      border-radius: 5px;
      box-shadow: $material-shadow;
      padding: 16px;
      background-color: $inversion;
      margin-left: 16px;
      margin-top: 23px;
      .cart__confirm-offer {
        margin-top: 20px;
        color: $secondary_gray;
        font-size: 16px;
        .price {
          color: $almost_black;
          font-weight: 600;
        }
      }
      .cart__confirm-note {
        border-top: 1px solid $just_gray;
        margin-top: 36px;
        padding-top: 16px;
        p {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: $secondary_gray;
          svg {
            margin-right: 12px;
          }
        }
        textarea {
          resize: none;
          height: 105px;
          width: 100%;
          border: 1px solid $secondary_gray;
          border-radius: 5px;
          font-size: 14px;
          padding: 12px 18px;
          margin: 16px 0 22px;
        }
        button {
          padding: 10px 30px;
          float: right;
          svg {
            margin-left: 10px;
          }
        }
      }
    }
    .offer__preview {
      .cart__table-header, .cart__table-row {
        .td-item-name {
          max-width: 320px;
        }
        .td-item-price {
          max-width: 92px;
        }
        .td-item-qty {
          max-width: 106px;
        }
        .td-item-sum {
          max-width: 94px;
        }
        .td-item-status {
          width: 78px;
          .item-status-icon {
            width: 35px;
            height: 24px;
            border-radius: 5px;
            margin-right: 12px;
            &.status_change {
              background-color: $magical_red;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url(../images/matching_icon-changing.svg);
            }
            &.status_ok {
              background-color: $everything_is_ok;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url(../images/matching_icon-okay.svg);
            }
            &.status_warning {
              background-color: $orange_box;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url(../images/matching_icon-warning.svg);
            }
            &.status_canceled {
              background-color: transparent;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url(../images/matching_icon-canceled.svg);
            }
          }
        }
        .td-item-status-comment {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin-right: 32px;
          .item-status-label {
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 12px;
          }
          .status_change, .status_canceled {
            color: $magical_red;
          }
          .status_ok {
            color: $everything_is_ok;
          }
          .status_warning {
            color: $orange_box;
          }
          .item-status-text {
            color: $secondary_gray;
            font-size: 14px;
            margin-bottom: 0;
          }
        }
        .td-item-tved {
          width: 180px;
        }
      }
      .cart__table-row {
        .td-item-name {
          p {
            margin-bottom: 0;
          }
        }
        .td-item-price {
          font-size: 16px;
        }
        .td-item-qty {
          font-size: 14px;
          display: flex;
          align-items: center;
          span {
            margin-right: 5px;
          }
        }
        &.item-canceled {
          opacity: .5;
        }
      }
    }
  }
}
.personal-block {
  p {
    font-size: 14px;
    margin-bottom: 12px;
  }
  p.status {
    font-weight: 600;
    color: $magical_red;
    margin-bottom: 32px;
    &.status-ok {
      color: $everything_is_ok;
    }
    &.status-finished {
      color: $secondary_gray;
    }
  }
  .send-order-review {
    margin-bottom: 28px;
    width: 200px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    svg {
      margin-right: 12px;
    }
  }
  .order_comment-text {
    color: $secondary_gray;
  }
  .cart-block .cart__table .cart__table-row .td-item-name,
  .cart-block .cart__table .cart__table-header .td-item-name{
    width: 444px;
  }
  button[disabled], input[disabled] {
    opacity: .3;
  }
}
.order-list {
  .order_comment-text {
    color: $secondary_gray;
  }
  .cart-block .cart__table .cart__table-row .td-item-name,
  .cart-block .cart__table .cart__table-header .td-item-name{
    width: 600px;
  }
  .td-item-qty {
    span {
      color: $secondary_gray;
    }
  }
}
.send-review {
  width: 465px;
  height: 260px;
  &.active {
    display: flex;
  }
  .form-title {
    p {
      font-size: 16px;
      color: $magical_red;
      font-weight: 700;
      padding: 6px 0 18px;
    }
    border-bottom: 1px solid $just_gray;
  }
  form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    label {
      font-size: 14px;
      font-weight: 700;
      color: $almost_black;
      margin-bottom: 5px;
    }
    textarea {
      border-bottom: 1px solid $just_gray;
      padding: 10px;
      border-radius: 5px;
      resize: none;
      margin-bottom: 28px;
    }
    button {
      width: 153px;
    }
  }
}