.credentials {
  h1 {
    text-align: center;
  }
}
.credentials-block.login-block {
  justify-content: center;
}
.credentials-block {
  display: flex;
  .sign_in-promo {
    width: 33%;
    background: $just_gray;
    height: 246px;
    padding: 44px;
    color: $secondary_gray;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
  .credentials-form {
    width: 33%;
    .form__error-message {
      display: none;
    }
    a {
      font-size: 14px;
      color: $magical_red;
      text-decoration: none;
      margin-top: 16px;
      display: inline-block;
    }
    form {
      background: $inversion;
      border-radius: 5px;
      box-shadow: $material-shadow;
      padding: 20px;
      overflow: hidden;
      .form-title {
        border-bottom: 1px solid $just_gray;
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        svg {
          margin-right: 12px;
        }
        span {
          font-size: 14px;
          color: $secondary_gray;
        }
      }
      .form-block {
        color: $almost_black;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        label {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 4px;
          display: flex;
          a {
            margin: 0;
            color: $secondary_gray;
            font-weight: 400;
          }
        }
        input {
          height: 35px;
          border: 1px solid $just_gray;
          border-radius: 5px;
          padding: 0 12px;
          font-size: 14px;
        }
      }
      .form-code {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        label {
          width: 100%;
        }
      }
      .form-checkbox {
        margin-top: 20px;
        input {
          display: none;
        }
        label {
          padding-left: 32px;
          display: block;
          position: relative;
          font-size: 12px;
          color: $almost_black;
          cursor: pointer;
          a {
            display: inline;
            font-size: 12px;
          }
        }
        label::before {
          content: '';
          cursor: pointer;
          box-sizing: border-box;
          max-width: 17px;
          min-width: 17px;
          max-height: 17px;
          height: 17px;
          border: 1px solid $secondary_gray;
          border-radius: 5px;
          position: absolute;
          left: 0;
        }
        input:checked + label::before {
          background: url(../images/checkbox.svg);
          border: 0;
        }
      }
      .form-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        input {
          padding: 0 30px;
          font-size: 14px;
        }
      }
      .one-button {
        justify-content: flex-end;
      }
    }
    #forgot-password {
      width: 335px;
      margin: 0 auto;
      .form-code {
        input {
          width: 149px;
        }
      }
    }
    #sign-in {
      .form-buttons {
        justify-content: flex-end;
      }
    }
  }
}