html, body {
  height: 100%;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
  min-width: 1024px;
}
body.inversion {
  background-color: $inversion;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
input:focus,
a:focus,
button:focus,
select:focus,
textarea:focus,
.select2-selection:focus {
  outline: none;
}
.select2-dropdown {
  border-color: $just_gray;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: $magical_red;
  color: $inversion;
}
.container {
  width: 100%;
  max-width: 1270px;
  padding: 0 12px;
  margin: 0 auto;
  flex: 1 0 auto;
  align-content: baseline;
}
p {
  margin: 0;
}
a {
  cursor: pointer;
}
.radio_button,
.item_radio {
  position: relative;
  margin-bottom: 15px;
  padding-left: 28px;
  label {
    cursor: pointer;
  }
  label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $secondary_gray;
    border-radius: 50%;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"]:checked + label::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $magical_red;
    position: absolute;
    top: 6px;
    left: 6px;
  }
}
h1 {
  color: $almost_black;
  margin-top: 5px;
  margin-bottom: 32px;
}
.block-title {
  color: $almost_black;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.title-area {
  .block-title {
    margin-bottom: 8px;
  }
}
.block-title-descr {
  font-size: 14px;
  color: $almost_black;
}
.section-title {
  color: $almost_black;
  font-weight: 600;
  font-size: 36px;
  margin: 40px 0;
  text-align: center;
}
.btn {
  height: 45px;
  border-radius: 23px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
}
.btn-solid {
  border: 0;
  background: $sunrise;
  color: $inversion;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
}
.btn-inversion {
  background-color: $inversion;
  border: 1px solid $magical_red;
  color: $magical_red;
}
.breadcrumbs {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  overflow: auto;
  a, span {
    font-size: 12px;
    color: $secondary_gray;
    text-decoration: none;
    position: relative;
    margin-right: 9px;
    white-space: nowrap;
  }
  .br_has_prev {
    padding-left: 19px;
  }
  .br_has_prev::before {
    background: url(../images/br_arrow-right.svg) no-repeat left center;
    content: '';
    display: inline-block;
    width: 19px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.page_block {
  display: flex;
  max-width: 970px;
  .page_content {
    width: 100%;
    h1 {
      font-size: 36px;
      color: $almost_black;
      margin-top: 0;
    }
  }
}
.single-page-header {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  h1 {
    margin: 0;
  }
  .filter_stores {
    margin-left: 60px;
    font-size: 16px;
    p {
      display: flex;
      #show_filter {
        color: $magical_red;
        font-weight: 600;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-left: 12px;
      }
      #show_filter::after {
        background: url(../images/polygon.svg);
        content: '';
        width: 8px;
        height: 6px;
        margin-left: 6px;
      }
    }
  }
}
.fade_anim {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in .1s;
}
.fade_anim.animated {
  visibility: visible;
  opacity: 1;
}

header {
  height: 114px;
  background-color: $inversion;
  .header_fixed {
    background-color: inherit;
    top: 0;
    left: 0;
    border-bottom: 1px solid $just_gray;
    width: 100%;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 43px;
      nav {
        a {
          color: $secondary_gray;
          text-decoration: none;
          font-size: 14px;
          margin-right: 32px;
        }
      }
      .header_rightblock {
        display: flex;
        position: relative;
        form {
          left: 0;
        }
      }
      .select_location {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        margin-right: 32px;
        span {
          color: $orange_box;
          border-bottom: 1px dashed;
          margin-left: 6px;
          font-weight: 600;
        }
      }
    }
    .header_phone {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: $almost_black;
      text-decoration: none;
      span {
        margin-left: 12px;
      }
    }
  }
  .header_static {
    background: $inversion;
    border-bottom: 1px solid $just_gray;
    z-index: 10;
    .header_logo a.active {border:0}
    .header_logo img {
      height: 29px;
    }
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      > div {
        margin-right: 30px;
        > a {
          height: 70px;
          border-bottom: 2px solid transparent;
          padding-top: 2px;
        }
        .active {
          border-color: $magical_red;
          font-weight: 600;
          span {
            color: $magical_red;
          }
          svg {
            rect, path {
              fill: $magical_red
            }
          }
        }
      }
    }
    .header_catalog {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $almost_black;
        span {
          margin-left: 9px;
        }
      }
    }
    .header_search {
      position: relative;
      width: 100%;
      input[type="text"] {
        width: 100%;
        max-width: 636px;
        height: 45px;
        border: 2px solid $magical_red;
        border-radius: 23px;
        font-size: 16px;
        padding: 14px 24px;
        transition: .1s all ease-in-out;
        &:focus {
          border-radius: 10px 10px 0 0;
          & + .input-autocomplete {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .send_search {
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .input-autocomplete {
        ul {
          max-height: 200px;
          overflow-y: scroll;
        }
      }
    }
    .header_personal {
      position: relative;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $almost_black;
        width: 160px;
        span {
          margin-left: 9px;
        }
      }
      .personal_menu {
        transition: all ease-in .1s;
        top: 60px;
        right: 0;
        background-image: url(../images/polygon_menu.svg);
        padding: 50px 46px 28px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 324px;
        height: 398px;
        .personal_menu-title {
          font-size: 20px;
          font-weight: 600;
          width: 250px;
          margin-top: 10px;
          margin-bottom: 28px;
          color: $almost_black;
        }
        a {
          color: $almost_black;
          font-size: 14px;
          margin-bottom: 22px;
          display: flex;
          justify-content: space-between;
          width: 100%;
          i {
            font-style: normal;
            font-weight: 600;
            color: $magical_red;
          }
        }
        .personal_menu-logout {
          color: $secondary_gray
        }
      }
      .personal_menu.animated {
        top: 70px;
      }
    }

    .header_basket {
      position: relative;
      margin-right: 0;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $almost_black;
        width: 110px;
        .header__basket_icon {
          position: relative;
          margin-right: 30px;
          i {
            position: absolute;
            font-size: 14px;
            font-style: normal;
            background-color: $magical_red;
            color: $inversion;
            padding: 3px 5px;
            border-radius: 12px;
            left: 21px;
            min-width: 24px;
            text-align: center;
            top: 0;
          }
        }
      }
      .cart__preview {
        width: 356px;
        position: absolute;
        right: 0;
        top: 80px;
        background: $inversion;
        border-radius: 5px;
        box-shadow: $high-shadow;
        padding: 12px;
        z-index: 12;
        .close {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 28px;
          width: 32px;
          text-align: center;
          cursor: pointer;
          color: $magical_red;
        }
        > p {
          color: $just_gray;
          font-size: 14px;
          margin-bottom: 12px;
        }
        #cart__preview-items {
          max-height: 240px;
          overflow: auto;
          margin-bottom: 109px;
          span.empty {
            font-size: 14px;
            color: $secondary_gray;
          }
          .cart_preview-item {
            display: flex;
            align-items: flex-start;
            position: relative;
            width: 100%;
            margin-bottom: 8px;
            border-bottom: 1px solid $just_gray;
            padding-bottom: 8px;
            &:last-child {
              margin-bottom: 0;
              border-bottom: 0;
            }
            a.delete {
              position: absolute;
              right: 16px;
              background: url(../images/trash.svg);
              width: 13px;
              height: 15px;
            }
            img {
              max-width: 73px;
              min-width: 73px;
              height: auto;
              margin-right: 12px;
            }
            .cart_preview-item--details {
              width: calc(100% - 85px);
              .name {
                font-size: 14px;
                color: $almost_black;
                margin-bottom: 8px;
                max-width: 85%;
              }
              .price {
                font-size: 14px;
                color: $secondary_gray;
                margin-bottom: 8px;
              }
              .qty {
                display: flex;
                button {
                  cursor: pointer;
                  width: 30px;
                  height: 30px;
                  color: $inversion;
                }
                .eq-minus {
                  border-radius: 5px 0 0 5px;
                }
                .eq-plus {
                  border-radius: 0 5px 5px 0;
                }
                input {
                  width: 40px;
                  border: 0;
                  border-top: 1px solid $just_gray;
                  border-bottom: 1px solid $just_gray;
                  font-size: 12px;
                  text-align: center;
                }
              }
            }
          }
        }
        .cart_preview-confirm {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 12px;
          background: #F6F6F6;
          width: 100%;
          .confirm-title {
            font-size: 12px;
            color: $secondary_gray;
            margin-bottom: 8px;
          }
          .summ {
            color: $almost_black;
            font-size: 14px;
            margin-bottom: 8px;
            font-weight: 700;
          }
          .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
              font-size: 14px;
              color: $magical_red;
              width: 140px;
            }
            .btn {
              color: $inversion;
              font-size: 14px;
              width: 170px;
              display: flex;
              align-items: center;
              height: 40px;
              svg {
                margin-left: 12px;
              }
            }
          }
        }
      }
    }
  }
  .header_static.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  a:hover {
    color: $magical_red;
  }
}
footer {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .footer-contacts {
      display: flex;
      a {
        display: flex;
        text-decoration: none;
        align-items: center;
        margin-right: 32px;
        color: $almost_black;
        span {
          margin-left: 12px;
        }
      }
    }
    .dev-contacts {
      display: flex;
      a {
        display: flex;
        text-decoration: none;
        align-items: center;
        color: $almost_black;
        font-size: 12px;
        span {
          margin-right: 12px;
        }
      }
    }
  }
}

.catalog__section-page {
  display: flex;
  flex-wrap: wrap;
  .catalog_sections {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    a {
      color: $almost_black;
      min-height: 41px;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 16px;
      transition: all ease-out .3s;
    }
    a.show-more-cats {
      justify-content: center;
      font-weight: 600;
      padding-top: 16px;
      min-height: auto;
      height: auto;
      span {
        border-bottom: 1px dashed;
      }
    }
    .active__section {
      .active__section-title {
        color: $almost_black;
        display: flex;
        align-items: center;
        padding-left: 18px;
        border-left: 5px solid transparent;
        svg {
          margin-right: 10px;
          max-height: 31px;
        }
      }
      .active__section-title.active {
        font-weight: 600;
        color: $magical_red;
        border-color: $magical_red;
        svg {
          path {
            fill: $magical_red;
          }
        }

      }
      .active__section-subsections {
        margin-left: 16px;
        a {
          margin-top: 13px;
          padding-left: 18px;
          border-left: 5px solid transparent;
          img {
            margin-right: 13px;
          }
        }
        a.active {
          border-color: $magical_red;
          color: $magical_red;
          font-weight: 600;
        }
      }
    }
    .catalog__sections-list {
      a {
        margin-top: 36px;
        img {
          margin-right: 13px;
          max-height: 31px;
        }
      }
    }
  }
  .catalog__section-positions {
    width: calc(100% - 300px);
    padding-left: 12px;
    position: relative;
    .catalog__title {
      display: flex;
      flex-direction: column;
      margin-bottom: 28px;
      .title-block {
        width: 100%;
        h1 {
          font-size: 20px;
          margin-top: 0;
          width: 80%;
          margin-bottom: 24px;
        }
      }
      .sort-filter-block {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        span {
          color: $secondary_gray;
        }
        a {
          color: $magical_red;
          border-bottom: 1px dotted $magical_red;
          text-decoration: none;
          position: relative;
        }
        .sort-by {
          margin-right: 30px;
          a::after {
            position: absolute;
            content: '';
            right: -30px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 30px;
            height: 10px;
            background: url(../images/sort.svg) no-repeat right;
          }
        }
        .filter-by {
          margin-left: 30px;
          a::before {
            position: absolute;
            content: '';
            left: -30px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 30px;
            height: 13px;
            background: url(../images/filter.svg) no-repeat left center;
          }
          a::after {
            position: absolute;
            content: '';
            right: -20px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 20px;
            height: 9px;
            background: url(../images/polygon.svg) no-repeat right center;
          }
        }
      }
    }
    .catalog__title.item__title {
      .title-block {
        h1 {
          margin-bottom: 0;
        }
      }
    }
    .positions__block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .catalog__element {
        min-width: 220px;
        max-width: 220px;
        min-height: 344px;
        margin-bottom: 16px;
        box-shadow: 0 1px 4px rgba(0,0,0,.25);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        cursor: pointer;
        position: relative;
        > span {
          height: 25px;
          min-width: 25px;
          position: absolute;
          right: 15px;
          top: 110px;
          padding-top: 2px;
          background: $magical_red;
          color: $inversion;
          border-radius: 13px;
          font-size: 14px;
          display: none;
          align-items: center;
          justify-content: center;
        }
        img {
          display: block;
          margin: 0 auto 15px;
        }
        .element__name {
          color: $secondary_gray;
          font-size: 14px;
          text-decoration: none;
          height: 53px;
          margin-bottom: 15px;
        }
        .element_price-per-item {
          color: $almost_black;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 15px;
        }
        .element_price-per-kg {
          color: $orange_box;
          font-size: 16px;
          margin-bottom: 15px;
        }
        .element__buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .btn {
            padding: 0 24px;
          }
        }
      }
    }
    #added_to_cart {
      top: 0;
    }
  }
}
.product__detail-container {
  .product__info {
    display: flex;
    margin-bottom: 16px;
    .product__info-image {
      margin-right: 16px;
      .product__info-general-image {
        margin-bottom: 8px;
        img {
          width: 100%;
        }
      }
      .product__info-pictures {
        display: flex;
        justify-content: space-between;
        div {
          width: 24%;
          padding: 4px;
          border: 1px solid $just_gray;
          border-radius: 2px;
          cursor: pointer;
        }
      }
    }
    .product__info-cost {
      .price {
        color: $secondary_gray;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        span {
          margin-top: 5px;
          font-size: 16px;
          color: $magical_red;
        }
      }
      .quantity {
        color: $secondary_gray;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        margin-top: 21px;
        margin-bottom: 21px;
        width: 125px;
        div {
          display: flex;
          margin-top: 5px;
          border-radius: 5px;
          border: 1px solid $just_gray;
          overflow: hidden;
          button {
            border: 0;
            background-color: $inversion;
            width: 35px;
            height: 35px;
            cursor: pointer;
            color: $almost_black;
            font-size: 16px;
          }
          input {
            border: 0;
            border-left: 1px solid $just_gray;
            border-right: 1px solid $just_gray;
            height: 35px;
            width: 55px;
            text-align: center;
            color: $almost_black;
            font-size: 16px;
          }
        }
      }
      .buttons {
        .btn-solid {
          padding: 0 20px;
          svg {
            margin-right: 12px;
          }
        }
      }
    }
  }
  .product__description {
    font-size: 14px;
    color: $almost_black;
    .descr-title {
      font-size: 12px;
      font-weight: 600;
      color: $secondary_gray;
      margin-bottom: 8px;
    }
  }
}
span.required {
  color: $magical_red;
  margin-left: 8px;
}
.sideMenu {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  a {
    padding-left: 18px;
    border-left: 5px solid transparent;
    height: 49px;
    display: flex;
    align-items: center;
    padding-right: 24px;
    font-size: 14px;
    color: $almost_black;
    text-decoration: none;
    i {
      color: $magical_red;
      font-style: normal;
      font-size: 16px;
      margin-left: 32px;
    }
  }
  a.active {
    border-color: $magical_red;
    color: $magical_red;
    font-size: 16px;
    font-weight: 600;
  }
}
.w-desc {
  margin-bottom: 36px;
  h1 {
    margin-bottom: 15px;
  }
  .title-description {
    font-size: 14px;
    color: $secondary_gray;
    width: 719px;
  }
}
.owl-carousel .owl-nav {
  button {
    width: 23px;
    height: 45px;
    position: absolute;
    top: 160px;
    z-index: 1;
  }
  button.owl-prev {
    left: -25px;
    background: $secondary_gray url(../images/owl-prev.svg) no-repeat 5px center;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
  }
  button.owl-next {
    right: -25px;
    background: $secondary_gray url(../images/owl-next.svg) no-repeat 12px center;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
  }
  button.disabled {
    display: none;
  }
}
.login-popup {
  width: 304px;
  height: 284px;
  z-index: 11;
  background: $inversion;
  box-shadow: $high_shadow;
  left: -70%;
  padding: 24px 20px;
  color: $almost_black;
  border-radius: 5px;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    width: 32px;
    text-align: center;
    cursor: pointer;
    color: $magical_red;
  }
  .form-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  .form-block {
    margin-bottom: 16px;
    label {
      font-size: 14px;
      font-weight: 600;
      display: flex;
      margin-bottom: 8px;
      justify-content: space-between;
      a {
        font-weight: 400;
        color: $secondary_gray;
        width: auto !important;
      }
    }
    input {
      border: 1px solid $secondary_gray;
      border-radius: 5px;
      width: 100%;
      height: 35px;
      padding: 0 12px;
      font-size: 14px;
    }
  }
  .form-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      font-size: 14px;
      color: $magical_red !important;
    }
    input {
      width: 125px;
    }
  }
  &.invalid_data {
    border: 1px solid $orange_box;
    height: 315px;
    .form__error-message {
      font-size: 14px;
      color: $orange_box;
      margin-bottom: 10px;
      display: block;
    }
    input.invalid {
      background: rgba(227, 4, 19, .11);
      border: 1px solid rgba(227, 4, 19, .11) !important;
    }
  }
}
.popup-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.5);
  z-index: 200;
  display: none;
}
.popup {
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background: $inversion;
  border-radius: 5px;
  box-shadow: $high_shadow;
  z-index: 210;
  padding: 16px 12px;
  margin: auto;
  .close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 32px;
    width: 36px;
    text-align: center;
    cursor: pointer;
    color: $magical_red;
  }
  p.popup-title {
    font-weight: 600;
    font-size: 14px !important;
    color: $almost_black;
    margin-bottom: 16px;
  }
}
.popup_select-location {
  width: 580px;
  height: 366px;
  margin: auto;
  .form-hq {
    border-bottom: 1px solid $just_gray;
    color: $secondary_gray;
    display: flex;
    align-items: center;
    padding-top: 4px;
    font-size: 14px;
    padding-bottom: 16px;
    svg {
      margin-right: 12px;
    }
  }
  .form-block {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 20px 0;
    .form-field {
      display: flex;
      flex-direction: column;
      margin-right: 52px;
      label {
        font-weight: 600;
        font-size: 14px;
        color: $almost_black;
        margin-bottom: 8px;
      }
      input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid $just_gray;
        height: 35px;
        padding: 0 12px;
        font-size: 14px;
      }
    }

    .set_street {
      width: 321px;
      position: relative;
      input:focus {
        border-radius: 5px 5px 0 0;
        border-color: $magical_red;
        & + .input-autocomplete {
          visibility: visible;
          opacity: 1;
        }
      }
      .input-autocomplete {
        top: 59px;
        ul {
          max-height: 160px;
        }
      }
    }
    .set_apts, .set_et {
      width: 64px;
    }
    .set_date, .set_time {
      width: 130px;
    }
    .select2-selection--single {
      height: 35px;
      padding: 3px 0;
      font-size: 14px;
      border-color: $just_gray;
    }
    .select2-selection__arrow {
      top: 3px;
    }
  }
  .set_timing {
    width: 100%;
    .form-buttons {
      margin-right: 0;
      position: absolute;
      right: 0;
      button {
        font-size: 14px;
        width: 92px;
        svg {
          margin-left: 12px;
        }
      }
    }
  }
  .city-select {
    span {
      font-weight: 600;
      color: $almost_black;
      font-size: 14px;
      margin-right: 4px;
    }
    .js-select-city {
      border-bottom: 1px dashed $orange_box;
      color: $orange_box;
      font-weight: 600;
      text-decoration: none;
      font-size: 14px;
    }
  }
}
.show-more {
  font-size: 16px;
  color: $almost_black;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  span {
    border-bottom: 1px dashed $almost_black;
  }
}
.rating {
  svg {
    stroke: $secondary_gray;
    cursor: pointer;
  }
  .rated, .rated-complete {
    stroke: $magical_red;
    use {
      fill: $magical_red;
    }
  }
}
.filter-block {
  width: 100%;
  height: 95px;
  display: none;
  border: 1px solid $just_gray;
  border-radius: 5px;
  padding: 0 16px;
  align-items: center;
  margin-top: 20px;
  z-index: 2;
  .filter-field {
    position: relative;
    margin-right: 28px;
    min-width: 240px;
    @media screen and (max-width: 1024px) {
      min-width: 160px;
      &.filter-select .select2-container {
        width: 160px !important;
      }
    }
  }
  .filter-multi {
    height: 31px;
    border: 1px solid $just_gray;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 600;
    color: $almost_black;
    border-radius: 5px;
    span {
      cursor: pointer;
      width: 100%;
    }
    .filter-options {
      position: absolute;
      top: 29px;
      background: $inversion;
      display: none;
      flex-direction: column;
      left: -1px;
      right: -1px;
      padding: 0;
      margin: 0;
      border: 1px solid $just_gray;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      li {
        list-style: none;
        padding: 8px 12px;
      }
      input {
        display: none;
      }
      label {
        padding-left: 25px;
        display: block;
        position: relative;
        font-size: 12px;
        font-weight: 400;
        color: $almost_black;
        cursor: pointer;
        padding-top: 2px;
      }
      label::before {
        content: '';
        cursor: pointer;
        box-sizing: border-box;
        max-width: 15px;
        min-width: 15px;
        max-height: 15px;
        height: 15px;
        border: 1px solid $secondary_gray;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
      }
      input:checked + label::before {
        background: url(../images/checkbox.svg) -1px -1px;
        border: 0;
      }
    }
  }
  .filter-multi.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .filter-options {
      display: flex;
    }
  }
  .filter-select {
    width: 240px;
    .select2-container {
      width: 240px !important;
    }
    .select2-container--default .select2-selection--single {
      height: 31px;
      border-color: $just_gray;
      font-size: 14px;
      padding-top: 1px;
      padding-left: 4px;
      font-weight: 600;
      border-radius: 5px;
      .select2-selection__arrow {
        top: 2px;
      }
    }
  }
  .filter-slider {
    width: 260px;
    display: flex;
    margin-top: 12px;
    margin-left: 32px;
    .slider-name {
      font-size: 14px;
      margin-right: 18px;
    }
    .slider-block {
      width: 249px;
      margin-top: 5px;
      .min, .max {
        color: $almost_black;
        font-size: 14px;
        font-weight: 600;
        margin-top: 4px;
        i {
          font-style: normal;
        }
      }
      .ui-slider-handle {
        width: 16px;
        height: 24px;
        background: url(../images/slider.svg);
        border: 0;
        top: -24px;
        margin-left: -8px;
      }
      .ui-slider-handle:focus {
        outline: none;
      }
      .slider-values {
        display: flex;
        justify-content: space-between;
      }
    }
    #slider-range {
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background: $just_gray;
      border: 0;
      .ui-widget-header {
        background: $magical_red;
      }
    }
  }
}
.filter-block.active {
  display: flex;
}
.filter-multi::after {
  content: '';
  background: url(../images/polygon-filter.svg);
  width: 8px;
  height: 6px;
  display: block;
  position: absolute;
  right: 8px;
  top: 12px;
}
.city-select {
  .select-city-list {
    background: $inversion;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 10px;
    box-shadow: $material-shadow;
    border-radius: 5px;
    top: 17px;
    z-index: 1;
    left: 76px;
    input {
      display: none;
    }
    label {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-bottom: 6px;
      &::before {
        content: '';
        width: 18px;
        height: 18px;
        border: 1px solid #888;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
    input:checked + label::after {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #E30413;
      position: absolute;
      top: 6px;
      left: 6px;
    }
  }
}
#to_top {
  width: 45px;
  height: 45px;
  position: fixed;
  right: 15px;
  bottom: 100px;
  border-radius: 50%;
  display: none;
  z-index: 1;
  opacity: .4;
  background: $secondary_gray url(../images/owl-next.svg) no-repeat center;
  transform: rotate(-90deg);
  transition: all .1s ease-in;
  &:hover {
    opacity: 1;
  }
}
.added {
  z-index: 20;
  background: transparent;
  transform: scale(1);
  transition: .2s transform ease;
}
.added.active {
  border: 1px solid $magical_red;
}
.element__buttons .element_info {
  width: 23px;
  height: 23px;
  background: url(../images/element_info.svg);
}
.ui-widget.ui-widget-content {
  border: 1px solid $just_gray;
  border-radius: 0;

  .ui-widget-header {
    border: 0;
    background: $inversion;
    color: $almost_black;
    font-size: 14px;
    .ui-icon {
      background-repeat: no-repeat;
      background-position: center;
    }
    .ui-datepicker-prev .ui-icon {
      background-image: url(../images/reviews-polygon.svg);
      transform: rotate(180deg);
    }
    .ui-datepicker-next .ui-icon {
      background-image: url(../images/reviews-polygon.svg);
    }
    a.ui-state-hover {
      border: 0;
      background: transparent;
    }
  }
  .ui-datepicker-calendar {
    thead {
      span {
        color: $secondary_gray;
        font-size: 14px;
        text-transform: lowercase;
        font-weight: 400;
      }
    }
    tbody {
      td {
        a {
          color: $almost_black;
          font-size: 14px;
          display: flex;
          width: 31px;
          height: 31px;
          border-radius: 50%;
          background: $inversion;
          border-color: transparent;
          align-items: center;
          justify-content: center;
          &.ui-state-hover {
            background: #F7F7F7;
          }
          &.ui-state-active {
            background: $magical_red;
            color: $inversion;
          }
        }
      }
      td.ui-datepicker-today {
        a {
          color: $almost_black;
          font-size: 14px;
          display: flex;
          width: 31px;
          height: 31px;
          border-radius: 50%;
          background: #F7F7F7;
        }
      }
    }
  }
}
.popup_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,.6);
  z-index: 2000;
  opacity: 0;
  display: flex;
  &::after {
    content: '\00d7';
    width: 36px;
    height: 36px;
    cursor: pointer;
    font-size: 35px;
    text-align: center;
    line-height: 1;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  img {
    border: 2px solid $magical_red;
    max-width: 80%;
    height: auto;
  }
}
.show-photo {
  text-decoration: none;
  font-size: 12px;
  width: 143px;
  height: 30px;
  padding: 0;
  margin-top: 8px;
}
.sort-by {
  position: relative;
  .sorting {
    background: $inversion;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 10px;
    box-shadow: $material-shadow;
    border-radius: 5px;
    top: 18px;
    z-index: 10;
    right: -31px;
    position: absolute;
    input {
      display: none;
    }
    label {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-bottom: 6px;
      &::before {
        content: '';
        width: 18px;
        height: 18px;
        border: 1px solid #888;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
    input:checked + label::after {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #E30413;
      position: absolute;
      top: 6px;
      left: 6px;
    }
  }
}
.input-autocomplete {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 300;
  background: #fff;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  border: 1px solid $just_gray;
  border-top: 0;
  visibility: hidden;
  opacity: 0;
  transition: .1s all ease-in-out;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    background: $inversion;
    list-style: none;
    border-bottom: 1px solid $just_gray;
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
      padding: 12px;
      .autocomplete-item {
        color: $almost_black;
        font-size: 14px;
      }
      .autocomplete-note {
        color: $secondary_gray;
        font-size: 12px;
      }
      &:hover {
        background: $just_gray;
      }
    }

    &:last-child {
      border: none;
    }
  }
}
.credentials-form {
  .invalid_data {
    border: 1px solid $orange_box;
    .form__error-message {
      font-size: 14px;
      color: $orange_box;
      margin-bottom: 10px;
      display: block !important;
    }
    input.invalid {
      background: rgba(227, 4, 19, .11);
      border-color: rgba(227, 4, 19, .11) !important;
    }
    input[type="checkbox"].invalid + label::before {
      background: rgba(227, 4, 19, .11);
      border-color: rgba(227, 4, 19, .11) !important;
    }
  }
}
.popup-container {
  position: fixed;
  top: 80px;
  width: 100%;
  right: 15px;
}