.section-shop .row {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
  > div {
    margin: 0 10px;
  }
}
.shopSelect {
  background: $inversion url(../images/shop-select.jpg) no-repeat;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  width: calc(67% - 20px);
  height: 273px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .shopFilter {
    width: 417px;
    display: flex;
    justify-content: center;
    .btn-solid {
      width: 230px;
      margin-top: 20px;
      span {
        margin-right: 14px;
      }
    }
  }
}
.deliverySelect {
  background: $inversion url(../images/color-basket.svg) no-repeat 95% bottom;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(33% - 20px);
  height: 273px;
  .deliveryInfoBlock {
    width: 285px;
    .deliveryTime,
    .deliveryAddress {
      font-size: 16px;
      margin: 15px 0;
    }
    .btn-inversion {
      font-size: 14px;
      width: 100%;
      margin-top: 22px;
      background: transparent;
    }
  }
}
.section-slider {
  margin-top: 24px;
  position: relative;
  margin-bottom: 24px;
  .slide-carousel {
    border-radius: 5px;
    overflow: hidden;
    .slide__item {
      height: 425px;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 40px;
      padding-bottom: 34px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
      }
      p {
        position: relative;
        z-index: 1;
        color: $inversion;
        margin: 0;
        font-weight: 600;
      }
      .slide__item-header {
        font-size: 62px;
      }
      .slide__item-description {
        font-size: 20px;
        margin-top: 15px;
      }
    }
    .owl-dots {
      position: absolute;
      bottom: 18px;
      left: 40px;
      button {
        width: 8px;
        height: 8px;
        margin-right: 10px;
        background-color: rgba(255,255,255,.3);
        border-radius: 50%;
      }
      button.active {
        background: $inversion;
      }
    }
  }
}
.go-to-catalog {
  width: 231px;
  text-decoration: none;
  margin: 0 auto;
  svg {
    margin-left: 8px;
  }
}
.category__overview {
  margin-bottom: 36px;
  background: $inversion;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  height: 528px;
  .category__overview-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    padding: 0 36px 0 24px;
    border-bottom: 1px solid $just_gray;
    .category__title {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 600;
      color: $almost_black;
      margin: 0;
      img {
        margin-right: 15px;
      }
    }
    .category__title--link {
      color: $magical_red;
      font-size: 16px;
      text-decoration: none;
      border-bottom: 1px solid $magical_red;
    }
  }
  .category__overview-container {
    display: flex;
    height: 433px;
    position: relative;
    .go-to-subcategory {
      position: absolute;
      bottom: 13px;
      right: 40px;
      font-size: 14px;
      color: $almost_black;
      visibility: hidden;
      z-index: 2;
    }
    .category__overview--subcategories {
      width: 100%;
      max-width: 316px;
      min-width: 316px;
      height: 100%;
      border-right: 1px solid $just_gray;
      padding-top: 18px;
      display: flex;
      flex-direction: column;
      overflow: auto;
      .co__subcategory {
        min-height: 50px;
        display: flex;
        align-items: center;
        border-left: 5px solid $inversion;
        text-decoration: none;
        color: $almost_black;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 74px;
        }
      }
      .co__subcategory.active {
        color: $magical_red;
        font-weight: bold;
        border-color: $magical_red;
        svg path {
          fill: $magical_red;
          stroke: $magical_red;
        }
      }
    }
    .category__overview--positions {
      width: calc(100% - 316px);
      padding: 0 32px;
      display: flex;
      align-items: center;
      .owl-prev {
        left: 0;
      }
      .owl-next {
        right: 0;
      }
      .owl-dots {
        position: absolute;
        bottom: 13px;
        left: 40px;
        .owl-dot {
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background-color: $secondary_gray;
          border: 0;
          margin-right: 10px;
          opacity: .3;
        }
        .owl-dot.active {
          opacity: 1;
        }
      }
    }
    .slide_positions {
      padding-top: 30px;
      height: 100%;
    }
  }
  .catalog__element {
    min-width: 200px;
    max-width: 200px;
    min-height: 344px;
    margin: 5px auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    position: relative;
    > span {
      height: 25px;
      min-width: 25px;
      position: absolute;
      right: 15px;
      top: 110px;
      padding-top: 2px;
      background: $magical_red;
      color: $inversion;
      border-radius: 13px;
      font-size: 14px;
      display: none;
      align-items: center;
      justify-content: center;
    }
    img {
      margin-bottom: 15px;
    }
    .element__name {
      color: $secondary_gray;
      font-size: 14px;
      text-decoration: none;
      height: 53px;
      margin-bottom: 15px;
    }
    .element_price-per-item {
      color: $almost_black;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    .element_price-per-kg {
      color: $orange_box;
      font-size: 16px;
      margin-bottom: 15px;
    }
    .element__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn {
        padding: 0 24px;
      }
    }
  }
  .category__overview-element {
    max-width: 200px;
    max-height: 344px;
    padding: 12px;
  }
}
.filter_stores {
  position: relative;
}
form.pop-filter {
  top: 20px;
  right: 0;
  background: $inversion;
  box-shadow: $high_shadow;
  padding: 29px 29px 14px;
  border-radius: 5px;
  z-index: 2;
  width: 184px;
  .close {
    color: $magical_red;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 33px;
    line-height: 1;
    width: 33px;
    text-align: center;
    cursor: pointer;
  }
}
form.pop-filter.animated {
  top: 30px;
}
.filter_stores.active {
  #show_filter::after {
    transform: rotate(180deg);
  }
}
.action-note {
  background-color: $inversion;
  border-radius: 5px;
  box-shadow: $high_shadow;
  padding: 16px 12px;
  right: 0;
  color: $almost_black;
  overflow: hidden;
  .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  .descr {
    font-size: 14px;
    margin-bottom: 12px;
    a {
      color: $magical_red;
      text-decoration: none;
    }
  }
  .close-link {
    width: auto;
    float: right;
    font-size: 14px;
    padding: 0 30px;
  }
}
.load-layer {
  background: #FFFFFF;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  background-image: url(../images/25.gif);
  background-position: center;
  background-repeat: no-repeat;
}
label[for="sign-in-password"] {
  justify-content: space-between;
}