@media only screen and (max-width : 1024px) {
  #app {
    width: 1024px;
    .container {
      width: 1024px;
      &.section-catalog {
        overflow-x: hidden;
      }
    }
  }
  .category__overview {
    overflow-x: hidden;
  }
  header {
    .header_fixed {
      .container {
        nav {
          a {
            font-size: 12px;
          }
        }
      }
    }
    .header_static {
      .container {
        a {
          font-size: 14px;
        }
      }
    }
  }
  .sideMenu {
    a.active {
      font-size: 14px;
    }
  }
  .section-personal {
    .personal-block {
      .personal-history {
        .history__table-row,
        .history__table-header {
          align-items: center;
          .td-number, .td-date {
            padding-left: 12px;
            max-width: 134px;
            min-width: 134px;
            font-size: 14px;
          }
          .td-status {
            padding-left: 12px;
            max-width: 161px;
          }
          .td-operation {
            padding-left: 12px;
            max-width: 140px;
            min-width: 140px;
            font-size: 14px;
          }
          .td-link {
            a {
              font-size: 12px;
            }
          }
          .td-summ {
            padding-left: 12px;
            max-width: 134px;
            min-width: 134px;
          }
          span {
            font-size: 14px;
          }
        }
      }
      .personal-finance {
        flex-wrap: wrap;
        .finance-block {
          width: 45%;
        }
      }
    }
  }
  .section-cart .cart-block .cart__table .cart__table-row .td-item-sum {
    font-size: 14px;
    justify-content: center;
  }
  .section-cart .cart-block .cart__table .cart__table-header .td-item-name,
  .section-cart .cart-block .cart__table .cart__table-row .td-item-name {
    max-width: 330px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1070px) {
  header {
    .header_fixed {
      .container {
        nav {
          a {
            font-size: 12px;
          }
        }
      }
    }
    .header_static {
      .container {
        a {
          font-size: 14px;
        }
      }
    }
  }
}