.mobile {
  min-width: unset;
  input, textarea, select, button {
    -webkit-appearance: none;
  }
  input[type="text"], input[type="tel"], select, textarea {
    background: $inversion;
  }
  #app {
    padding-top: 95px;
  }
  #app, #app .container {
    width: 100%;
  }
  .page_index {
    .section-slider {
      margin-top: 0;
      margin-bottom: 0;
      .slide-carousel {
        border-radius: 0;
        .slide__item {
          height: 154px;
          padding-left: 12px;
          padding-bottom: 12px;
          background-size: cover;
          p {
            font-size: 16px;
            font-weight: 400;
          }
        }
        .owl-dots {
          left: 12px;
          bottom: 12px;
        }
      }
    }
    .section-shop {
      .shopSelect {
        background: $inversion;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        padding: 0 12px;
        @media screen and (orientation: landscape) {
          justify-content: center;
        }
        .shopFilter {
          padding-bottom: 30px;
          border-bottom: 1px solid $just_gray;
          justify-content: flex-start;
          @media screen and (orientation: landscape) {
            width: auto;
          }
        }
      }
      .deliverySelect {
        background: $inversion;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        height: 187px;
        padding: 0 12px;
        @media screen and (orientation: landscape) {
          justify-content: center;
        }
        .deliveryInfoBlock {
          @media screen and (orientation: landscape) {
            width: auto;
          }
          .block-title {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 4px;
            .deliveryTime {
              font-weight: 600;
              font-size: 14px;
            }
          }
          .deliveryAddress {
            font-size: 14px;
            margin: 0;
            position: relative;
            .select_location {
              display: inline-flex;
              align-items: center;
              top: 4px;
              position: relative;
              text-decoration: none;
              span {
                color: $orange_box;
                font-weight: 600;
                border-bottom: 1px dashed $orange_box;
                margin-left: 6px;
              }
            }
          }
          button {
            max-width: 296px;
          }
        }
      }
    }
    .section-title {
      font-size: 20px;
      text-align: left;
      padding-left: 12px;
    }
    .section-catalog {
      overflow: hidden;
      background: $inversion;
    }
    .section-personal_orders {
      .personal_orders {
        .orders {
          border-top: 1px solid $just_gray;
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            a {
              align-items: center;
              display: flex;
              justify-content: space-between;
              padding: 0 52px 0 12px;
              position: relative;
              height: 45px;
              text-decoration: none;
              font-size: 12px;
              color: $almost_black;
              border-bottom: 1px solid $just_gray;
              border-top: 1px solid transparent;
              .order_num {
                font-weight: 600;
                font-size: 14px;
              }
            }
            a::after {
              content: '';
              background: url(../images/reviews-polygon.svg) no-repeat center;
              background-size: contain;
              width: 5px;
              height: 12px;
              position: absolute;
              right: 12px;
              top: 0;
              bottom: 0;
              margin: auto;
            }
          }
        }
        > a {
          display: block;
          text-align: center;
          font-weight: 600;
          font-size: 14px;
          color: $almost_black;
          padding: 12px 0;
          background: $inversion;
          text-decoration: none;
          span {
            border-bottom: 1px solid $almost_black;
          }
        }
      }
    }
  }
  .popup_select-location {
    width: auto;
    height: 460px;
    left: 12px;
    right: 12px;
    top: 40px;
    bottom: 40px;

    .form-field {
      margin-right: 32px;
    }
    .set_time {
      margin-right: 0;
      select {
        height: 35px;
        border-color: $just_gray;
      }
    }
    .set_date {
      width: 145px;
    }
    .form-buttons {
      top: 78px;
      margin-right: 0;
    }
    .set_address {
      flex-wrap: wrap;
      .set_street {
        margin-right: 0;
        input {
          margin-bottom: 12px;
        }
      }
    }
  }
  .select-city-list {
    position: absolute;
    z-index: 2;
    background: $inversion;
    border-radius: 5px;
    box-shadow: $high_shadow;
    padding: 16px 16px 4px;
    display: flex;
    flex-direction: column;
    top: 16px;
    left: 70px;
    input {
      display: none;
    }
    label {
      height: 18px;
      display: flex;
      align-items: center;
      font-size: 14px;
      position: relative;
      margin-bottom: 12px;
    }
    label::before {
      content: '';
      background: $inversion;
      border: 1px solid $almost_black;
      border-radius: 50%;
      width: 17px;
      height: 17px;
      margin-right: 12px;
    }
    input:checked + label::after {
      content: '';
      background: $magical_red;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      position: absolute;
      left: 6px;
      top: 6px;
    }
  }
  .popup_offered {
    background: $inversion url(../images/color-basket.svg) no-repeat left bottom;
    background-size: 84px 75px;
    left: 12px;
    right: 12px;
    height: 194px;
    padding: 25px 20px;
    p {
      font-size: 12px;
      margin-bottom: 16px;
    }
    .offered {
      font-size: 14px;
      float: right;
      text-decoration: none;
      width: 85px;
      height: 40px;
      svg {
        margin-left: 6px;
      }
    }
  }
  .popup_added {
    background: $inversion url(../images/color-basket.svg) no-repeat left bottom;
    background-size: 84px 75px;
    left: 12px;
    right: 12px;
    height: 164px;
    padding: 25px 20px;
    p {
      font-size: 12px;
      margin-bottom: 16px;
      a {
        color: $magical_red;
      }
    }
    .offered {
      font-size: 14px;
      float: right;
      text-decoration: none;
      width: 85px;
      height: 40px;
      svg {
        margin-left: 6px;
      }
    }
  }
  .popup_first-visit {
    height: 104px;
    left: 12px;
    right: 12px;
    .go-to-howto {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: $secondary_gray;
        font-size: 14px;
      }
      a {
        font-size: 14px;
        text-decoration: none;
        width: 85px;
        height: 40px;
        svg {
          margin-left: 12px;
        }
      }
    }
  }
  hr {
    line-height: 1;
    border: 0;
    height: 1px;
    background: $just_gray;
    margin-top: -12px;
    margin-bottom: 14px;
  }
  .cities-select {
    position: absolute;
    top: 18px;
    background: $inversion;
    border-radius: 5px;
    box-shadow: $material_shadow;
    z-index: 1;
    left: 65px;
    padding: 12px;
    b {
      color: $almost_black;
      padding-bottom: 8px;
      display: block;
    }
    .form-radio {
      padding: 4px 0;
      label {
        align-items: center;
      }
    }
  }
  .required {
    margin-left: 0;
  }
}
.mobile header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  height: 94px;
  .m_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    a {
      text-decoration: none;
      border-bottom: 2px solid transparent;
      padding-top: 2px;
      box-sizing: border-box;
    }
    #js-show-menu {
      min-width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a.active {
      border-color: $magical_red;
    }
    .m_personal {
      min-width: 52px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $just_gray;
      border-right: 1px solid $just_gray;
    }
    .m_basket {
      min-width: 72px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 14px;
        background: $magical_red;
        color: $inversion;
        height: 20px;
        min-width: 20px;
        border-radius: 10px;
        padding: 3px 4px;
        margin-left: -6px;
      }
    }
    .m_logo {
      width: 100%;
      img {
        display: block;
        margin: 0 auto;
        height: 30px;
      }
    }
    .personal_popup {
      position: absolute;
      top: 45px;
      z-index: 1;
      background: $inversion;
      right: 14px;
      display: flex;
      flex-direction: column;
      padding: 24px 20px;
      border-radius: 5px;
      box-shadow: $high_shadow;
      width: 260px;
      @media screen and (orientation: landscape) {
        top: 0;
        right: 124px;
      }
      p {
        font-weight: 600;
        margin-bottom: 16px;
      }
      a {
        font-size: 14px;
        color: $almost_black;
        margin-bottom: 16px;
      }
      a:last-child {
        margin-bottom: 0;
      }
    }
  }
  #m_search {
    height: 50px;
    width: 100%;
    background: $sunrise;
    display: flex;
    align-items: center;
    padding: 0 12px;
    position: relative;
    input {
      height: 35px;
      border: 0;
      border-radius: 35px;
      padding: 0 15px;
      width: 100%;
      background: $inversion url(../images/search.svg) no-repeat 95% center;
    }
    input[type="submit"] {
      display: none;
    }
    a {
      height: 25px;
      margin-left: 8px;
    }
  }
  .m_head-menu {
    position: fixed;
    top: 0;
    left: -100%;
    background: $inversion;
    width: 80%;
    height: 100%;
    z-index: 11;
    transition: .1s all ease-in;
    box-shadow: $material-shadow;
    #js-close-menu {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 32px;
      color: $magical_red;
      width: 36px;
      height: 36px;
      text-align: center;
    }
    img {
      padding-top: 8px;
    }
    .m_main-menu {
      display: flex;
      flex-direction: column;
      margin-top: 36px;
      font-size: 16px;
      a {
        color: #333333;
        padding: 2px 0;
        margin-bottom: 22px;
        text-decoration: none;
      }
    }
    .m_sub-menu {
      font-size: 12px;
      margin-top: 36px;
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: $secondary_gray;
        padding: 2px 0;
        margin-bottom: 26px;
      }
    }
    .m_contactme {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 30px;
      @media screen and (orientation: landscape) {
        & {
          position: static;
        }
      }
      a {
        text-decoration: none;
        color: #333333;
        font-size: 14px;
        padding-left: 32px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-bottom: 8px;
      }
      a.m_phone {
        background: url(../images/phone.svg) left center no-repeat;
      }
      a.m_whatsapp {
        background: url(../images/whatsapp.svg) left center no-repeat;
      }
    }
  }
  .m_head-menu.animated {
    left: 0;
  }
}
.mobile header.alt-header {
  height: 45px;
}
.mobile footer {
  padding-top: 20px;
  padding-bottom: 16px;
  background: $inversion;
  .container {
    display: inline-block;
    height: auto;
    .footer-contacts {
      flex-direction: column;
      padding-top: 8px;
      a {
        text-decoration: none;
        color: #333333;
        font-size: 14px;
        padding-left: 32px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-bottom: 8px;
      }
      a.m_phone {
        background: url(../images/phone.svg) left center no-repeat;
      }
      a.m_whatsapp {
        background: url(../images/whatsapp.svg) left center no-repeat;
      }
    }
    .footer-menu {
      display: flex;
      flex-direction: column;
      margin: 24px 0 30px;
      a {
        text-decoration: none;
        color: $almost_black;
        font-size: 14px;
        padding: 4px 0;
      }
    }
  }
}
.mobile footer.m_personal_form {
  background: transparent;
}
.mobile .single-page-header {
  padding: 0 12px;
  justify-content: space-between;
  margin-bottom: 28px;
  h1 {
    font-size: 20px;
  }
  .filter_stores {
    margin-left: 0;
    #show_filter {
      font-size: 14px;
      color: $secondary_gray;
      position: relative;
      text-decoration: none;
      padding-right: 20px;
    }
    #show_filter::after {
      content: '';
      width: 9px;
      height: 6px;
      background: url(../images/filter_polygon.svg);
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
.mobile .single-page-header.w-desc {
  flex-direction: column;
  align-items: flex-start;
  h1 {
    margin-bottom: 20px;
  }
  p {
    font-size: 12px;
    color: $secondary_gray;
  }
}
.mobile .single-page-header.header-light {
  flex-direction: column;
  align-items: flex-start;
  h1 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
  }
}
.mobile .detail_page {
  .single-page-header {
    h1 {
      font-weight: 400;
      font-size: 16px;
    }
  }
  .detail_page-item {
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    .item_image-block {
      max-width: 132px;
      overflow: hidden;
      .item_image-picture {
        display: flex;
        padding: 8px;
        border: 1px solid $just_gray;
        width: 100%;
        height: 146px;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px;
        img {
          width: 100%;
        }
      }
      .item_image-related {
        display: flex;
        overflow: auto;
        a {
          max-width: 41px;
          min-width: 41px;
          height: 46px;
          border: 1px solid $just_gray;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 4px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .item_details-block {
      width: calc(100% - 132px);
      padding-left: 24px;
      padding-top: 12px;
      .item_price {
        font-size: 12px;
        color: $secondary_gray;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        span {
          color: $magical_red;
          font-size: 16px;
          margin-top: 6px;
        }
      }
      .item_qty {
        font-size: 12px;
        color: $secondary_gray;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        .qty_trigger {
          display: flex;
          flex-direction: row;
          margin-top: 6px;
          button, input {
            background: $inversion;
          }
          .eq-minus {
            border-radius: 3px 0 0 3px;
            border: 1px solid $just_gray;
            border-right: 0;
            height: 35px;
            min-width: 35px;
          }
          .eq-plus {
            border-radius: 0 3px 3px 0;
            border: 1px solid $just_gray;
            border-left: 0;
            height: 35px;
            min-width: 35px;
          }
          input {
            height: 35px;
            border: 1px solid $just_gray;
            width: 55px;
            border-radius: 0;
            box-shadow: none;
            text-align: center;
          }
        }
      }
      .item_buttons {
        button {
          font-size: 14px;
          svg {
            margin-right: 12px;
          }
        }
      }
    }
    .item_description-block {
      margin-top: 36px;
      p {
        font-size: 12px;
        color: $secondary_gray;
      }
      p.item-descr {
        font-size: 14px;
        color: $almost_black;
        margin-top: 8px;
      }
    }
  }
}
.mobile .catalog_overview {
  .catalog_category {
    color: $almost_black;
    border-bottom: 1px solid $just_gray;
    .category__title {
      background: $inversion;
      font-size: 16px;
      padding: 24px 24px 24px 12px;
      position: relative;
    }
    .subcategory_title {
      background: $inversion;
      font-size: 14px;
      height: 64px;
      display: flex;
      padding: 0 24px;
      align-items: center;
      position: relative;
      img {
        margin-right: 12px;
      }
    }
    .category__title::after,
    .subcategory_title::after {
      content: '';
      width: 11px;
      height: 6px;
      background: url(../images/cat_polygon.svg);
      position: absolute;
      right: 12px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .category__title.active::after,
    .subcategory_title.active::after {
      transform: rotate(180deg);
    }
    .popular-title {
      font-weight: 600;
      padding: 21px 12px 11px;
    }
    .catalog_items {
      padding: 0 10px 10px;
      width: 100%;
      overflow-x: auto;
      display: flex;
      margin-top: 10px;
      &:after {
        content: '/';
        color: #fff;
        width: 10px;
      }
    }
    .go-to-subcategory {
      display: block;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      color: $almost_black;
      padding: 5px 0 15px;
      margin: 5px 0;
      span {
        border-bottom: 1px solid $almost_black;
      }
    }
    .items_container,
    .category_items {
      display: none;
    }
    .subcategory_overview {
      position: relative;
    }
    .subcategory_overview::after {
      content: '';
      height: 1px;
      left: 40px;
      bottom: 0;
      right: 40px;
      background: $just_gray;
      position: absolute;
    }
    .subcategory_overview:last-child::after,
    .subcategory_overview.active::after {
      display: none;
    }
  }
}
.mobile .catalog_element {
  background: $inversion;
  flex-basis: 146px;
  min-width: 146px;
  height: 268px;
  border-radius: 5px;
  box-shadow: $material_shadow;
  margin: 2px;
  padding: 12px;
  color: $almost_black;
  position: relative;
  > span {
    height: 25px;
    min-width: 25px;
    position: absolute;
    right: 15px;
    top: 15px;
    padding-top: 2px;
    background: $magical_red;
    color: $inversion;
    border-radius: 13px;
    font-size: 14px;
    display: none;
    align-items: center;
    justify-content: center;
  }
  > img {
    width: 100%;
    max-width: 122px;
    margin: 0 auto;
    display: block;
  }
  .element__name {
    font-size: 12px;
    text-decoration: none;
    height: 60px;
  }
  .element_price-per-item {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
  }
  .element_price-per-kg {
    font-size: 12px;
    color: $orange_box;
    margin-bottom: 14px;
  }
  .element__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .element_info {
      padding: 10px;
    }
    .add_to_cart {
      height: 38px;
    }
  }
}
.mobile .catalog {
  .catalog_overview {
    border-top: 1px solid $just_gray;
  }
  .category_popular {
    background: #F4F4F4;
    overflow: hidden;
  }
}
.mobile .catalog-subcategory_overview {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  .catalog_element {
    flex-basis: calc(50% - 4px);

    @media screen and (orientation: landscape) {
      flex-basis: calc(33.3333% - 4px);
    }
  }
}
.mobile .sort-filter-block {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 12px;
  margin-bottom: 28px;
  position: relative;
  flex-wrap: wrap;
  .show-by {
    width: 100%;
    margin-bottom: 16px;
  }
  .show-by, .sort-by {
    select {
      border: 0;
      border-bottom: 1px dashed $magical_red;
      color: $magical_red;
      border-radius: 0;
      text-align: center;
    }
  }
  a {
    color: $magical_red;
    font-weight: 600;
    border-bottom: 1px dashed $magical_red;
    text-decoration: none;
    position: relative;
  }
  #show-filter {
    margin-left: 20px;
  }
  #show-sort {
    margin-right: 20px;
  }
  #show-filter::before {
    content: '';
    background: url(../images/filter.svg) no-repeat;
    position: absolute;
    left: -20px;
    width: 14px;
    height: 14px;
  }
  #show-sort::before {
    content: '';
    background: url(../images/sort.svg) no-repeat;
    position: absolute;
    right: -20px;
    width: 13px;
    height: 10px;
    top: 3px;
  }
}
.mobile .filter-block {
  flex-direction: column;
  padding-top: 12px;
  height: auto;
  select {
    width: 100%;
    height: 35px;
    margin-bottom: 12px;
    padding: 0 12px;
  }
  .filter-slider {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    .slider-block {
      width: 100%;
      margin-top: 30px;
    }
  }
}
.mobile.cart {
  .cart_header {
    background: $inversion;
    position: fixed;
    top: 45px;
    padding: 0 12px;
    border-top: 1px solid $just_gray;
    border-bottom: 1px solid $just_gray;
    width: 100%;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 49px;
    box-shadow: $material_shadow;
    p {
      font-size: 14px;
      color: $almost_black;
      font-weight: 600;
    }
    a {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $secondary_gray;
      text-decoration: none;
      svg {
        margin-right: 8px;
      }
    }
    span {
      font-size: 12px;
      color: $secondary_gray;
    }
  }
  .cart__offer {
    .cart_comment {
      margin-bottom: 12px;
    }
    .offerta {
      font-size: 12px;
      color: $secondary_gray;
      margin-bottom: 110px;
      a {
        color: inherit;
      }
    }
  }
  .cart_summary {
    background: $inversion;
    height: 65px;
    box-shadow: $inverted_material_shadow;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      font-size: 12px;
      color: $secondary_gray;
      max-width: 170px;
      p {
        font-size: 14px;
        color: $almost_black;
        margin-top: 6px;
      }
      button {
        font-size: 14px;
        height: 40px;
        min-width: 170px;
        max-width: 170px;
        svg {
          margin-left: 6px;
        }
      }
    }
    .cart-cost {
      max-width: 120px;
    }
  }
}
.mobile .personal {
  .personal-order {
    border-bottom: 1px solid $secondary_gray;
    .order-name {
      align-items: center;
      background: $just_gray;
      display: flex;
      justify-content: space-between;
      height: 45px;
      padding-right: 40px;
      position: relative;
      .order_num {
        font-size: 14px;
        font-weight: 600;
        color: $almost_black;
      }
      .order_date {
        font-size: 12px;
        color: $almost_black;
      }
    }
    .order-name::after {
      content: '';
      width: 11px;
      height: 6px;
      background: url(../images/cat_polygon.svg);
      position: absolute;
      right: 12px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .order-descr {
      padding: 14px 12px;
      display: none;
      b {
        width: 67px;
        color: $almost_black;
        font-size: 14px;
      }
      span {
        font-size: 14px;
        font-weight: 600;
      }
      .order-status {
        display: flex;
        align-items: center;
        margin-bottom: 14px;
      }
      .order-stars {
        display: flex;
        align-items: center;
        margin-bottom: 14px;
        svg {
          margin-right: 8px;
        }
      }
      .order-link {
        color: $almost_black;
        font-size: 12px;
        text-decoration: none;
        display: flex;
        align-items: center;
        &::before {
          content: '';
          width: 14px;
          height: 10px;
          background-image: url(../images/eye.svg);
          margin-right: 6px;
        }
      }
    }
  }
  .personal-order.active{
    .order-name::after {
      transform: rotate(180deg);
    }
  }
  .order_page-status {
    font-size: 12px;
  }
  .order_matching-legend {
    padding: 0 12px;
    .legend__item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: $secondary_gray;
      font-size: 12px;
    }
  }
  .order-contents {
    p.order-contents--title {
      font-size: 16px;
      margin: 24px 12px;
    }
    .order-comment-block {
      font-size: 14px;
      padding: 0 12px 28px;
      p {
        color: $secondary_gray;
        margin-top: 12px;
      }
    }
    .order__item {
      padding: 12px;
      border-top: 1px solid $just_gray;
      position: relative;
      .order__item-details {
        display: flex;
        align-items: flex-start;
        img {
          min-width: 55px;
          max-width: 55px;
          height: auto;
          margin-right: 12px;
        }
        .order__item--qt {
          max-width: 190px;
          font-size: 14px;
          .order__item-name {
            color: $secondary_gray;
            margin-bottom: 4px;
          }
          .order__item--cost {
            display: flex;
            align-items: center;
            .item-price {
              color: $almost_black;
              font-weight: 600;
            }
            .item-qty {
              font-size: 12px;
              color: $secondary_gray;
              margin-left: 8px;
            }
          }
        }
      }
    }
    .order__item:last-child {
      border-bottom: 1px solid $just_gray;
    }
    .order__matching-item {
      padding: 0 12px;
      i {
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      .order__item-details {
        padding: 28px 0;
        position: relative;
      }
      .order__item-details::after {
        content: '';
        width: 11px;
        height: 6px;
        background: url(../images/cat_polygon.svg);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      .order__item-details.active::after {
        transform: rotate(180deg);
      }
      .order__item-contents {
        display: none;
        .order__items {
          overflow: auto;
          display: flex;
          margin: 0 0 0 -4px;
          .item__changed {
            .item__image {
              opacity: .3;
            }
          }
          .order__contents-item {
            min-width: 205px;
            max-width: 205px;
            height: 270px;
            box-shadow: $material_shadow;
            margin: 4px 4px 12px;
            border-radius: 5px;
            padding: 12px;
            position: relative;
            .item__image {
              max-width: 60px;
              height: auto;
              margin-bottom: 8px;
              display: block;
            }
            .item__store {
              width: 44px;
              height: auto;
              margin-bottom: 8px;
            }
            .item__name {
              font-size: 12px;
              color: $secondary_gray;
              margin-bottom: 8px;
              height: 52px;
            }
            .item__price {
              color: $orange_box;
              font-weight: 600;
              font-size: 14px;
              margin-bottom: 4px;
            }
            .item__price-diff {
              color: $secondary_gray;
              font-size: 12px;
              margin-bottom: 8px;
            }
            .item__price-diff.cheaper {
              color: $everything_is_ok;
            }
            .item__price-diff.expensive {
              color: $magical_red;
            }
            .item__change-qty {
              display: flex;
              margin-bottom: 8px;
              > * {
                height: 30px;
              }
              button {
                width: 30px;
                box-shadow: none;
              }
              .eq-minus {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
              .eq-plus {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
              }
              button[disabled] {
                cursor: default;
                opacity: .3;
              }
              .item__qty {
                width: 40px;
                text-align: center;
                border: 0;
                border-radius: 0;
                border-top: 1px solid $just_gray;
                border-bottom: 1px solid $just_gray;
                font-size: 14px;
                -webkit-appearance: none;
              }
              span.item__qty {
                padding-top: 8px;
                opacity: .3;
              }
            }
            .item__ved {
              font-size: 12px;
              margin-bottom: 8px;
              span {
                display: block;
                color: $secondary_gray;
              }
            }
            .form-radio {
              position: absolute;
              bottom: 12px;
              left: 12px;
              span {
                color: $magical_red;
                font-size: 12px;
              }
              input {
                display: none;
              }
              label {
                height: 19px;
                display: flex;
                font-size: 12px;
                color: $secondary_gray;
                align-items: center;
                position: relative;
                cursor: pointer;
              }
              label::before {
                background: $inversion;
                border: 1px solid $almost_black;
                border-radius: 50%;
                content: '';
                margin-right: 8px;
                width: 17px;
                height: 17px;
              }
              input:checked + label::after {
                background: $magical_red;
                border-radius: 50%;
                content: '';
                width: 7px;
                height: 7px;
                left: 6px;
                top: 6px;
                position: absolute;
              }
              input:checked + label {
                color: $everything_is_ok;
              }
            }
          }
          .order__contents-item.item__changed {
            .item__price {
              color: $secondary_gray;
              margin-bottom: 8px;
            }
          }
          .order__contents-item.item__remove {
            .item_delete {
              background-image: url(../images/remove_item.svg);
              background-repeat: no-repeat;
              background-color: rgba(255,255,255,.7);
              background-position: center;
              position: absolute;
              border-radius: 5px;
              top: 0;
              left: 0;
              right: 2px;
              bottom: 50px;
            }
          }
        }
      }
    }
  }
  .legend {
    width: 35px;
    height: 24px;
    margin-right: 12px;
    border-radius: 5px;
    display: flex;
    min-width: 35px;
  }
  .legend__item-changed {
    background: $magical_red no-repeat center;
    background-image: url(../images/matching_icon-changing.svg);
  }
  .legend__item-warning {
    background: $orange_box no-repeat center;
    background-image: url(../images/matching_icon-warning.svg);
  }
  .legend__item-matched {
    background: $everything_is_ok no-repeat center;
    background-image: url(../images/matching_icon-okay.svg);
  }
  .personal-lists {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      border-top: 1px solid $just_gray;
      border-bottom: 1px solid $just_gray;
      margin-top: -1px;
      a {
        height: 45px;
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 12px;
        color: $almost_black;
        padding: 0 12px;
        font-weight: 600;
        text-decoration: none;
      }
      a.js-action {
        min-width: 45px;
        width: 45px;
        justify-content: center;
        padding: 0;
        border-left: 1px solid $just_gray;
      }
    }
  }
  .account_page {
    .account_block {
      .account-title {
        color: $almost_black;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 12px;
      }
      .account-box {
        border: 1px solid $just_gray;
        border-radius: 5px;
        padding: 16px;
        margin-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        .label {
          font-size: 12px;
          margin-bottom: 12px;
          width: 100%;
        }
        #add_money {
          width: calc(100% - 105px);
          height: 35px;
          border-radius: 5px 0 0 5px;
          border: 1px solid $just_gray;
          border-right: 0;
          font-size: 14px;
          padding: 0 12px;
        }
        input[type="submit"] {
          width: 105px;
          height: 35px;
          font-size: 14px;
          font-weight: 600;
          border-radius: 0 5px 5px 0;
        }
      }
      .payment-description {
        font-size: 12px;
        color: $secondary_gray;
        margin-top: 8px;
        margin-bottom: 16px;
      }
    }
    .history_list {
      .account-title {
        padding: 0 12px;
      }
      .personal_history-list {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $secondary_gray;
        .history_list-item {
          list-style: none;
          border-top: 1px solid $secondary_gray;
          p.js-show-items {
            background: $just_gray;
            color: $almost_black;
            position: relative;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 40px 14px 12px;
            font-size: 14px;
            span {
              font-size: 12px;
              font-weight: 400;
            }
          }
          .js-show-items::after {
            content: '';
            width: 11px;
            height: 6px;
            background: url(../images/cat_polygon.svg);
            position: absolute;
            right: 12px;
            top: 0;
            bottom: 0;
            margin: auto;
          }
          .js-show-items.active::after {
            transform: rotate(180deg);
          }
          .history_item-details {
            background: $inversion;
            padding: 12px;
            p {
              margin-bottom: 12px;
              font-size: 14px;
              color: $secondary_gray;
              position: relative;
              b {
                width: 77px;
                color: $almost_black;
              }
            }
            a {
              text-decoration: none;
              font-size: 12px;
              color: $secondary_gray;
            }
          }
        }
      }
    }
  }
}
.mobile.cart, .mobile .personal {
  .cart__container, .personal__container {
    .card {
      box-shadow: $material_shadow;
      border-radius: 5px;
      background: $inversion;
      margin-top: 12px;
      padding: 12px;
      position: relative;
      .cart_item-name {
        font-size: 14px;
        color: $secondary_gray;
        padding-right: 40px;
        margin-bottom: 8px;
      }
      .js-delete-item {
        position: absolute;
        top: 12px;
        right: 9px;
        width: 15px;
        height: 15px;
        background: url(../images/trash.svg) no-repeat center;
      }
      .cart_item-descr {
        img {
          max-width: 50px;
          height: auto;
          margin-right: 12px;
        }
      }
      .cart_item-prices {
        width: 94px;
        margin-right: 12px;
        .price-per-item {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 6px;
        }
        .price-per-kg {
          font-size: 12px;
          color: $orange_box;
          margin-bottom: 6px;
        }
        @media screen and (orientation: landscape) {
          width: 100%;
          margin-left: 20px;
        }
        img {
          width: 43px;
        }
      }
      .cart_item-descr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cart_item-qty {
          display: flex;
          button {
            width: 30px;
            height: 30px;
            box-shadow: none;
          }
          button.eq-minus {
            border-radius: 5px 0 0 5px;
          }
          button.eq-plus {
            border-radius: 0 5px 5px 0;
          }
          input {
            border-radius: 0;
            width: 40px;
            height: 30px;
            border: 0;
            border-top: 1px solid $just_gray;
            border-bottom: 1px solid $just_gray;
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }
    .cart_item.list_item {
      .cart_item-descr {
        justify-content: flex-start;
      }
    }
    .list_item.buttons {
      margin-top: 12px;
      svg {
        margin-right: 12px;
      }
      button {
        font-size: 14px;
        font-weight: 600;
        width: 246px;
        margin-bottom: 12px;
        float: right;
        @media screen and (orientation: landscape) {
          margin-left: 12px;
        }
      }
      a {
        font-size: 14px;
        font-weight: 600;
        width: 188px;
        float: right;
      }
    }
    .cart_comment {
      box-shadow: $material_shadow;
      border-radius: 5px;
      background: $inversion;
      margin-top: 12px;
      margin-bottom: 110px;
      padding: 12px;
      textarea {
        width: 100%;
        border-radius: 5px;
        padding: 12px;
        font-size: 14px;
        resize: none;
        height: 88px;
      }
    }
    .card-title {
      display: flex;
      align-items: center;
      margin-top: 6px;
      padding-bottom: 17px;
      font-size: 14px;
      border-bottom: 1px solid $just_gray;
      color: $secondary_gray;
      margin-bottom: 18px;
      svg {
        margin-right: 6px;
      }
    }
    .sorm-confirm {
      margin: 32px 0 16px;
      .form-checkbox {
        label {
          align-items: flex-start;
          font-size: 12px;
        }
        label::before {
          background: $inversion;
        }
      }
    }
    .personal-save {
      overflow: hidden;
      margin-bottom: 16px;
      input {
        float: right;
        font-size: 14px;
        width: 122px;
        height: 40px;
      }
    }
  }
  form {
    .form-group {
      display: flex;
      margin-bottom: 32px;
      .form-field {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        label {
          font-weight: 600;
          color: $almost_black;
          font-size: 14px;
          margin-bottom: 4px;
          .required {
            margin: 0;
          }
        }
        input, select {
          -webkit-appearance: none;
          height: 35px;
          border: 1px solid $secondary_gray;
          border-radius: 5px;
          padding: 0 12px;
          font-size: 14px;
          width: 100%;
        }
      }
      .set_apt, .set_et {
        width: 64px;
        margin-right: 32px;
      }
      .set_city {
        flex-direction: row;
        font-size: 14px;
        .label {
          font-weight: bold;
          color: $almost_black;
        }
        .city_select_trigger {
          color: $orange_box;
          font-weight: 600;
          margin-left: 6px;
        }
      }
      .form-radio {
        width: 100%;
        input {
          display: none;
        }
        label {
          display: flex;
          padding-left: 32px;
          position: relative;
          justify-content: space-between;
          font-size: 14px;
          height: 18px;
          width: 100%;
          color: $almost_black;
          margin-bottom: 16px;
          span {
            font-weight: 600;
          }
        }
        label:last-child {
          margin-bottom: 0;
        }
        label::before {
          content: '';
          width: 17px;
          height: 17px;
          border: 1px solid $almost_black;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 0;
        }
        input:checked + label::after {
          content: '';
          width: 7px;
          height: 7px;
          border-radius: 50%;
          position: absolute;
          left: 6px;
          top: 6px;
          background: $magical_red;
        }
      }
      .form-checkbox {
        margin-bottom: 0;
        input {
          display: none;
        }
        label {
          font-size: 14px;
          font-weight: 400;
          color: $almost_black;
          position: relative;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        label::before {
          min-width: 17px;
          height: 17px;
          border: 1px solid $just_gray;
          border-radius: 5px;
          content: '';
          margin-right: 8px;
        }
        input:checked + label::after {
          width: 17px;
          height: 17px;
          border: 1px solid $everything_is_ok;
          background: $inversion;
          background-image: url(../images/checkbox.svg);
          border-radius: 5px;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .form-promocode {
        flex-direction: row;
        align-items: center;
        input {
          width: 180px;
        }
        a {
          color: $orange_box;
          font-size: 14px;
          font-weight: 600;
          margin-left: 6px;
        }
      }
    }
    .form-group.set_timing {
      justify-content: space-between;
      .form-field {
        width: calc(50% - 6px);
      }
    }
    .form-group.set_phone {
      flex-direction: column;
      .form-field:first-child {
        margin-bottom: 16px;
      }
    }
    .form-group.set_email {
      flex-direction: column;
      .form-field {
        margin-bottom: 16px;
      }
    }
    .form-group.other-data {
      justify-content: space-between;
      flex-wrap: wrap;
      .group-title {
        width: 100%;
        font-size: 14px;
        color: $almost_black;
        font-weight: 600;
        margin-bottom: 4px;
      }
      .form-field {
        width: 49%;
        .light-label {
          font-weight: 400;
        }
      }
    }
    .form-group:last-child {
      margin-bottom: 8px;
    }
  }
  form.m_user_form {
    @media screen and (orientation: landscape){
      text-align: center;
      .card {
        text-align: left;
      }
    }
    .form-group {
      flex-direction: column;
      .form-field {
        margin-bottom: 12px;
      }
      .form-buttons {
        width: 100%;
        input {
          float: right;
          height: 40px;
          font-size: 14px;
          font-weight: 600;
        }
      }
      .form-buttons.m_login_button {
        input {
          width: 125px;
        }
      }
      .form-buttons.m_signin_button {
        input {
          width: 198px;
        }
      }
      .form-checkbox {
        label {
          align-items: flex-start;
        }
      }
      .captcha-field {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        label {
          width: 100%;
        }
        input {
          width: 50%;
        }
      }
    }
    a {
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
    }
    .m_sign_in {
      color: $magical_red;
      margin: 12px 0 4px;
    }
    .m_forgot {
      color: $secondary_gray;
    }
    @media screen and (orientation: landscape) {
      .card {
        max-width: 390px;
        margin: 0 auto;
      }
    }
  }
  .invalid_data {
    border: 1px solid $orange_box;
    .invalid {
      background: rgba(227, 4, 19, .11);
      border-color: rgba(227, 4, 19, .11) !important;
    }
    .form__error-message {
      font-size: 14px;
      color: $orange_box;
      margin-bottom: 10px;
      display: block;
    }
  }
}
.mobile.content {
  .content_card {
    background: $inversion;
    border-radius: 5px;
    border: 1px solid $just_gray;
    padding: 0 0 16px;
    margin-bottom: 12px;
    color: $almost_black;
    .content_card-title {
      font-size: 20px;
      font-weight: 600;
      padding: 16px 12px;
    }
    p {
      padding: 0 12px;
    }
    img {
      width: 100%;
      height: auto;
      padding: 0 12px;
    }
  }
  .delivery-timing {
    p {
      font-size: 14px;
    }
    > .content_card-title + p {
      border-bottom: 1px solid $just_gray;
      padding-bottom: 16px;
      font-size: 14px;
    }
    .timing-picture {
      display: flex;
      margin-top: 16px;
      justify-content: space-between;
      align-items: center;
      img {
        width: 44%;
        padding: 0;
      }
      img:nth-child(2) {
        width: 11%;
      }
    }
  }
  .delivery-cost {
    p {
      font-size: 14px;
    }
    > .content_card-title + p {
      border-bottom: 1px solid $just_gray;
      padding-bottom: 16px;
      font-size: 14px;
    }
    .cost-item {
      padding: 0 12px;
      display: flex;
      flex-direction: column;
      img {
        width: auto;
        padding: 0;
      }
      .item-title {
        padding: 0 12px;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
      }
      .item-price {
        color: $magical_red;
        padding: 0 12px;
        margin-bottom: 16px;
      }
      .item-descr {
        margin-bottom: 48px;
      }
    }
  }
  .delivery-matching {
    padding: 12px;
    .matching-description {
      a {
        padding: 16px 12px;
        font-size: 20px;
        font-weight: 600;
        color: $magical_red;
        text-decoration: none;
        display: block;
      }
    }

  }
  .block_contacts {
    padding: 0 12px;
    .contact_item {
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      .phone_descr {
        margin-bottom: 4px;
      }
      a {
        color: $almost_black;
      }
      .phone {
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        color: $almost_black;
      }
    }
    .general-line {
      .phone {
        color: $magical_red;
      }
      .phone_descr {
        color: $magical_red;
      }
    }

    @media screen and (orientation: landscape) {
      display: flex;
      .general-line {
        margin-right: 24px;
      }
    }
  }
  .block_map {
    p {
      font-size: 14px;
      padding: 0 12px;
    }
    #map {
      background-color: $just_gray;
      margin-top: 16px;
    }
  }
  .send_review {
    padding: 0;
    p {
      padding: 16px 12px;
      font-size: 14px;
      font-weight: 600;
      color: $magical_red;
      position: relative;
      svg {
        margin-right: 12px;
      }
    }
    .send_review-title::after {
      content: '';
      width: 11px;
      height: 6px;
      background: url(../images/cat_polygon.svg);
      position: absolute;
      right: 12px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .send_review-title.active::after {
      transform: rotate(180deg);
    }
    form {
      display: none;
      border-top: 1px solid $just_gray;
      padding: 12px;
      overflow: hidden;
      textarea {
        border: 1px solid $just_gray;
        padding: 12px 16px;
        font-size: 14px;
        width: 100%;
        border-radius: 5px;
        resize: none;
        height: 175px;
      }
      button {
        margin-top: 12px;
        font-size: 14px;
        height: 40px;
        font-weight: 600;
        width: 140px;
        float: right;
        svg {
          margin-left: 12px;
        }
      }
    }
  }
  .card_review {
    .card_review-question {
      background: #F4F4F4;
      padding: 12px 0;
      border-bottom: 1px solid $just_gray;
      .review_time {
        font-size: 14px;
        color: $secondary_gray;
        margin-bottom: 12px;
      }
      .review_author {
        font-size: 12px;
        font-weight: 600;
        color: $almost_black;
        margin-bottom: 12px;
      }
      .review_text {
        font-size: 14px;
        color: $almost_black;
      }
    }
    .card_review-answer {
      background: $inversion;
      padding-top: 12px;
      .answer_author {
        font-weight: 600;
        font-size: 12px;
        color: $magical_red;
        margin-bottom: 12px;
      }
      .answer_text {
        font-size: 14px;
        color: $almost_black;
      }
    }
  }
}
.text_status-finished {
  color: $just_gray;
}
.text_status-moderating {
  color: $magical_red;
}
.text_status-matching {
  color: $orange_box;
}
.text_status-matched {
  color: $everything_is_ok;
}


@media screen and (max-height: 530px) { /*для высоты iPhone 5 */
  .mobile {
    header {
      .m_head-menu {
        .m_main-menu {
          margin-top: 24px;
          a {
            margin-bottom: 10px;
          }
        }
        .m_sub-menu {
          margin-top: 0;
          a {
            margin-bottom: 10px;
          }
        }
      }
    }
    .popup_select-location {
      top: 25px;
      bottom: 25px;
      @media screen and (orientation: landscape){
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        overflow: auto;
        .set_address {
          align-items: flex-start;
          .set_street {
            width: 290px;
            margin-right: 32px;
          }
        }
        .form-buttons {
          top: 16px;
        }
      }
    }
  }
}