.section__order-details {
  .order__form {
    width: 615px;
    margin: 0 auto;
    .order__form-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center ;
      a {
        font-size: 14px;
        color: $secondary_gray;
        text-decoration: none;
        margin-bottom: 32px;
        margin-top: 5px;
      }
      p {
        width: 100%;
        font-size: 16px;
        color: $secondary_gray;
      }
    }
    .order__block {
      background: $inversion;
      box-shadow: $material_shadow;
      border-radius: 5px;
      margin-top: 20px;
      padding: 0 12px 24px;
      display: flex;
      flex-wrap: wrap;
      border: 1px solid transparent;
      .order__block-title {
        height: 54px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $just_gray;
        font-size: 14px;
        color: $secondary_gray;
        width: 100%;
        position: relative;
        svg {
          margin-right: 10px;
        }
      }
      .order__form-radios {
        input {
          display: none;
        }
        label {
          position: relative;
          font-size: 14px;
          padding-left: 30px;
          cursor: pointer;
          display: flex;
          align-items: center;
          height: 20px;
          margin-top: 16px;
          .store-name {
            width: 225px;
          }
          .store-cost {
            font-weight: 600;
          }
        }
        label::before {
          content: '';
          width: 18px;
          height: 18px;
          border: 1px solid $almost_black;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 50%;
        }
        input:checked + label::after {
          content: '';
          width: 8px;
          height: 8px;
          background: $magical_red;
          position: absolute;
          left: 6px;
          top: 6px;
          border-radius: 50%;
        }
      }
      .order__form-input {
        display: flex;
        flex-direction: column;
        label {
          font-weight: 600;
          font-size: 14px;
          color: $almost_black;
          margin-bottom: 5px;
          margin-top: 18px;
          .required {
            color: $magical_red;
          }
        }
        input {
          border: 1px solid $secondary_gray;
          border-radius: 5px;
          height: 35px;
          padding: 8px 16px;
          font-size: 14px;
          color: $almost_black;
          margin-right: 28px;
        }
        .select2-selection--single {
          height: 35px;
          padding: 3px 0;
          font-size: 14px;
          border-color: $secondary_gray;
          width: 130px;
        }
        .select2-selection__arrow {
          top: 3px;
        }
        #city_apartments, #city_et {
          width: 64px;
        }
        #city_street {
          width: 321px;
        }
      }
    }
    .order__form-location {
      .form-city_select {
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: $almost_black;
        margin-top: 20px;
        position: relative;
        a {
          color: $orange_box;
          border-bottom: 1px dashed $orange_box;
          text-decoration: none;
        }
      }
      .form-block {
        display: flex;
        .order__form-input {
          position: relative;
          input#city_street:focus {
            border-radius: 5px 5px 0 0;
            border-color: $magical_red;
            & + .input-autocomplete {
              opacity: 1;
              visibility: visible;
            }
          }
          .input-autocomplete {
            top: 75px;
            width: calc(100% - 28px);
            ul {
              max-height: 200px;
            }
          }
        }
      }
    }
    .order__form-timing {
      .order__form-input {
        width: 130px;
        margin-right: 28px;
        input {
          margin-right: 0;
        }
      }
    }
    .order__form-promocode {
      .order__form-input {
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        input {
          margin-right: 16px;
        }
        .confirm-promocode {
          color: $orange_box;
          font-weight: 600;
          text-decoration: none;
          border-bottom: 1px dashed $orange_box;
          font-size: 14px;
        }
      }
    }
    .order__form-confirm {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 48px;
      padding-bottom: 48px;
      > div {
        width: 48%;
      }
      .order__form-comment {
        p {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: $secondary_gray;
          margin-bottom: 16px;
          svg {
            margin-right: 12px;
          }
        }
        textarea {
          height: 105px;
          border: 1px solid $just_gray;
          border-radius: 5px;
          resize: none;
          padding: 12px 16px;
          font-size: 14px;
          width: 100%;
        }
      }
      .order__form-buttons {
        .confirm-summary {
          font-size: 16px;
          color: $secondary_gray;
          margin-bottom: 12px;
        }
        .confirm-price {
          font-size: 16px;
          font-weight: 600;
          color: $almost_black;
          margin-bottom: 12px;
        }
        button {
          float: right;
          padding-left: 20px;
          padding-right: 20px;
          svg {
            margin-left: 12px;
          }
        }
      }
    }
    .invalid_block {
      border-color: $orange_box;
      .form__error-message {
        position: absolute;
        right: 0;
        font-size: 14px;
        color: $orange_box;
      }
      input.invalid {
        background: rgba(227, 4, 19, .11);
        border-color: rgba(227, 4, 19, .11) !important;
      }
    }
  }
}
.matching__content-block {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid $just_gray;
  position: relative;
  width: 100%;
  max-width: 879px;
  margin-bottom: 32px;
  .is_changed {
    .item_status {
      background-repeat: no-repeat;
      background-position: center;
      background-color: $magical_red;
      background-image: url(../images/matching_icon-changing.svg);
    }
  }
  .is_founded {
    .item_status {
      background-repeat: no-repeat;
      background-position: center;
      background-color: $everything_is_ok;
      background-image: url(../images/matching_icon-okay.svg);
    }
  }
  .is_warning {
    .item_status {
      background-repeat: no-repeat;
      background-position: center;
      background-color: $orange_box;
      background-image: url(../images/matching_icon-warning.svg);
    }
  }
  .item_status {
    width: 35px;
    height: 24px;
    border-radius: 0 0 5px 5px;
    margin-right: 12px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .item_qty {
    display: flex;
    button, input {
      height: 30px;
    }
    button.eq-minus {
      border-radius: 5px 0 0 5px;
      width: 30px;
    }
    button.eq-plus {
      border-radius: 0 5px 5px 0;
      width: 30px;
    }
    input {
      width: 40px;
      border: 0;
      border-top: 1px solid #F0F0F0;
      border-bottom: 1px solid #F0F0F0;
      background: #fff;
      overflow: hidden;
      text-align: center;
    }
  }
  .item_price {
    font-size: 14px;
    color: $secondary_gray;
    font-weight: 600;
    margin-bottom: 12px;
  }
  .item_store {
    position: absolute;
    top: 16px;
    left: 12px;
    width: 44px !important;
  }
  .item_image {
    height: 84px;
    display: block;
    margin: 24px auto 12px;
    width: auto !important;
  }
  .item_name {
    font-size: 12px;
    color: $secondary_gray;
    margin-bottom: 12px;
    height: 39px;
  }
  .current__item {
    width: 210px;
    max-width: 210px;
    min-width: 210px;
    padding: 37px 16px;
    position: relative;
  }
  .item__suggestions-block {
    background: $just_gray;
    padding: 25px;
    width: calc(100% - 210px);
    .item__suggestion {
      background-color:  $inversion;
      border-radius: 5px;
      box-shadow: $material_shadow;
      width: 190px;
      height: 343px;
      padding: 12px 16px;
      position: relative;
      margin: 2px;
      .item_price {
        color: $orange_box;
      }
      .item_staring {
        position: absolute;
        bottom: 16px;
        left: 12px;
        font-weight: 600;
        font-size: 12px;
      }
      .item_radio {
        font-size: 12px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        input {
          display: none;
        }
        label {
          color: $secondary_gray;
          cursor: pointer;
          font-size: 12px;
          font-weight: 400;
          padding-top: 4px;
        }
      }
      .price_diff {
        display: block;
        font-weight: bold;
        font-size: 12px;
        margin-top: 4px;
        margin-bottom: 12px;
      }
      .item_comment {
        font-size: 12px;
        p {
          font-weight: 600;
          margin-bottom: 4px;
        }
      }
    }
    .item__cheaper {
      .price_diff {
        color: $everything_is_ok;
      }
    }
    .item__exp {
      .price_diff {
        color: $magical_red;
      }
    }
    .item__replaced {
      .item_staring {
        color: $magical_red;
      }
      .item_image {
        opacity: .5;
      }
    }
    .item__comment {
      margin-top: 15px;
      input {
        height: 35px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $secondary_gray;
        padding: 10px;
        font-size: 14px;
      }
    }
  }
  .item_delete {
    background-image: url(../images/remove_item.svg);
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,.9);
    background-position: center;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 2px;
    bottom: 50px;
  }

}
.matching__content-block.matching__comment {
  flex-direction: column;
  border: 0;
  border-radius: 0;
  .content__block-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $secondary_gray;
    margin-bottom: 16px;
    svg {
      margin-right: 12px;
    }
  }
  .content__block-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .form-checkbox {
      color: $secondary_gray;
      input {
        display: none;
      }
      label {
        padding-left: 32px;
        display: block;
        position: relative;
        font-size: 16px;
        color: $almost_black;
        cursor: pointer;
      }
      label::before {
        content: '';
        cursor: pointer;
        box-sizing: border-box;
        max-width: 17px;
        min-width: 17px;
        max-height: 17px;
        height: 17px;
        border: 1px solid $secondary_gray;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
      }
      input:checked + label::before {
        background: url(../images/checkbox.svg);
        border: 0;
      }
    }
    .matching-summ {
      color: $orange_box;
      font-weight: 600;
      font-size: 16px;
      label {
        font-size: 16px;
        font-weight: 600;
        color: $almost_black;
      }
      input {
        border: 0;
        color: $orange_box;
        font-weight: 600;
        font-size: 16px;
        text-align: right;
        margin-right: 4px;
        width: 75px;
      }
    }
  }
  .content__block-buttons {
    display: flex;
    justify-content: flex-end;
    button {
      width: 185px;
      font-size: 14px;
      svg {
        margin-left: 12px;
      }
    }
  }
  textarea {
    border-radius: 5px;
    font-size: 14px;
    height: 72px;
    margin-bottom: 40px;
    padding: 12px 20px;
    resize: none;
    width: 100%;
  }
}