.section-personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .sideMenu {
    width: 272px;
    min-width: 272px;
    max-width: 272px;
  }
  .personal-block {
    width: calc(100% - 320px);
    .block-title {
      width: 100%;
      border-bottom: 1px solid $just_gray;
      padding-bottom: 20px;
      font-size: 14px;
      font-weight: 400;
      color: $secondary_gray;
      display: flex;
      align-items: center;
      position: relative;
      svg {
        margin-right: 12px;
      }
      span {
        padding-top: 2px;
        border: 0 !important;
        color: $secondary_gray !important;
        font-weight: 400 !important;
      }
    }
    .block-personal {
      box-shadow: $high_shadow;
      border-radius: 5px;
      width: 615px;
      margin-bottom: 20px;
      padding: 20px 20px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
    }
    .block-personal_data {
      .form-checkbox {
        border-color: $just_gray;
        input {
          display: none;
        }
        label {
          font-weight: 400;
          display: flex;
          align-items: center;
          margin-top: 27px;
          cursor: pointer;
          position: relative;
        }
        label::before {
          content: '';
          box-sizing: border-box;
          max-width: 17px;
          min-width: 17px;
          max-height: 17px;
          height: 17px;
          border: 1px solid $secondary_gray;
          border-radius: 5px;
          margin-right: 12px;
        }
        input:checked + label::before {
          background-image: url(../images/checkbox.svg);
          //border-color: $everything_is_ok;
          border: 0;
        }
      }
    }
    .block-personal_location {
      .form-city_select {
        width: 100%;
        margin-bottom: 20px;
        position: relative;
        span {
          font-size: 14px;
          font-weight: 600;
          color: $almost_black;
        }
        .city_select_trigger {
          color: $orange_box;
          font-weight: 600;
          font-size: 16px;
          text-decoration: none;
          border-bottom: 1px dashed $orange_box;
        }
      }
      .form-block {
        display: flex;
        width: 100%;
        .form-group {
          margin-right: 32px;
          position: relative;
          input#city_street:focus {
            border-radius: 5px 5px 0 0;
            border-color: $magical_red;
            & + .input-autocomplete {
              opacity: 1;
              visibility: visible;
            }
          }
          .input-autocomplete {
            top: 56px;
            ul {
              max-height: 200px;
            }
          }
        }
        #city_street {
          width: 321px;
        }
        #city_apartments, #city_et {
          width: 64px;
        }
      }
    }
    .block-personal_extra {
      justify-content: flex-start;
      .form-block {
        display: flex;
        flex-direction: row;
        .gender-select {
          width: 106px;
          margin-right: 36px;
          .select2-selection {
            height: 35px;
            display: flex;
            align-items: center;
          }
          .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 5px;
          }
        }
        .multi_field {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          flex-direction: row;
          width: 250px;
          label {
            width: 100%;
          }
          .form-field {
            width: 106px;
            input {
              width: 100%;
              margin-bottom: 10px;
            }
            span {
              font-size: 14px;
              color: $secondary_gray;
            }
          }
        }
      }
      #personal_birthday {
        width: 122px;
        margin-right: 40px;
      }
    }
    .block-personal_confirm {
      width: 615px;
      display: flex;
      .block-personal {
        min-width: 299px;
        align-items: center;
        padding-bottom: 20px;
        margin-right: 16px;
        input {
          width: 153px;
          height: 35px;
          font-weight: 600;
          color: $almost_black;
          font-size: 14px;
          border: 1px solid $secondary_gray;
          padding: 0 15px;
          border-radius: 5px;
        }
        span {
          font-size: 14px;
          font-weight: 600;
          color: $orange_box;
          cursor: pointer;
          border-bottom: 1px dashed $orange_box;
        }
      }
      .form-checkbox {
        input[type="checkbox"] {
          display: none;
        }
        label {
          font-size: 14px;
          font-weight: 400;
          padding-left: 32px;
          position: relative;
          display: block;
          a {
            color: $magical_red;
            text-decoration: none;
          }
        }
        label::before {
          content: '';
          cursor: pointer;
          box-sizing: border-box;
          max-width: 17px;
          min-width: 17px;
          max-height: 17px;
          height: 17px;
          border: 1px solid $secondary_gray;
          border-radius: 5px;
          position: absolute;
          left: 0;
        }
        input:checked + label::before {
          background-image: url(../images/checkbox.svg);
          border: 0;
        }
        input[name="conf"].invalid + label::before {
          background: rgba(227, 4, 19, .11);
          border-color: rgba(227, 4, 19, .11) !important;
        }
      }
      .form-submit {
        text-align: right;
        button {
          width: 122px;
          display: inline-block;
          font-size: 14px;
        }
      }
    }
    .invalid_block {
      border-color: $orange_box;
      .form__error-message {
        position: absolute;
        right: 0;
        font-size: 14px;
        color: $orange_box !important;
      }
      input.invalid {
        background: rgba(227, 4, 19, .11);
        border-color: rgba(227, 4, 19, .11) !important;
      }
    }
    .col2 {
      width: 272px;
    }
    .form-group {
      border-top: 1px solid transparent;
      margin-bottom: 24px;
      label {
        font-weight: 600;
        font-size: 14px;
        color: $almost_black;
        margin-bottom: 5px;
      }
      input {
        height: 35px;
        border-radius: 5px;
        border: 1px solid $secondary_gray;
        padding: 0 15px;
        font-size: 14px;
      }
    }
    .form-group.v-label {
      display: flex;
      flex-direction: column;
    }
    .personal-finance {
      display: flex;
      .finance-block {
        margin-right: 16px;
        width: 301px;
        .finance-block-container {
          border: 1px solid #D9D9D9;
          border-radius: 5px;
          padding: 18px;
          height: 108px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .finance-status {
            font-size: 16px;
            color: $almost_black;
            span {
              font-weight: 600;
              color: $magical_red;
              display: inline-block;
              margin-top: 12px;
            }
          }
          .form-title {
            width: 100%;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 12px;
            color: $almost_black;
          }
          form {
            display: flex;
            width: 100%;
            .amount {
              width: calc(100% - 105px);
              height: 35px;
              border: 1px solid $secondary_gray;
              border-right: 0;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              padding: 10px 12px;
              font-size: 14px;
            }
            .btn {
              width: 105px;
              height: 35px;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              font-size: 14px;
            }
          }
        }
        .title-block {
          font-size: 16px;
          font-weight: 600;
          color: $almost_black;
          margin-bottom: 12px;
        }
      }
      .payment-description {
        margin-right: 0;
        padding-top: 30px;
        p {
          font-size: 12px;
          color: $secondary_gray;
          margin-bottom: 16px;
        }
      }
    }
    .personal-history {
      .title-block {
        font-size: 16px;
        color: $almost_black;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 44px;
      }
      .history__table-header,
      .history__table-row {
        margin-bottom: 12px;
        display: flex;
        .td-number {
          width: 200px;
        }
        .td-date {
          width: 169px;
        }
        .td-operation {
          width: 209px;
        }
        .td-status {
          width: 209px;
          font-weight: 600;
        }
        .td-stars {
          width: 156px;
        }
        .td-summ {
          width: 193px;
        }
        .td-link {
          width: 159px;
        }
      }
      .history__table-header {
        font-size: 14px;
        color: $secondary_gray;
      }
      .history__table-row {
        padding: 30px 0;
        box-shadow: $material_shadow;
        border-radius: 5px;
        text-decoration: none;
        transition: box-shadow ease-in .1s;
        .td-number {
          padding-left: 32px;
          font-size: 16px;
          color: $almost_black;
        }
        .td-date {
          font-size: 14px;
          color: $almost_black;
        }
        .td-operation {
          font-size: 16px;
          font-weight: 600;
          color: $secondary_gray;
        }
        .td-summ {
          color: $secondary_gray;
          font-size: 14px;
        }
        .td-link {
          font-size: 14px;
          font-weight: 600;
          color: $secondary_gray;
          a {
            text-decoration: none;
            color: $secondary_gray;
          }
          a:hover {
            color: $magical_red;
          }
        }
      }
      .order-matching {
        .td-status {
          color: $orange_box;
        }
      }
      .order-moderating {
        .td-status {
          color: $magical_red;
        }
      }
      .order-completed {
        .td-status {
          color: $secondary_gray;
        }
      }
      a.history__table-row:hover {
        box-shadow: $high_shadow;
        .td-link {
          color: $magical_red;
        }
      }
    }
    .w-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        margin-top: 5px;
        margin-bottom: 32px;
        font-size: 14px;
        color: $secondary_gray;
        text-decoration: none;
      }
    }
    .order__matching-legend {
      display: flex;
      margin-bottom: 32px;
      .matching__legend {
        align-items: center;
        color: $secondary_gray;
        display: flex;
        font-size: 12px;
        margin-right: 36px;
        .icon-container {
          width: 35px;
          height: 24px;
          border-radius: 5px;
          margin-right: 12px;
        }
        span {
          max-width: 250px;
        }
      }
      .matching__legend-changing {
        .icon-container {
          background-color: $magical_red;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(../images/matching_icon-changing.svg);
        }
      }
      .matching__legend-warning {
        .icon-container {
          background-color: $orange_box;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(../images/matching_icon-warning.svg);
        }
      }
      .matching__legend-okay {
        .icon-container {
          background-color: $everything_is_ok;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(../images/matching_icon-okay.svg);
        }
      }
    }
    .order__matching-content {
      > p {
        color: $almost_black;
        margin-bottom: 24px;
      }
    }
  }
  .order-lists {
    .page-title {
      h1 {
        margin-bottom: 16px;
      }
      p {
        color: $secondary_gray;
        margin-bottom: 52px;
      }
    }
    .order_list-item {
      width: 615px;
      height: 79px;
      padding: 32px 24px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-shadow: $material_shadow;
      margin-bottom: 8px;
      .order_list-name {
        width: 448px;
        color: $almost_black;
        text-decoration: none;
      }
      .order_list-add {
        margin-right: 48px;
      }
    }
  }
}

.personal-orders {
  .category__overview-container {
    border: 1px solid $just_gray;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 24px;
    .category__title {
      height: 95px;
      padding: 0 32px;
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 600;
      color: $almost_black;
      border-bottom: 1px solid $just_gray;
    }
    .category__overview--positions {
      padding: 40px 32px;
      display: flex;
      align-items: center;
      .owl-prev {
        left: 0;
      }
      .owl-next {
        right: 0;
      }
      .owl-dots {
        position: absolute;
        bottom: 13px;
        left: 40px;
        .owl-dot {
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background-color: $secondary_gray;
          border: 0;
          margin-right: 10px;
          opacity: .3;
        }
        .owl-dot.active {
          opacity: 1;
        }
      }
      .catalog__element {
        min-width: 200px;
        max-width: 200px;
        min-height: 344px;
        margin: 5px auto;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        > span {
          height: 25px;
          min-width: 25px;
          position: absolute;
          right: 15px;
          top: 110px;
          padding-top: 2px;
          background: $magical_red;
          color: $inversion;
          border-radius: 13px;
          font-size: 14px;
          display: none;
          align-items: center;
          justify-content: center;
        }
        img {
          margin-bottom: 15px;
        }
        .element__name {
          color: $secondary_gray;
          font-size: 14px;
          text-decoration: none;
          height: 53px;
          margin-bottom: 15px;
        }
        .element_price-per-item {
          color: $almost_black;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 15px;
        }
        .element_price-per-kg {
          color: $orange_box;
          font-size: 16px;
          margin-bottom: 15px;
        }
        .element__buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .btn {
            padding: 0 24px;
          }
        }
      }
    }
  }
}