.search_results {
  .w-desc {
    font-size: 14px;
    color: $secondary_gray;
  }
  .catalog__sections-result {
    display: flex;
    flex-direction: column;
    .search-results-cats {
      font-size: 16px;
      color: $almost_black;
      font-weight: 600;
      margin-bottom: 10px;
    }
    a {
      font-size: 14px;
      border-left: 5px solid transparent;
      padding-left: 18px;
      margin-left: 5px;
    }
    a.active {
      font-weight: 600;
      border-color: $magical_red;
      color: $magical_red;
    }
  }
}