.section-content {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  .page-block {
    width: calc(100% - 320px);
    .block_contacts {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 32px;
      .contact_item {
        width: 312px;
        display: flex;
        flex-direction: column;
        color: $almost_black;
        span {
          font-size: 14px;
        }
        span.phone_descr {
          font-size: 14px;
          margin-bottom: 8px;
        }
        a {
          text-decoration: none;
          font-size: 14px;
          color: inherit;
        }
        a.phone {
          display: flex;
          align-items: center;
          font-weight: 600;
          margin-bottom: 8px;
          span {
            font-size: 16px;
          }
          svg {
            margin-right: 12px;
          }
        }
      }
      .general-line {
        a.phone, .phone_descr {
          color: $magical_red;
        }
        .uptime {
          color: $secondary_gray;
          font-size: 14px;
        }
      }
    }
    .block_map {
      p {
        font-size: 14px;
        color: $almost_black;
      }
      #map {
        width: 100%;
        height: 320px;
        background-color: $secondary_gray;
        margin-top: 20px;
      }
    }
    .block__send {
      border: 1px solid $just_gray;
      border-radius: 5px;
      .send-title {
        height: 58px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        color: $magical_red;
        position: relative;
        padding: 0 12px;
        svg {
          margin-right: 12px;
        }
      }
      .send-title::after {
        content: '';
        position: absolute;
        right: 16px;
        top: 22px;
        background: url(../images/reviews-polygon.svg);
        width: 7px;
        height: 12px;
        transition: .1s all ease-in;
      }
      .send-title.active::after {
        transform: rotate(90deg);
      }
      form {
        padding: 16px 12px;
        border-top: 1px solid $just_gray;
        overflow: hidden;
        display: none;
        textarea {
          width: 100%;
          border-radius: 5px;
          border: 1px solid $just_gray;
          font-size: 14px;
          padding: 12px 16px;
          height: 105px;
          resize: none;
        }
        button {
          width: 138px;
          margin: 16px 0 4px;
          font-size: 14px;
          float: right;
          svg {
            margin-left: 12px;
          }
        }
      }
    }
    .block__element {
      margin-top: 20px;
      border-radius: 5px;
      border: 1px solid $just_gray;
      overflow: hidden;
      > div {
        padding: 20px 40px;
        color: $almost_black;
        display: flex;
        flex-direction: column;
        span, time {
          font-size: 12px;
          margin-bottom: 12px;
        }
        p {
          font-size: 14px;
        }
      }
      .element__quote {
        background-color: #F4F4F4;
        time {
          color: $secondary_gray;
        }
      }
      .element__answer {
        background-color: $inversion;
        span {
          font-weight: 600;
          color: $magical_red;
        }
      }
    }
    .delivery__block {
      background-color: $inversion;
      border: 1px solid $just_gray;
      border-radius: 5px;
      color: $almost_black;
      margin-bottom: 16px;
      > p {
        font-size: 14px;
        margin-left: 32px;
        margin-bottom: 32px;
        max-width: 362px;
      }
      p.delivery-title {
        font-weight: 600;
        font-size: 20px;
        margin: 32px 0 20px 32px;
      }
    }
    .delivery-geography {
      background: $inversion url(../images/delivery-geography.png) no-repeat 98% center;
      height: 388px;
    }
    .delivery-timing {
      p {
        margin-left: 32px;
        margin-bottom: 32px;
      }
      .delivery-timing-block {
        display: flex;
        height: 200px;
        align-items: center;
        border-top: 1px solid $just_gray;
        .timing-description {
          max-width: 394px;
        }
        .timing-picture {
          display: flex;
        }
      }
    }
    .delivery-cost {
      .cost-description {
        display: flex;
        padding: 32px 16px;
        border-top: 1px solid $just_gray;
        .cost-item {
          width: 25%;
          padding: 0 16px;
          display: flex;
          flex-direction: column;
          .item-image {
            display: flex;
            width: 100%;
            height: 94px;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
          }
          .item-title {
            font-weight: 600;
            color: $almost_black;
            font-size: 16px;
            margin-bottom: 8px;
          }
          .item-price {
            font-weight: 600;
            color: $magical_red;
            font-size: 16px;
            margin-bottom: 8px;
          }
          .item-descr {
            font-size: 14px;
            color: $almost_black;
          }
        }
      }
    }
    .delivery-matching {
      .matching-description {
        margin-left: 32px;
        margin-bottom: 32px;
        p {
          font-size: 14px;
          width: 584px;
          margin-bottom: 23px;
        }
        a {
          font-size: 16px;
          color: $magical_red;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
    .block-howto {
      background-color: $inversion;
      border: 1px solid $just_gray;
      border-radius: 5px;
      color: $almost_black;
      margin-bottom: 16px;
      padding: 32px;
      .alarm {
        font-size: 16px;
        font-weight: 600;
        color: $magical_red;
        margin-bottom: 8px;
      }
      img {
        margin: 8px 0;
        width: 100%;
      }
      p {
        font-size: 16px;
        margin-bottom: 8px;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}