<template lang="html">
  <div class="section-slider">
    <div class="container">
      <carousel
        :per-page="1"
        :paginationPadding="5"
        :paginationSize="8"
      >
        <slide>
          <div class="slide__item">
            <img src="../../assets/images/slider1.jpg" alt="">
            <p class="slide__item-header">Доставка<br/>продуктов</p>
            <p class="slide__item-description">из гипермарктов на дом и в офис</p>
          </div>
        </slide>
        <slide>
          <div class="slide__item">
            <img src="../../assets/images/slider1.jpg" alt="">
            <p class="slide__item-header">Слайд 2</p>
            <p class="slide__item-description">описание слайда</p>
          </div>
        </slide>
        <slide>
          <div class="slide__item">
            <img src="../../assets/images/slider1.jpg" alt="">
            <p class="slide__item-header">Слайд 3</p>
            <p class="slide__item-description">описание</p>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel'
export default {
  name: 'banners',
  components: {
    Carousel,
    Slide
  }
}
</script>

<style scoped lang="scss">
  .section-slider {
    margin-top: 24px;
    position: relative;
    margin-bottom: 24px;
  }
  .slide__item {
    height: 425px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-bottom: 34px;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
    p {
      position: relative;
      z-index: 1;
      color: var(--inversion);
      margin: 0;
      font-weight: 600;
    }
    .slide__item-header {
      font-size: 62px;
    }
    .slide__item-description {
      font-size: 20px;
      margin-top: 15px;
    }
  }
</style>
