:root {
  --magical_red: #E30413;
  --orange_box: #FF7800;
  --sunrise: linear-gradient(189.96deg, #F14109 14.6%, #E30413 78.23%);
  --almost_black: #474747;
  --secondary_gray: #888888;
  --just_gray: #D9D9D9;
  --inversion: #FFFFFF;
  --everything_is_ok: #64BC24;
  --box-shadow: 0 1px 14px rgba(0, 0, 0, 0.25);
}
